<button type="@@type" name="@@name" class="btn @@b-r @@border @@color @@b-c @@padding @@width @@f-s" @@disabled>
    @@text
    @@if (count === 'true') {
        <span class="btn__count">@@number</span>
    }
</button>