.btn {
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    position: relative;

    &.btn__b-r-15 {
        border-radius: 15px;
    }

    &.btn__b-r-8 {
        border-radius: 8px;
    }

    &.btn__border-none {
        border: none;
    }

    &.btn__border-1 {
        border: 1px solid;
    }

    &.btn__border-2 {
        border: 2px solid;
    }

    &.btn__color-main-order {
        color: var(--color-main-order);
        border-color: var(--color-main-order);

        &:hover {
            color: var(--color-express-card-hover);
            border-color: var(--color-express-card-hover);
        }

        &:active {
            background-color: var(--color-main-order);
            color: var(--color-white);

            .btn__count {
                background-color: var(--color-white);
            }
        }
    }

    &.btn__bg-white-2 {
        color: var(--bg-white-2);
        border-color: var(--bg-white-2);

        &:hover {
            background-color: var(--color-light-grey16);
        }

        &:active {
            background-color: var(--bg-white-2);
            color: var(--color-white);
        }
    }

    &.btn__color-input {
        color: var(--color-input);
        border-color: var(--color-input);

        &:hover {
            background-color: var(--color-light-grey21);
        }

        &:active {
            background-color: var(--color-input);
            color: var(--color-white);
        }
    }

    &.btn__color-white {
        color: var(--color-white);
        border-color: var(--color-white);

        &:hover {
            border-color: var(--color-light-grey23);
            color: var(--color-light-grey23);
        }

        &:active {
            background-color: var(--color-white);
            color: var(--bg-white-2);
            border-color: var(--color-white);
        }
    }

    &.btn__b-c-transporent {
        background-color: transparent;
    }

    &.btn__b-c-color-main-order {
        background-color: var(--color-main-order);
        color: var(--color-white);

        &:hover {
            background-color: var(--color-express-card-hover);
        }

        &:active {
            background-color: var(--color-express-card-active);
        }
    }

    &.btn__b-c-bg-white-2 {
        background-color: var(--bg-white-2);
        color: var(--color-white);

        &:hover {
            background-color: var(--color-blue-11);
        }

        &:active {
            background-color: var(--color-blue-12);
        }
    }

    &.btn__padding-10 {
        padding: 0.625rem 0;
    }

    &.btn__padding-12 {
        padding: 0.75rem 0;
    }

    &.btn__padding-14 {
        padding: 0.875rem 0;
    }

    &.btn__padding-16 {
        padding: 1rem 0;
    }

    &.btn__padding-18 {
        padding: 1.125rem 0;
    }

    &.btn__padding-20 {
        padding: 1.25rem 0;
    }

    &.btn__padding-140 {
        padding: 8.75rem 0;
    }

    &.btn__width-155 {
        width: 9.688rem;
    }

    &.btn__width-180 {
        width: 11.25rem;
    }

    &.btn__width-195 {
        width: 12.188rem;
    }

    &.btn__width-216 {
        width: 13.5rem;
    }

    &.btn__width-227 {
        width: 14.188rem;
    }

    &.btn__width-300 {
        width: 18.75rem;
    }

    &.btn__width-370 {
        width: 23.125rem;
    }

    &.btn__f-s-14 {
        font-size: 0.875rem;
    }

    &.btn__f-s-16 {
        font-size: 1rem;
    }

    &.btn__f-s-18 {
        font-size: 1.125rem;
    }

    &.btn__f-s-20 {
        font-size: 1.25rem;
    }

    &.btn__f-s-21 {
        font-size: 1.313rem;
    }

    &.btn__f-s-27 {
        font-size: 1.688rem;
    }

    .btn__count {
        background: rgba(248, 206, 255, .43);
        border-radius: 14px;
        font-weight: 700;
        font-size: .875rem;
        color: var(--color-count);
        padding: 0.189rem 0.813rem 0.063rem;
        margin-left: 0.625rem;
    }
}