@@if (document === 'none') {
    <div class="specification-document">
        <input type="file" id="specification" accept=".doc, .docx, .txt, .pdf" class="specification-document__input">
        <label for="specification" class="specification-document__label">Загрузить спецификацию<span class="specification-document__file"> (pdf, doc)</span><span class="icon icon-plus specification-document__plus"></span></label>
    </div>
    }

    @@if (document === 'downloaded') {
        <div class="specification-document">
            <input type="file" id="specification" accept=".doc, .docx, .txt, .pdf" class="specification-document__input">
            <label for="specification" class="specification-document__label specification-document__label--downloaded">Название спецификации.<span class="specification-document__file">pdf</span><span class="icon icon-check_mark sspecification-document__check"></span></label>
        </div>
    }