.specification-document {
    &__label--downloaded {
        background: var(--bg-white-1);
        border: none;
    }

    &__label {
        border: 1px solid var(--color-blue-19);
        border-radius: 8px;
        font-size: 1.125rem;
        color: var(--color-blue-19);
        cursor: pointer;
        display: block;
        width: 23.125rem;
        line-height: 3.125rem;
        text-align: left;
        padding-left: 1.25rem;
        position: relative;
    }

    &__file {
        font-size: 0.875rem;
    }

    &__plus {
        font-size: 1rem;
        top: 1.063rem;
        position: absolute;
        right: 1.625rem;
    }

    &__check {
        font-size: 1.25rem;
    }

}