<div class="card  @@card-type" data-price="@@data-price" data-status="@@data-status" data-id="" data-rating="@@data-rating" data-footer="@@data-footer">
    <div class="card__body">

        <div class="card__type">
            <div class="card__type-svg icon">
                @@card__type-svg
            </div>
            <div class="card__type-text">
                @@card__type-text
            </div>
        </div>

        <div class="card__content">

            <div class="card__order">
                <div class="card__num-order">
                    <div class="card__num-order-text">
                        @@num-order
                    </div>
                </div>
                <div class="card__data">
                    <div class="card__data-text">
                        @@date <span>@@time</span>
                    </div>
                </div>
            </div>

            <div class="card__adress">
                <div class="card__adress-text">
                    <span class="icon icon-adress_in"></span> @@adress
                </div>

            </div>
            <div class="card__name">
                <span class="card__img"><img src="@@webRoot/img/photo.png" alt=""></span>
                <p class="card__name-text">
                    @@name
                </p>
            </div>
            <div class="card__status">
                <div class="card__status-text">
                    @@status
                </div>
                <div class="card__status-img">
                </div>
            </div>
            <div class="card__rating" style="--rating-value: 0">
                <div class="rating__stars">
                    <span class="icon icon-star-border"></span>
                    <span class="icon icon-star-border"></span>
                    <span class="icon icon-star-border"></span>
                    <span class="icon icon-star-border"></span>
                    <span class="icon icon-star-border"></span>
                </div>
                <div class="card__scale"></div>
            </div>
        </div>

        <div class="card__price">
            <div class="card__price-text">
                @@price <span class="icon icon-rub"></span>
            </div>
        </div>
    </div>

    <div class="card__footer">
        <div class="card__number">
            <ul class="list_number">
                <li>@@phone.call <span class="icon icon-call"></span></li>
                <li>@@phone.telegram <span class="icon icon-telegram"></span></li>
                <li>@@phone.viber <span class="icon icon-viber"></span></li>
                <li>@@phone.whatsapp <span class="icon icon-whatsapp"></span></li>
            </ul>
        </div>
        <div class="card__arrow">
            <span class="icon icon-arrow"></span>
        </div>
    </div>
</div>