.title-wrap {
    position: relative;
    margin: 11.99vh 0 6.475vh 0;
    vertical-align: middle;

    &--margin-bottom-35 {
        margin-bottom: 4.253vh;
    }

    &--margin-71-77 {
        margin: 9.356vh 0 8.627vh 0;
    }

    &--margin-20-20 {
        margin: 2.43vh 0;
    }
}

.title {
    font-size: 2.916vh;
    text-align: center;
    color: var(--color-absolut);
    margin: 0;


    &--margin-bottom {
        margin-bottom: 3.159vh;
    }

    &--margin-bottom-35 {
        margin-bottom: 4.253vh;
    }

    &--width {
        display: inline-block;
        width: 84%;
    }

    &--f-s-19 {
        font-size: 2.309vh;
    }

    &--f-s-24 {
        font-size: 2.916vh;
    }

    &--f-w-middle {
        font-weight: 500;
    }

    &--f-w-bold {
        font-weight: 700;
    }

    &--t-a-left {
        text-align: left;
    }

    &__icon-arrow {
        position: absolute;
        left: 0;
        top: 8px;
        transform: rotate(90deg);
        font-size: 2.673vh;

        &--block {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            top: -3px;
        }
    }

    &__done {
        font-weight: 700;
        font-size: 2.066vh;
        color: var(--color-main-order);
        position: absolute;
        top: 12px;
        right: 0;
    }

    &__question-mark {
        height: 3.037vh;
        filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.12));
        display: inline-block;
        position: relative;
        z-index: 999;

        &-icon {
            font-size: 2.916vh;
            color: var(--color-dark-grey);
            position: relative;
            vertical-align: middle;
            z-index: 9;
            font-weight: 500;

            &::after {
                content: "\e943";
                font-family: 'agropoisk' !important;
                position: relative;
            }
        }
    }

    &__icon-filter {
        position: absolute;
        top: 0.972vh;
        right: 1.579vh;
        color: var(--color-main-order);
        font-size: 1.458vh;
    }
}