<div class="title-wrap @@margin">

    @@if (arrow === 'true') {
    <span class="icon icon-arrow title__icon-arrow @@icon-arrow"></span>
    }

    <h2 class="title @@margin-bottom @@width @@f-s @@f-w @@t-a">
        @@text
    </h2>

    @@if (item === 'text') {
    <span class="title__done">Готово</span>
    }

    @@if (item === 'icon') {
    <div class="title__question-mark">
        <span class="title__question-mark-icon"></span>
    </div>
    }

    @@if (item === 'icon-filter') {
    <span class="title__icon-filter icon icon-filter"></span>
    }

    @@if (item === 'help') {
    @@include('../question_mark/question-mark.html', {"text":"small"})
    }
</div>