<div class="courier-card @@status">
    <div class="courier-card__header">
        <span class="courier-card__title">Карточка заказа</span>
        <span class="icon icon-cross"></span>
    </div>
    <div class="courier-card__body">
        <div class="courier-card__data">
            <div class="courier-card__img">
                <img src="@@webRoot/img/photo2.png" alt="" class="courier-card__photo">
            </div>
            <div class="courier-card__summary">
                <div class="courier-card__name">
                    <span class="courier-card__name-bold">Василий Васильев</span><span class="courier-card__year">(24
                        года)</span>
                </div>
                <div class="courier-card__rating">
                    <span class="icon icon-star_rating"></span><span class="courier-card__grade">4,7</span>
                </div>
                <div class="courier-card__resume">
                    <button class="courier-card__download">Скачать резюме <span
                            class="icon icon-download"></span></button>
                </div>
            </div>
        </div>
        <div class="courier-card__contacts">
            <span class="courier-card__contacts-text">Контактная информация</span><span
                class="icon icon-call"></span><span class="icon icon-telegram"></span><span
                class="icon icon-whatsapp"></span><img src="@@webRoot/img/yandex.png" alt="" class="courier-card__ya">
        </div>
        <div class="courier-card__info">
            <div class="courier-card__options">
                <div class="courier-card__options-row">
                    <span class="courier-card__caption">Владение русским языком:</span><span
                        class="courier-card__desc">Родной</span>
                </div>
                <div class="courier-card__options-row">
                    <span class="courier-card__caption">Налоговый режим:</span><span
                        class="courier-card__desc">Самозанятый</span>
                </div>
                <div class="courier-card__options-row">
                    <span class="courier-card__caption">Категория:</span><span class="courier-card__desc">Неработающий,
                        Курьер с ОВЗ</span>
                </div>
                <div class="courier-card__options-row">
                    <span class="courier-card__caption">Вес заказов:</span><span class="courier-card__desc">Не более 5
                        кг</span>
                </div>
                <div class="courier-card__options-row">
                    <span class="courier-card__caption">Габариты до:</span><span class="courier-card__desc">20 x 30 x 50
                        см</span>
                </div>
            </div>
            <div class="courier-card__note">
                <div class="courier-card__options-row">
                    <span class="courier-card__caption">Выполнено всего заказов:</span><span
                        class="courier-card__desc courier-card__desc--amount">45</span>
                </div>
                <div class="courier-card__text-input">
                    <textarea class="courier-card__text-input-textarea"></textarea>
                </div>

            </div>
        </div>
        <div class="courier-card__parameters">
            <div class="courier-card__options-row">
                <span class="courier-card__caption">Тип доставки:</span>
                <div class="courier-card__row">
                    @@loop('../../../../../../elements/type_item/type-item.html',
                    [{"id": "on-cargo",
                    "name": "on-cargo",
                    "text": "Грузовой",
                    "type": "",
                    "parcel": "true",
                    "type-item__icon": "&#xe92a",
                    "radio-checkbox": ""
                    },
                    {"id": "on-foot",
                    "name": "on-foot",
                    "text": "Пеший",
                    "type": "",
                    "parcel": "true",
                    "type-item__icon": "&#xe929",
                    "radio-checkbox": ""
                    }])
                </div>
            </div>
            <div class="courier-card__options-row courier-card__options-row--start">
                <span class="courier-card__caption">Виды заказа:</span>
                <div class="courier-card__row">
                    @@loop('../../../../../../elements/type_item/type-item.html',
                    [{"id": "food", "name": "food", "text": "Еда", "type": "", "parcel": "false",
                    "type-item__icon": "", "radio-checkbox": ""},
                    {"id": "box", "name": "box", "text": "Коробка", "type": "", "parcel": "false",
                    "type-item__icon": "", "radio-checkbox": ""},
                    {"id": "box", "name": "box", "text": "Коробка", "type": "", "parcel": "false",
                    "type-item__icon": "", "radio-checkbox": ""},
                    {"id": "box", "name": "box", "text": "Коробка", "type": "", "parcel": "false",
                    "type-item__icon": "", "radio-checkbox": ""},
                    {"id": "box", "name": "box", "text": "Коробка", "type": "", "parcel": "false",
                    "type-item__icon": "", "radio-checkbox": ""},
                    {"id": "box", "name": "box", "text": "Коробка", "type": "", "parcel": "false",
                    "type-item__icon": "", "radio-checkbox": ""},
                    {"id": "box", "name": "box", "text": "Коробка", "type": "", "parcel": "false",
                    "type-item__icon": "", "radio-checkbox": ""},
                    {"id": "box", "name": "box", "text": "Коробка", "type": "", "parcel": "false",
                    "type-item__icon": "", "radio-checkbox": ""},
                    {"id": "box", "name": "box", "text": "Коробка", "type": "", "parcel": "false",
                    "type-item__icon": "", "radio-checkbox": ""},
                    {"id": "box", "name": "box", "text": "Коробка", "type": "", "parcel": "false",
                    "type-item__icon": "", "radio-checkbox": ""}])
                </div>
            </div>
        </div>
        <div class="courier-card__buttons">
            @@include('../../../../../../elements/button/button.html', {"type": "", "name": "", "text": "Посмотреть зоны", "count": "", "b-r": "btn__b-r-15", "border": "btn__border-2", "color": "btn__color-main-order",
            "b-c": "btn__b-c-transporent", "padding": "btn__padding-16", "width": "btn__width-300", "f-s": "btn__f-s-16"})
            @@include('../../../../../../elements/button/button.html', {"type": "", "name": "", "text": "Отказаться от сотрудничества", "count": "", "b-r": "btn__b-r-15", "border": "btn__border-2", "color": "btn__color-input",
            "b-c": "btn__b-c-transporent", "padding": "btn__padding-16", "width": "btn__width-300", "f-s": "btn__f-s-16"})
            @@include('../../../../../../elements/button/button.html', {"type": "", "name": "", "text": "Отказаться от сотрудничества", "count": "", "b-r": "btn__b-r-15", "border": "btn__border-2", "color": "",
            "b-c": "btn__b-c-color-main-order", "padding": "btn__padding-16", "width": "btn__width-300", "f-s": "btn__f-s-16"})
        </div>
    </div>
</div>