.courier-card {
    width: 42.313rem;
    border-radius: 15px;
    font-size: 0.875rem;
    margin-bottom: 1.25rem;
    page-break-inside: avoid;

    &.send {
        background-color: var(--bg-white-1);
        color: var(--color-main-order);

        .courier-card__download {
            color: var(--color-main-order);
            border-color: var(--color-main-order);

            &:hover {
                color: var(--color-express-card-active);
                border-color: var(--color-express-card-active);
            }

            &:active {
                background-color: var(--color-main-order);
                color: var(--color-white);
            }
        }

        .courier-card__contacts {
            background-color: var(--color-light-grey14);
        }

        .courier-card__desc--amount {
            background-color: var(--color-main-order);
        }

        .courier-card__text-input-textarea {
            color: var(--color-main-order);
        }

        .type-item__div {
            background-color: var(--color-main-order);
        }

        .btn {
            &:hover {
                background-color: var(--color-light-grey15);
            }

            &:active {
                background-color: var(--color-main-order);
                color: var(--color-white);
            }

            &.btn__b-c-color-main-order {
                &:hover {
                    background-color: var(--color-express-card-hover);
                }

                &:active {
                    background-color: var(--color-express-card-active);
                }
            }

            &.btn__color-input {
                &:hover {
                    background-color: var(--color-light-grey21);
                }

                &:active {
                    background-color: var(--color-input);
                    color: var(--color-white);
                }
            }

        }

        .icon-call {
            color: var(--color-main-order);
        }
    }

    &.sent {
        background-color: var(--color-light-grey16);
        color: var(--bg-white-2);

        .courier-card__download {
            color: var(--bg-white-2);
            border-color: var(--bg-white-2);

            &:hover {
                color: var(--color-blue-12);
                border-color: var(--color-blue-12);
            }

            &:active {
                background-color: var(--bg-white-2);
                color: var(--color-white);
            }
        }

        .courier-card__contacts {
            background-color: var(--color-light-grey17);
        }

        .courier-card__desc--amount {
            background-color: var(--bg-white-2);
        }

        .courier-card__text-input-textarea {
            color: var(--bg-white-2);
        }

        .type-item__div {
            background-color: var(--bg-white-2);
            border-color: var(--bg-white-2);
        }

        .btn {
            color: var(--bg-white-2);
            border-color: var(--bg-white-2);

            &:hover {
                background-color: var(--color-light-grey16);
            }

            &:active {
                background-color: var(--bg-white-2);
                color: var(--color-white);
            }

            &.btn__b-c-color-main-order {
                background-color: var(--bg-white-2);
                ;
                color: var(--color-white);
                border-color: var(--bg-white-2);

                &:hover {
                    background-color: var(--color-blue-11);
                }

                &:active {
                    background-color: var(--color-blue-12);
                }
            }

            &.btn__color-input {
                color: var(--color-input);
                border-color: var(--color-input);

                &:hover {
                    background-color: var(--color-light-grey21);
                }

                &:active {
                    background-color: var(--color-input);
                    color: var(--color-white);
                }
            }
        }

        .icon-call {
            color: var(--bg-white-2);
        }
    }

    &.accept {
        background-color: var(--color-light-grey18);
        color: var(--color-card);

        .courier-card__download {
            color: var(--color-card);
            border-color: var(--color-card);
        }

        .courier-card__contacts {
            background-color: var(--color-light-grey19);
        }

        .courier-card__desc--amount {
            background-color: var(--color-card);
        }

        .courier-card__text-input-textarea {
            color: var(--color-card);
        }

        .type-item__div {
            background-color: var(--color-card);
            border-color: var(--color-card);
        }

        .btn {
            color: var(--color-card);
            border-color: var(--color-card);

            &:hover {
                background-color: var(--color-light-grey20);
            }

            &:active {
                background-color: var(--color-card);
                color: var(--color-white);
            }

            &.btn__b-c-color-main-order {
                background-color: var(--color-card);
                ;
                color: var(--color-white);
                border-color: var(--color-card);

                &:hover {
                    background-color: var(--color-blue-13);
                }

                &:active {
                    background-color: var(--color-blue-14);
                }
            }

            &.btn__color-input {
                color: var(--color-input);
                border-color: var(--color-input);

                &:hover {
                    background-color: var(--color-light-grey21);
                }

                &:active {
                    background-color: var(--color-input);
                    color: var(--color-white);
                }
            }
        }

        .icon-call {
            color: var(--color-card);
        }
    }

    &__header {
        border-bottom: 1px solid;
        position: relative;
        padding: 0.75rem 0;
        text-align: center;

        .courier-card__title {
            font-weight: 700;
            font-size: 1.438rem;
        }

        .icon-cross {
            position: absolute;
            font-size: 1.563rem;
            top: 0.813rem;
            right: 0.938rem;
            cursor: pointer;
        }
    }

    &__options-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0.625rem;
    }

    &__caption {
        font-weight: 700;
        font-size: 0.938rem;
        margin-right: 1.125rem;
        line-height: 1.938rem;
        white-space: nowrap;
    }

    &__desc {
        font-size: 0.875rem;
    }

    /*-----------*/

    &__data {
        padding: 1rem 1.5rem;
        display: flex;
        flex-direction: row;


    }

    &__img {
        display: inline-block;
        overflow: hidden;
        width: 6.5rem;
        height: 6.5rem;
        border-radius: 50%;
        position: relative;
        margin-right: 2.25rem;


    }

    &__photo {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
    }

    &__name {
        margin-bottom: 0.313rem;


    }

    &__name-bold {
        font-weight: 500;
        font-size: 1.25rem;
        margin-right: 0.313rem;
    }

    &__year {
        font-weight: 400;
        font-size: 0.875rem;
    }

    &__rating {
        margin-bottom: 1.688rem;
        display: flex;
        align-items: flex-end;

        .icon-star_rating {
            font-size: 1.125rem;
            margin-right: 0.313rem;
        }

        .courier-card__grade {
            font-size: 0.875rem;
        }
    }

    &__resume {
        .courier-card__download {
            border: 1px solid;
            border-radius: 15px;
            padding: 0.5rem 1.4rem 0.5rem 1.75rem;
            background-color: transparent;
            font-size: 0.875rem;

            .icon-download {
                margin-left: 1.25rem;
            }

            &:hover {
                border-color: var(--color-express-card-active);
                color: var(--color-express-card-active);
            }

            &:active {
                background-color: var(--color-express-card-active);
                color: var(--color-white);
            }
        }
    }

    &__contacts {
        padding: 0.875rem 0;
        display: flex;
        justify-content: center;


    }

    &__contacts-text {
        font-weight: 700;
        font-size: 1rem;
    }

    .icon-call,
    .icon-telegram,
    .icon-whatsapp {
        font-size: 1.125rem;
        margin: 0 0.781rem;
        cursor: pointer;
    }

    .icon-telegram {
        color: var(--color-telegram);
    }

    .icon-whatsapp {
        color: var(--color-whatsapp);
    }

    &__ya {
        margin: 0 0.781rem;
        cursor: pointer;
    }

    &__info {
        padding: 1.25rem 1.5rem 0.938rem 1.5rem;
        display: flex;


    }

    &__options {
        flex: 0 0 50%;
    }

    &__note {
        flex: 0 0 50%;


    }

    &__desc--amount {
        font-weight: 700;
        font-size: 1.188rem;
        color: var(--color-white);
        border-radius: 42px;
        padding: 0.25rem 1.563rem;
    }

    &__text-input {
        height: 4.375rem;
        width: 100%;
        border: 1px solid;
        border-radius: 15px;
        padding: 0.625rem 0.313rem 0.625rem 0.625rem;
        margin-top: 0.625rem;


    }

    &__text-input-textarea {
        resize: none;
        height: 100%;
        width: 100%;
        border: 0px;
        background-color: transparent;
        font-size: 0.625rem;

        &::-webkit-scrollbar {
            width: 0.25rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--color-dark-grey);
            border-radius: 3px;
        }
    }

    &__parameters {
        padding: 0 1.5rem 1.875rem 1.5rem;


    }

    &__options-row {
        .courier-card__row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__options-row--start {
        align-items: flex-start;

        .courier-card__caption {
            margin-right: 1.375rem;
        }
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 1.25rem;
        padding: 0 1.5rem 1.25rem 1.5rem;

        .btn {
            width: 18.75rem;
            font-size: 1rem;
            padding: 1rem 1.875rem;
        }
    }
}