<div id="@@id" class="popup">
    <div class="popup__body @@width @@position">
        <div class="popup__content">

            @@if (title === 'true') {
            <div class="popup__title">
                <span class="popup__title-text @@f-s">@@title-text</span>
            </div>
            }

            @@if (cont === 'delivery-zones') {
            <div class="popup__content-delivery-zones">
                <span class="popup__content-text">Для того что бы менять радиус зоны доставки, двумя пальцами приблизте
                    или отдалите экран</span>
                <img src="@@webRoot/img/zoom_in_out.png" alt="" class="popup__delivery-zones-img">
                <span class="popup__content-text">Что бы найти себя на карте, нажмите на иконку геолокации (в правом
                    нижнем углу)</span>
                <img src="@@webRoot/img/vector.png" alt="" class="popup__delivery-zones-img">
                @@include('../../../components/elements_mobile/button/button.html',
                {"type": "", "name": "", "b-r": "btn--b-r-8", "border": "btn--border-none", "color":
                "", "b-c": "btn--b-c-color-main-order", "padding": "btn--padding-8", "width": "btn--width-150", "f-s":
                "btn--f-s-21", "f-w":
                "btn--f-w-700", "text": "Хорошо!", "icon": "", "number":""})
            </div>
            }

            @@if (cont === 'new-adress') {
            <div class="popup__content-new-adress">
                <span class="popup__content-text">Создайте точку, где вы будите забирать, доставлять, или то и
                    другое</span>
                <div class="popup__btn popup__btn--row">
                    @@include('../../../components/elements_mobile/button/button.html',
                    {"type": "", "name": "", "b-r": "btn--b-r-8", "border": "btn--border-2", "color":
                    "btn--color-main-order", "b-c":
                    "", "padding": "btn--padding-13", "width": "btn--width-150", "f-s": "btn--f-s-14", "f-w":
                    "btn--f-w-700", "text": "Доставлять заказы", "icon": "", "number":""})

                    @@include('../../../components/elements_mobile/button/button.html',
                    {"type": "", "name": "", "b-r": "btn--b-r-8", "border": "btn--border-2", "color":
                    "btn--color-main-order", "b-c":
                    "", "padding": "btn--padding-13", "width": "btn--width-150", "f-s": "btn--f-s-14", "f-w":
                    "btn--f-w-700", "text": "Забирать заказы", "icon": "", "number":""})
                </div>
                <div class="popup__btn">
                    @@include('../../../components/elements_mobile/button/button.html',
                    {"type": "", "name": "", "b-r": "btn--b-r-8", "border": "btn--border-2", "color":
                    "btn--color-main-order", "b-c":
                    "", "padding": "btn--padding-8", "width": "btn--width-150", "f-s": "btn--f-s-21", "f-w":
                    "btn--f-w-700", "text": "Готово!", "icon": "", "number":""})
                </div>
            </div>
            }

            @@if (cont === 'my-adresses') {
            <div class="popup__content-my-adresses">
                <span class="popup__content-text">
                    На этом экране указаны все ваши адреса(точки) к которым вы применими следующие характеристики:
                    название, адрес, дни недели, время, способ доставки
                </span>

            </div>
            }

            @@if (cont === 'delete-card') {
            <div class="popup__content-delete-card">

            </div>
            }

            @@if (cont === 'adress-text') {
            <div class="popup__adress">
                <span class="popup__adress-text">
                    На этом экране указаны все ваши адреса(точки) к которым вы применими следующие характеристики:
                    название, адрес, дни недели, время, способ доставки
                </span>
                @@include('../../../components/elements_mobile/button/button.html',
                {"type": "", "name": "", "b-r": "btn--b-r-8", "border": "btn--border-none", "color":
                "", "b-c": "btn--b-c-color-main-order", "padding": "btn--padding-8", "width": "btn--width-150", "f-s":
                "btn--f-s-21", "f-w":
                "btn--f-w-700", "text": "Готово!", "icon": "", "number":""})

            </div>
            }

            @@if (cont === 'adress-btn') {
            <div class="popup__adress-btn">
                @@include('../../../components/elements_mobile/button/button.html',
                {"type": "", "name": "", "b-r": "btn--b-r-8", "border": "btn--border-2", "color":
                "btn--color-main-order", "b-c":
                "", "padding": "btn--padding-8", "width": "btn--width-110", "f-s": "btn--f-s-21", "f-w":
                "btn--f-w-700", "text": "Нет", "icon": "", "number":""})
                @@include('../../../components/elements_mobile/button/button.html',
                {"type": "", "name": "", "b-r": "btn--b-r-8", "border": "btn--border-none", "color":
                "", "b-c": "btn--b-c-color-main-order", "padding": "btn--padding-8", "width": "btn--width-110", "f-s":
                "btn--f-s-21", "f-w":
                "btn--f-w-700", "text": "Да!", "icon": "", "number":""})

            </div>
            }

            @@if (cont === 'sort-type') {
            <div class="popup__sort-type">
                <input type="button" class="popup__sort-type-input popup__sort-type-input--active" value="По времени">
                <input type="button" class="popup__sort-type-input" value="Цена по убыванию">
            </div>
            }

            @@if (cont === 'not-pick-up') {
            <div class="popup__not-pick-up">
                <span class="popup__not-pick-up-text">Если по каким то причинам Вам не удалось забрать заказ, нажмите на кнопку “Не забрал”</span>
                <div class="popup__not-pick-up-btn">
                    @@include('../../../components/elements_mobile/button/button.html',
                    {"type": "", "name": "", "b-r": "btn--b-r-8", "border": "btn--border-2", "color":
                    "btn--color-white", "b-c":
                    "btn--b-c-color-main-order", "padding": "btn--padding-13", "width": "btn--width-150", "f-s": "btn--f-s-14", "f-w":
                    "btn--f-w-700", "text": "Отмена", "icon": "", "number":""})
                    @@include('../../../components/elements_mobile/button/button.html',
                    {"type": "", "name": "", "b-r": "btn--b-r-8", "border": "btn--border-none", "color":
                    "", "b-c": "btn--b-c-red", "padding": "btn--padding-13", "width": "btn--width-150",
                    "f-s":
                    "btn--f-s-14", "f-w":
                    "btn--f-w-700", "text": "Не забрал", "icon": "", "number":""})
                </div>
            </div>
            }

            @@if (cont === 'not-deliver') {
                <div class="popup__not-deliver">
                    <span class="popup__not-deliver-text">Если по каким то причинам Вам не удалось доставить заказ, нажмите на кнопку “Не доставил”</span>
                    <div class="popup__not-deliver-btn popup__not-deliver-btn--margin">
                        @@include('../../../components/elements_mobile/button/button.html',
                    {"type": "", "name": "", "b-r": "btn--b-r-8", "border": "btn--border-2", "color":
                    "btn--color-white", "b-c":
                    "btn--b-c-color-main-order", "padding": "btn--padding-13", "width": "btn--width-150", "f-s": "btn--f-s-14", "f-w":
                    "btn--f-w-700", "text": "Отмена", "icon": "", "number":""})
                    @@include('../../../components/elements_mobile/button/button.html',
                    {"type": "", "name": "", "b-r": "btn--b-r-8", "border": "btn--border-none", "color":
                    "", "b-c": "btn--b-c-red", "padding": "btn--padding-13", "width": "btn--width-150",
                    "f-s":
                    "btn--f-s-14", "f-w":
                    "btn--f-w-700", "text": "Не доставил", "icon": "", "number":""})
                    </div>
                </div>
            }
        </div>
    </div>
</div>