.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 39, 39, 0.6);
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;



    &__body {
        background-color: var(--color-white);
        color: var(--color-input);
        border-radius: 15px;
        transition: all 0.8s ease 0s;
        position: absolute;


        &--width-70 {
            width: 70%;
        }

        &--width-90 {
            width: 90%;
        }

        &--width-96 {
            width: 96%;
        }

        &--position-25-5 {
            top: 25%;
            left: 5%;
        }

        &--position-25-15 {
            top: 25%;
            left: 15%;
        }

        &--position-18-15 {
            top: 18%;
            left: 15%;
        }

        &--position-75-2 {
            top: 75.7%;
            left: 2%;
        }

        &--position-45-15 {
            top: 45%;
            left: 15%;
        }

        &--position-35-5 {
            top: 35%;
            left: 5%;
        }
    }

    &__title {
        width: 100%;
        text-align: center;
        padding: 1.458vh 0;
        border-bottom: 0.5px solid var(--color-light-grey8);
    }

    &__title-text {
        font-weight: 500;

        &--f-s-18 {
            font-size: 2.187vh;
        }

        &--f-s-14 {
            font-size: 1.701vh;
        }
    }

    &__content-new-adress,
    &__content-delivery-zones {
        margin: 3.038vh 1.337vh 3.767vh 1.337vh;
        text-align: center;
    }

    &__content-delivery-zones {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__content-text {
        font-size: 1.701vh;
        font-weight: 500;
        display: block;
        padding: 0 2.6vh;
    }

    &__btn {
        margin: 2.187vh 0 2.309vh 0;
        display: flex;
        justify-content: center;

        .btn {
            margin: 1.094vh;
        }
    }

    &__delivery-zones-img {
        margin: 1.823vh 0 3.038vh 0;
    }

    &__adress {
        padding: 3.038vh 2.43vh 1.823vh 2.43vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__adress-text {
        font-weight: 500;
        font-size: 1.701vh;
        display: block;
        margin-bottom: 3.038vh;
    }

    &__adress-btn {
        padding: 2.673vh 0.608vh;
        display: flex;
        justify-content: space-evenly;
    }

    &__sort-type {
        width: 100%;
        display: flex;
        flex-direction: column;

        &-input {
            padding: 2.916vh 0;
            font-weight: 400;
            font-size: 2.673vh;
            text-align: center;

            &--active {
                color: var(--color-main-order);
                font-weight: 500;
            }

            &:first-child {
                border-bottom: 0.5px solid var(--color-light-grey8);
            }
        }
    }

    &__not-pick-up,
    &__not-deliver {
        padding: 2.43vh;
        text-align: center;

        &-text {
            font-weight: 500;
            font-size: 1.701vh;
            color: var(--color-input);
        }

        &-btn {
            display: flex;
            justify-content: space-between;
            margin-top: 3.28vh;

            &--margin {
                margin-top: 2.187vh;
            }
        }
    }
}