<div class="footer">

    @@if (button === 'true') {
    <div class="footer__btn">
        @@include('../../../components/elements_mobile/button/button.html',
        {"type": "", "name": "", "b-r": "btn--b-r-8", "border": "btn--border-none", "color": "", "b-c":
        "btn--b-c-color-main-order", "padding": "btn--padding-16", "width": "", "f-s": "btn--f-s-21", "f-w":
        "btn--f-w-700", "text": "Продолжить", "icon": "", "number":""})
    </div>
    }

    @@if (number === 'true') {
        @@include('../../../components/elements_mobile/change_number_text/change-number-text.html')
    }

    <div class="footer__content">

        @@if (text === 'terms') {
        <span class="footer__text">При входе или регистрации, вы соглашаетесь с политикой конфиденциальности и условиями
            сервиса</span>
        <a class="footer__text-a">Подробнее</a>
        }

        @@if (text === 'code') {
        <span class="footer__text footer__text--center">Получить новый код можно через 00:60</span>
        }

    </div>

</div>