.footer {
    position: absolute;
    width: 100%;
    bottom: 0;

    &__content {
        border-top: 0.5px solid var(--color-dark-grey);
        width: 100%;
        font-size: 1.559vh;
        padding: 0.938rem 1.563rem 1.563rem 1.563rem;
    }

    &__text {
        color: var(--color-dark-grey);
        display: block;

        &--center {
            text-align: center;
        }
    }

    &__text-a {
        color: var(--color-input);
        display: block;
        cursor: pointer;
    }

    &__btn {
        padding: 0 2.43vh 3.645vh 2.43vh;
    }
}