<div class="reward">
    <span class="reward__title">Вознаграждение за заказ</span>
    <div class="reward__inner">
        <input type="number" id="reward" placeholder="..." class="reward__input">
        <span class="icon icon-rub"></span>
    </div>
</div>