.reward {
    margin-top: 1.563rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-size: 0.688rem;
        color: var(--color-absolut);
        text-align: center;
        margin-bottom: 0.313rem;
        font-family: 'Roboto Condensed', sans-serif;
    }

    &__inner {
        background: var(--color-main-order);
        border-radius: 15px;
        width: 7.25rem;
        height: 2.813rem;
        margin: 0;
        color: var(--color-white);
    }

    &__input {
        font-weight: 700;
        font-size: 1.125rem;
        text-align: center;
        background: transparent;
        width: 64%;
        height: 100%;
        padding: 0.75rem 0 0.75rem 0.75rem;
        color: var(--color-white);

        &::placeholder {
            color: var(--color-white);
        }
    }

    .icon-rub {
        font-size: 0.813rem;
    }
}