@@if (bg === '1') {
    <button type="@@type" name="@@name" class="btn-info" style="background-image: url(@@webRoot/img/bg_info_1.png);">
        <span class="btn-text">@@text</span>
    </button>
}

@@if (bg === '2') {
    <button type="@@type" name="@@name" class="btn-info" style="background-image: url(@@webRoot/img/bg_info_2.png);">
        <span class="btn-text">@@text</span>
    </button>
}
    