.btn-info {
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    width: 22.875rem;
    height: 24.375rem;
    background-color: var(--color-main-order);
    border-radius: 15px;
    padding: 8.75rem 0 11.563rem 0;
    color: var(--color-white);
    border: none;   
    background-repeat: no-repeat;
    background-position: center;
}

.btn-text {
    font-size: 1.688rem;
}

.icon-setting_vector {
    color: var(--color-blue-17);
    font-size: 370px;
}