.change-number {
    margin-bottom: 1.823vh;
    text-align: center;

    &__text {
        text-decoration-line: underline;
        color: var(--color-main-order);
        text-decoration-skip-ink: none;
        cursor: pointer;
    }
}