<div class="input-file @@input-file__search-courier-popap @@input-file__search-courier-popap-loaded">
    <input type="file" class="input-file__input" id="@@id" accept="@@accept">
    <label for="@@id" class="input-file__label"></label>
    @@if (arrow-br50 === 'true') {
        <span class="icon">&#xe955</span>
        }
</div>