.switch {
	label {
		cursor: pointer;
		input[type=checkbox] {
			opacity: 0;
			width: 0;
			height: 0;
			&:checked+.lever {
				background-color: var(--color-blue-3);
				outline: 1px solid var(--color-blue-3);
				&:before {
					left: 25px;
				}
				&:after {
					left: 25px;
					background-image: linear-gradient(145deg, #FFC0A5 10.46%, #FF9062 91.61%);
				}
			}
		}
		.lever {
			content: "";
			display: inline-block;
			position: relative;
			width: 48px;
			height: 23px;
			background-color: inherit;
			border-radius: 15px;
			margin-right: 10px;
			-webkit-transition: background 0.3s ease;
			transition: background 0.3s ease;
			vertical-align: middle;
			margin: 0;
			outline: 1px solid var(--color-blue-3);
			&:before {
				content: "";
				position: absolute;
				display: inline-block;
				width: 27px;
				height: 27px;
				border-radius: 50%;
				left: -2px;
				top: -2px;
				-webkit-transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
				transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
				transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease;
				transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
				background-color: rgba(91, 100, 202, 0.15);
			}
			&:after {
				content: "";
				position: absolute;
				display: inline-block;
				width: 27px;
				height: 27px;
				border-radius: 50%;
				left: -2px;
				top: -2px;
				-webkit-transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
				transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
				transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease;
				transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
				background-image: linear-gradient(139.4deg, #FFCCB6 0%, #FFA682 96.87%);
				-webkit-box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
				box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
			}
		}
	}
}