<button type="@@type" name="@@name" class="btn @@b-r @@border @@color @@b-c @@padding @@width @@f-s @@f-w @@margin">
    @@text
    @@if (icon === 'true') {
        <span class="btn__icon">@@number</span>
    }
</button>