.btn {
    display: block;
    width: 100%;

    &--b-r-8 {
        border-radius: 8px;
    }

    &--b-r-15 {
        border-radius: 15px;
    }

    &--border-1 {
        border: 1px solid;
    }

    &--border-2 {
        border: 2px solid;
    }

    &--border-none {
        border: none;
    }

    &--color-main-order {
        color: var(--color-main-order);
        border-color: var(--color-main-order);
        background-color: transparent;

        &:active {
            border: 2px solid var(--color-blue-5);
            color: var(--color-blue-5);
        }
    }

    &--color-bg-white-2 {
        color: var(--bg-white-2);
        border-color: var(--bg-white-2);
        background-color: transparent;

        &:active {
            border: 2px solid var(--color-btn-active);
            color: var(--color-btn-active);
        }
    }

    &--color-white {
        color: var(--color-white);
        border-color: var(--color-white);
        background-color: transparent;

        &:active {
            background-color: var(--color-white);
            color: var(--bg-white-2);
            border-color: var(--color-white);
        }
    }

    &--b-c-color-main-order {
        background-color: var(--color-main-order);
        color: var(--color-white);

        &:active {
            background-color: var(--color-blue-5);
        }
    }

    &--b-c-bg-white-2 {
        background-color: var(--bg-white-2);
        color: var(--color-white);

        &:active {
            background-color: var(--color-btn-active);
        }
    }

    &--b-c-red {
        background-color: var(--color-red-order);
        color: var(--color-white);
    }

    &--padding-8 {
        padding: 0.972vh 0;
    }

    &--padding-13 {
        padding: 1.579vh 0;
    }

    &--padding-16 {
        padding: 2vh 0;
    }

    &--padding-20 {
        padding: 2.43vh 0;
    }

    &--width-110 {
        width: 13.365vh;
    }

    &--width-150 {
        width: 18.226vh;
    }

    &--f-s-14 {
        font-size: 1.701vh;
    }

    &--f-s-19 {
        font-size: 2.308vh;
    }

    &--f-s-21 {
        font-size: 2.551vh;
    }

    &--f-s-24 {
        font-size: 2.916vh;
    }

    &--f-w-500 {
        font-weight: 500;
    }

    &--f-w-700 {
        font-weight: 700;
    }

    &--margin-30 {
        margin-bottom: 3.645vh;
    }
}