.setting-li {
    margin: 0.938rem 1.19rem 2.5rem 1.19rem;
    color: var(--color-light-grey4);
    position: relative;

    &.active {
        color: var(--color-absolut);

        ::after {
            content: '';
            display: block;
            width: 2.125rem;
            border-bottom: 1px solid var(--color-main-order);
            position: absolute;
            bottom: -5px;
        }
    }

    .count {
        background: rgba(248, 206, 255, 0.43);
        border-radius: 14px;
        font-weight: 700;
        font-size: 0.875rem;
        color: var(--color-count);
        padding: .189rem .813rem 0.063rem 0.813rem;
        position: absolute;
        top: -10px;
        right: -28px;
    }

    .setting-li__link {
        font-size: 1rem;
        font-family: 'Roboto Condensed', sans-serif;
        letter-spacing: -0.008rem;


    }
}