.delivery-item {
    width: 7.063rem;
    height: 4.438rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
    position: relative;

    &--border-left {
        &::before {
            content: "";
            display: block;
            width: 0.031rem;
            height: 3.125rem;
            position: absolute;
            background-color: var(--color-main-order);
            top: 0;
            left: -36px;
        }
    }

    &__icon {
        font-size: 2.375rem;
    }

    &__text {
        font-size: 0.75rem;
        font-weight: 700;
        padding: 0.375rem 0.713rem;
        border: 1px solid var(--color-main-order);
        border-radius: 42px;
    }
}