<div class="rating">
    <div class="rating__stars">
        <span class="icon icon-star_rating"></span>
        <span class="icon icon-star_rating"></span>
        <span class="icon icon-star_rating"></span>
        <span class="icon icon-star_rating"></span>
        <span class="icon icon-star_rating"></span>
    </div>
</div>