.rating {
    &__stars {
        display: flex;
        flex-direction: row;
        gap: 2px;

        .icon-star_rating {
            color: var(--color-main-order);
            font-size: 2.065vh;
        }
    }
}