<div class="courier-card-preview @@status">
    <div class="courier-card-preview__content">
        <div class="courier-card-preview__header">
            <div class="courier-card-preview__img">
                <img src="@@webRoot/img/photo.png" alt="" class="courier-card-preview__photo">
            </div>
            <div class="courier-card-preview__name">
                <span class="courier-card-preview__fl-name">Василий Васильев (20 лет)</span>
                <span class="courier-card-preview__employment">(безработный, студент)</span>
            </div>
            <div class="courier-card-preview__rating">
                <span class="icon icon-star_rating"></span>
                <span class="icon icon-star_rating"></span>
                <span class="icon icon-star_rating"></span>
                <span class="icon icon-star_rating"></span>
                <span class="icon icon-star_rating"></span>                
            </div>
        </div>
        <div class="courier-card-preview__body">
            <div class="courier-card-preview__parcel-item">
                @@loop('../../../../../../elements/type_item/type-item.html', 
                [{"text": "Наборный", "type": "",  "parcel": "true", "type-item__icon": "&#xe936", "radio-checkbox": ""},
                {"text": "Грузоподъемность: 5т", "type": "", "parcel": "false", "type-item__icon": "", "radio-checkbox": ""}])
            </div>
            <div class="courier-card-preview__delivery-type">
                @@include('../../../../../../elements/type_item/type-item.html', 
                {"id": "on-cargo", "name": "on-cargo", "text": "Грузовой", "type": "", "parcel": "true", "type-item__icon": "&#xe92a", "radio-checkbox": ""})
            </div>
        </div>
        <div class="courier-card-preview__button">
            @@include('../../../../../../elements/button/button.html', {"type": "", "name": "", "text": "Отправить запрос", "count": "", "b-r": "btn__b-r-15", "border": "btn__border-2", "color": "btn__color-main-order",
            "b-c": "btn__b-c-transporent", "padding": "btn__padding-10", "width": "btn__width-227", "f-s": "btn__f-s-18"})
        </div>
    </div>
</div>