<div class="card-adress">
    <div class="card-adress__body">
        <div class="card-adress__type">
            <div class="card-adress__icons card-adress__icons--build">
                <span class="icon icon-build card-adress__icon-build"></span>
            </div>
            <div class="card-adress__icons card-adress__icons--bin">
                <span class="icon icon-bin card-adress__icon-bin"></span>
            </div>
        </div>

        <div class="card-adress__content">

            <div class="card-adress__status">
                <div class="card-adress__status-text card-adress__status-text--margin">
                    Забираю
                </div>
                <div class="card-adress__status-text card-adress__status-text--selected">
                    Доставляю
                </div>
            </div>

            <div class="card-adress__adress">
                <span class="card-adress__adress-text">Чернышевского 28 <span class="card-adress__km">1.2
                        км</span></span>
            </div>

            <div class="card-adress__date">
                <span class="card-adress__day">Вт</span>
                <span class="card-adress__day">Пт</span>
            </div>

            <div class="card-adress__time">
                День ( 12:00 - 18:00 )
            </div>

            <div class="card-adress__method">
                @@include('../type_item/type-item.html', {"type": "", "text": "На а/м", "parcel":"true",
                "type-item__icon": "&#xe92c", "background":"type-item__div--bc"})
                @@include('../type_item/type-item.html', {"type": "", "text": "Пеший", "parcel":"true",
                "type-item__icon": "&#xe929", "background":"type-item__div--bc"})
            </div>

            <div class="card-adress__point-name">
                <span class="card-adress__name">Название точки:</span><span class="card-adress__point">На работе</span>
            </div>
        </div>
    </div>
</div>