.card-adress {
    width: 100%;
    border-radius: 8px;
    background-color: var(--color-main-order);
    color: var(--bg-white-1);
    margin-bottom: 2.43vh;

    &__body {
        padding: 1.458vh 0.972vh;
        min-height: 34.143vh;
        display: table;
        width: 100%;
    }

    &__type,
    &__content {
        position: relative;
        display: table-cell;
    }

    &__type {
        width: 21%;
        text-align: center;
        border-right: 1px solid var(--bg-white-1);
    }

    &__content {
        width: 77%;
        padding-left: 2.916vh;
    }

    &__icons {
        position: absolute;

        &--build {
            font-size: 6.683vh;
            left: calc(100% / 2 - 0.5em - 4px);
            line-height: 1;
            top: calc(257px / 2 - 0.5em);
        }

        &--bin {
            font-size: 2.187vh;
            padding: 0.851vh 0 0 0;
            width: 3.888vh;
            height: 3.888vh;
            border-radius: 50%;
            background-color: var(--bg-white-1);
            color: var(--color-main-order);
            right: calc(100% / 2 - 16px + 4px);
            bottom: 0;
        }
    }

    &__content {
        width: 77%;
        padding-left: 2.916vh;
    }

    &__status {
        &-text {
            display: inline-block;
            width: calc(50% - 16px);
            text-align: center;
            padding: 0.972vh 0;
            border: 2px solid var(--bg-white-1);
            border-radius: 8px;
            font-weight: 700;
            font-size: 1.944vh;

            &--margin {
                margin-right: 2.066vh;
            }

            &--selected {
                color: var(--color-main-order);
                background-color: var(--bg-white-1);
            }
        }
    }

    &__adress {
        padding: 2.066vh 0 0.486vh 0;

        &-text {
            font-size: 2.066vh;
            font-weight: 700;
            line-height: 4.739vh;
        }
    }

    &__km {
        font-weight: 400;
        font-size: 1.701vh;
        display: block;
        float: right;
        border-left: 1px solid var(--bg-white-1);
        padding-left: 0.972vh;
        line-height: 4.739vh;
    }

    &__date,
    &__time {
        font-weight: 700;
        font-size: 2.066vh;
    }

    &__day {
        margin-right: 0.972vh;
    }

    &__time {
        margin: 1.458vh 0;
    }

    &__method {
        font-weight: 700;
        font-size: 1.701vh;
        display: flex;

        &-text {
            display: inline-block;
            margin-right: 1.458vh;
            padding: 0.6vh 1.458vh 0.8vh;
            border-radius: 42px;
            background-color: var(--bg-white-1);
            color: var(--color-main-order);
            font-weight: 700;
            margin-bottom: 1.215vh;

            &-icon {
                font-size: 2.430vh;
                margin-left: 1.215vh;
                vertical-align: text-bottom;
            }
        }
    }

    &__point-name {
        font-weight: 400;
        font-size: 1.701vh;
        margin-top: 1.215vh;
    }

    &__name {
        line-height: 3.499vh;
    }

    &__point {
        font-weight: 700;
        padding: 0.608vh 1.458vh;
        border: 1px solid var(--bg-white-1);
        border-radius: 8px;
        margin-left: 1.823vh;
        white-space: nowrap;
    }
}