.setting-subtitle {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.313rem;
    color: var(--bg-black-2);
    text-align: center;
    margin: 0.938rem 0 2.188rem 0;

    &--margin {
        margin-bottom: 0.938rem;
    }
}