<div class="dropdown @@background">
    <div class="dropdown__body">
        @@if (cont === 'instruction') {
        <div class="dropdown__filter">
            <span class="dropdown__filter-text">Фильтры помогут Вам отсортировать заказы по “Типам доставки”</span>
            <img src="@@webRoot/img/order.png" alt="" class="dropdown__filter-img dropdown__filter-img--margin">
            <span class="dropdown__filter-text">и “Видам заказов”</span>
            <img src="@@webRoot/img/type.png" alt="" class="dropdown__filter-img">
            <div class="dropdown__filter-button">
                @@include('../../../../../../elements/button/button.html', {"type": "", "name": "", "text": "Понятно!",
                "count": "", "b-r": "btn__b-r-15", "border": "btn__border-2", "color": "btn__color-white",
                "b-c": "btn__b-c-transporent", "padding": "btn__padding-12", "width": "btn__width-180", "f-s":
                "btn__f-s-14"})
            </div>

        </div>
        }

        @@if (cont === 'text') {
            <div class="dropdown__text @@color">
                <span class="dropdown__text-span @@underline">@@text</span>
                <span class="icon icon-cross"></span>
            </div>
        }

        @@if (cont === 'rate-courier') {
            <div class="dropdown__rate-courier">
                <div class="dropdown__rate-courier-info">
                    <span class="dropdown__rate-courier-text">Оцените курьера:</span>
                    <span class="dropdown__rate-courier-photo"><img src="../../photo.png" alt="" class="dropdown__rate-courier-img"></span>
                    <span class="dropdown__rate-courier-name">Василий Васильев</span>
                </div>
                <div class="dropdown__rate-courier-stars">
                    <span class="icon icon-star-border"></span>
                    <span class="icon icon-star-border"></span>
                    <span class="icon icon-star-border"></span>
                    <span class="icon icon-star-border"></span>
                    <span class="icon icon-star-border"></span>
                </div>
                <span class="icon icon-cross"></span>
            </div>
        }

    </div>
</div>