.dropdown {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    visibility: visible;
    z-index: 55;
    opacity: 1;
    overflow: hidden;
    transition-property: opacity, visibility;
    transition-duration: 1s, 1s;
    transition-delay: 1s, 3s;

    &--bc {
        background: rgba(39, 39, 39, 0.6);
    }

    &__body {
        transition-property: top;
        transition-duration: 1s;
        transition-delay: 1s;
        flex-direction: column;
        width: 100%;
        position: absolute;
        z-index: 99;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__filter {
        background-color: var(--bg-white-2);
        color: var(--color-white);
        font-weight: 500;
        width: 100%;
        padding: 1.875rem 0px 0.938rem 0.75rem;
        height: 10.5rem;
    }

    &__filter-text {
        font-size: 0.875rem;
        font-weight: 500;
    }

    &__filter-img {
        height: 2.375rem;


        &--margin {
            margin: 0 0.938rem;
        }
    }

    &__filter-button {
        display: flex;
        justify-content: center;
        margin-top: 2.188rem;
    }

    &__text,
    &__rate-courier {
        width: 100%;
        height: 2.75rem;
        position: absolute;
        z-index: 99;
        left: 0;
        top: 0;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-white);

        &--red {
            background-color: var(--color-red-dropdown);
        }

        &--blue {
            background-color: var(--color-blue-10);
            color: var(--color-main-order);
        }

        &--dark-blue {
            background-color: var(--color-main-order);
        }
    }

    &__text-span {
        font-size: 0.875rem;

        &--underline {
            text-decoration: underline;
            text-decoration-skip-ink: none;
        }

    }

    &__rate-courier {
        background-color: var(--color-blue-10);
        color: var(--color-main-order);
    }



    &__rate-courier-info {
        display: flex;
        align-items: center;
    }

    &__rate-courier-text,
    &__rate-courier-name {
        font-size: 0.875rem;
    }

    &__rate-courier-photo {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        overflow: hidden;
        border-radius: 50%;
        position: relative;
        margin: 0 15px 0 75px;
    }

    &__rate-courier-img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
    }

    &__rate-courier-stars {
        margin-left: 1.25rem;
    }
}

.icon-cross {
    position: absolute;
    right: 54px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
}

.icon-star-border {
    color: var(--color-main-order);
    font-size: 1.563rem;
}