<div class="menu__place-order">
    <div class="menu__button">
        <div class="menu__text-button">
            <a href="">Разместить заказ <span class="icon icon-baket_new"></span></a>
        </div>
    </div>
</div>