.menu__place-order {
    padding: 0 0.938rem;

    .menu__button {
        background-color: var(--color-green);
        border-radius: 8px;
        color: var(--color-white);

        .menu__text-button {
            a {
                font-size: 0.875rem;
                font-weight: 700;
                display: flex;
                padding: 0.563rem 1.063rem;

                span.icon {
                    font-size: 2rem;
                }
            }
        }
    }
}