<div class="input-photo">
    <label for="input-photo" class="input-photo__label" id="img-logo"></label>
    <span class="icon icon-camera input-photo__icon"></span>
    
    @@if (text === 'make-photo') {
       <span class="input-photo__text">Сделать фото</span> 
    }

    @@if (text === 'new-photo') {
        <span class="input-photo__text input-photo__text--icon input-photo__text--underline">Сделать фото заново</span> 
     }
    
    <input id="input-photo" type="file" class="input-photo__input" accept="image/jpeg,image/png">
</div>