.main-content__header,
.main-content__parameters {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content__header--col {
    flex-direction: column;
    align-items: flex-start!important;

    .main-content__parameters {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0 0 1.625rem 0;
    }
}

.main-content__parameters {
    padding: 1.25rem 0 1.625rem 0;
    width: 100%;
}