<div id="@@id" class="popup-error">
    <div class="popup-error__body">
        <div class="popup-error__content">
            <span class="popup-error__text">Вы ввели неверный код! Запросите код повторно</span>
        </div>
    </div>
</div>