.popup-error {
    width: 100%;
    position: absolute;
    top: 0.607vh;

    &__body {
        margin: 0 auto;
        width: 90%;
    }

    &__content {
        background-color: var(--color-white);
    color: var(--color-input);
    padding: 2.795vh 2.309vh;
    border-radius: 8px;
    box-shadow: 0px 3px 10px rgb(0 0 0 / 10%);
    text-align: center;
    font-size: 1.701vh;
    }
}