.tariff {
    width: 60.625rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;

    &__wrap {
        height: 25rem;
        width: 18.125rem;
    }

    &__label {
        background: var(--color-blue-15);
        border-radius: 15px;
        padding: 1.75rem;
        color: var(--color-blue-16);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: space-between;
        cursor: pointer;

        &:hover {
            background: var(--bg-white-1);
        }
    }

    &__title {
        font-weight: 700;
        font-size: 1.5rem;
    }

    &__desc {
        font-size: 1.313rem;
        text-align: center;
        width: 12.5rem;
        line-height: 45px;
    }

    &__price {
        font-weight: 700;
        font-size: 3.063rem;

        .icon-rubl {
            font-size: 2.188rem;
        }
    }

    &__input {
        &:checked+label {
            background-color: var(--color-blue-16);
            color: var(--color-white);
            position: relative;

            &::before {
                content: "\e912";
                font-family: 'agropoisk';
                color: var(--color-yellow);
                position: absolute;
                top: -32px;
                left: 124px;
                font-size: 2.5rem;
            }
        }
    }
}