<div class="tariff">
    <div class="tariff__wrap">
        <input type="@@type" class="tariff__input" id="week" name="@@name">
        <label for="week" class="tariff__label">
            <span class="tariff__title">Доступ на неделю</span>
            <span class="tariff__desc">Включает пакет для размещения 25 заказов</span>
            <span class="tariff__price">400 <span class="icon icon-rubl"></span></span>
        </label>
    </div>
    <div class="tariff__wrap">
        <input type="@@type" class="tariff__input" id="month" name="@@name">
        <label for="month" class="tariff__label">
            <span class="tariff__title">Доступ на месяц</span>
            <span class="tariff__desc">Включает пакет для размещения 100 заказов</span>
            <span class="tariff__price">800 <span class="icon icon-rubl"></span></span>
        </label>
    </div>
    <div class="tariff__wrap">
        <input type="@@type" class="tariff__input" id="3-months" name="@@name" checked>
        <label for="3-months" class="tariff__label">
            <span class="tariff__title">Доступ на 3 месяца</span>
            <span class="tariff__desc">Включает пакет для безлимитного размещения заказов</span>
            <span class="tariff__price">2900 <span class="icon icon-rubl"></span></span>
        </label>
    </div>
    
</div>