<div class="input-type-1-small">
    <label class="input-type-1-small__label" for="@@id">@@label</label>
    <input id="@@id" type="password" class="input-type-1-small__input @@style-placeholder @@style-error" placeholder="@@placeholder" maxlength="@@maxlength">
</div>