.input-type-1-small {
    margin-bottom: 1.375rem;
    width: 9.563rem;

    .input-type-1-small__label {
        font-size: 0.875em;
        margin-bottom: 0.938rem;
        display: inline-block;
    }

    .input-type-1-small__input {
        background: var(--color-light-grey2);
        border-radius: 8px;
        color: var(--color-dark-grey);
        border: none;
        padding: 0.938rem 1.45rem 0.938rem 2rem;
        outline: none;
        font-weight: 700;
        width: 100%;
        letter-spacing: 0.625rem;
        text-align: center;
        font-size: 1.6rem;

        &::placeholder {
            letter-spacing: 0.625rem;
            padding-right: 0.75rem;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 700;
        }

        &:focus {
            color: var(--color-dark-input);
        }
    }
}