.page-body {
    &[data-has-widget=true] {
        display: flex;
    }

    &__inner {
        background: var(--color-white);
        box-shadow: 0px 0px 8px rgb(0 0 0 / 10%);
        border-radius: 8px;
        height: auto;
        padding-bottom: 2.313rem;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__inner--has-widget {
        width: 77%;
        height: 42.375rem;
    }

    &__setting {
        position: relative;
        height: auto;
    }

    &__setting-button {
        position: absolute;
        top: 13px;
        right: 13px;
        margin: 0;
    }

    &__ul {
        display: flex;
        justify-content: center;
        margin: 0 2.688rem;
        padding: 0;
    }

    &__data {
        column-count: 2;
        column-gap: 0px;
        width: 100%;

        &--padding-109 {
            padding: 0 0 0 calc((100% - 742px) / 3);
        }

        &--padding-48 {
            padding: 0 0 0 calc((100% - 926px) / 3);
        }

        &--padding-26 {
            padding: 0 0 0 calc((100% - 745px) / 3);
        }

        &--flex {
            display: flex;
            flex-direction: column;
        }

        &--margin {
            margin-top: 5.313rem;
        }

        &.page-body__data--order-sample {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__widget {
        width: 23%;
        margin-left: 1.25rem;
    }
}