:root {
	--color-main-order: #444DB9;
	--color-card: #5A419F;
	--color-white: #fff;
	--color-blue: #5298FF;
	--color-light: #F7F8FF;
	--color-blue-2: #747CD6;
	--color-lilac: #6065A0;
	--color-blue-3: #5B64CA;
	--color-blue-4: #323CA3;
	--color-blue-3: #5B64CA;
	--color-blue-4: #8CBAFF;
	--color-blue-5: #4E95FF;
	--color-blue-6: #4751BB;
	--color-blue-7: #8991ED;
	--color-blue-8: #6E76D2;
	--color-blue-9: #333CA7;
	--color-blue-10: #F3F4FF;
	--color-blue-11: #3485FF;
	--color-blue-12: #267CFF;
	--color-blue-13: #523998;
	--color-blue-14: #442C89;
	--color-blue-15: #F8F8FF;
	--color-blue-16: #4E57BD;
	--color-blue-17: #333EA7;
	--color-blue-18: #9699C7;
	--color-blue-19: #313BA6;
	--color-in: #FFC0A5;
	--color-off: #FFCCB6;
	--color-pink: #DC7979;
	--color-purpur: #D47CE2;
	--color-absolut: #000;
	--color-dark-input: #131313;
	--color-dark: #1E1E1E;
	--color-noabsolut: #636363;
	--color-input: #646464;
	--color-noabsolut-opacity: rgba(99, 99, 99, 0.5);
	--color-blue-3: #414AB8;
	--color-telegram: #0088CC;
	--color-viber: #7F6BF4;
	--color-whatsapp: #43D854;
	--color-red-order: #8D2F2F;
	--color-red-dropdown: #CD5959;
	--color-yellow: #CEAA4E;
	--color-cursor: #E4E6FF;
	--color-grey: #F5F5F5;
	--color-active: #FAFAFA;
	--color-green: #439550;
	--color-light-grey: #C5C5C5;
	--color-light-grey2: #F9F7F8;
	--color-light-grey3: #C4C4C4;
	--color-light-grey4: #757575;
	--color-light-grey5: #B5B5B5;
	--color-light-grey6: #ECECEC;
	--color-light-grey7: #EEEEEE;
	--color-light-grey8: #D9E8FF;
	--color-light-grey9: #A5A5A5;
	--color-light-grey10: #BBD6FF;
	--color-light-grey11: #E1E1E1;
	--color-light-grey12: #EBEBEB;
	--color-light-grey13: #E9EBFF;
	--color-light-grey14: #E0E3FF;
	--color-light-grey15: #EDEEFC;
	--color-light-grey16: #EEF5FF;
	--color-light-grey17: #DBEAFF;
	--color-light-grey18: #F3EEFF;
	--color-light-grey19: #E7DEFD;
	--color-light-grey20: #F2EDFF;
	--color-light-grey21: #EFEFEF;
	--color-light-grey22: #E2E4FF;
	--color-light-grey23: #D7E7FF;
	--color-border: #E0E0E0;
	--color-dark-grey: #989898;
	--bg-white-1: #EFF0FF;
	--bg-white-2: #428EFF;
	--bg-black-2: #333554;
	--color-btn-hover: #3385FF;
	--color-btn-active: #217AFF;
	--color-undelivered: #9A3939;
	--color-premium-card: #1E1E1E;
	--color-card-hover: #E4E6FF;
	--color-undelivered-card-hover: #8D2F2F;
	--color-express-card-hover: #323CA3;
	--color-premium-card-hover: #161616;
	--color-card-active: #D7DAFF;
	--color-undelivered-card-active: #7E2525;
	--color-express-card-active: #27308E;
	--color-premium-card-active: #0A0A0A;
	--color-switch-purpur: #873196;
	--color-switch-white: #F8CEFF;
	--color-user-hover: #F5BAFF;
	--color-ucer-active: #F2A5FF;
	--color-count: #B548C7;
}

* {
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	line-height: 1.2;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
	padding: 0;
	margin: 0;
}

button:disabled {
	opacity: .55;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input[type=number] {
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	-moz-appearance: textfield;

	&:hover {
		-moz-appearance: number-input;
	}

	&:focus {
		-moz-appearance: number-input;
	}
}

input[type=number] {
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	&:focus {
		outline: 0;
		outline-offset: 0;
	}

	border: none;
}

input[type=text] {
	&:active {
		outline: 0;
		outline-offset: 0;
	}

	&:hover {
		outline: 0;
		outline-offset: 0;
	}

	&:focus {
		outline: 0;
		outline-offset: 0;
	}

	border: none;
}

input[type=tel] {
	&:focus {
		outline: 0;
		outline-offset: 0;
	}
}

input[type=time] {
	&:focus {
		outline: 0;
		outline-offset: 0;
	}
}

input[type=time] {
	&::-webkit-calendar-picker-indicator {
		display: none;
	}
}

input {
	&:focus {
		&::placeholder {
			opacity: 0;
		}

		&::-webkit-input-placeholder {
			color: transparent;
		}

		&::-moz-placeholder {
			color: transparent;
		}

		&:-moz-placeholder {
			color: transparent;
		}

		&:-ms-input-placeholder {
			color: transparent;
		}
	}

	&::-webkit-search-decoration {
		display: none;
	}

	&::-webkit-search-cancel-button {
		display: none;
	}

	&::-webkit-search-results-button {
		display: none;
	}

	&::-webkit-search-results-decoration {
		display: none;
	}

	&:disabled {
		opacity: .55;
	}
}

input[type=file] {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

body {
	padding: 0;
	margin: 0;
	counter-reset: section;
}

.wrap {
	display: flex;
	max-width: 80rem;
	width: 100%;
	margin: 0 auto;
}

.scroll {
	overflow-y: scroll;
	overflow-x: hidden;
	margin-right: 5px;

	&::-webkit-scrollbar {
		width: 4px;
	}

	&::-webkit-scrollbar-track {
		background: var(--color-white);
	}

	&::-webkit-scrollbar-thumb {
		background: #989898;
		border-radius: 20px;

		&:hover {
			background: #999999;
		}
	}
}

.icon {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'agropoisk' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-dollar1 {
	&:before {
		content: "\e958";
	}
}

.icon-arrow_bg {
	&:before {
		content: "\e955";
	}
}

.icon-download {
	&:before {
		content: "\e954";
	}
}

.icon-fix {
	&:before {
		content: "\e953";
	}
}

.icon-serial {
	&:before {
		content: "\e952";
	}
}

.icon-ellipse {
	&:before {
		content: "\e950";
	}
}

.icon-line-out {
	&:before {
		content: "\e951";
	}
}

.icon-star-border {
	&:before {
		content: "\e94f";
	}
}

.icon-star_rating {
	&:before {
		content: "\e94e";
	}
}

.icon-diamond {
	&:before {
		content: "\e94d";
	}
}

.icon-union {
	&:before {
		content: "\e94c";
	}
}

.icon-beacon {
	&:before {
		content: "\e947";
	}
}

.icon-structure {
	&:before {
		content: "\e948";
	}
}

.icon-plus2 {
	&:before {
		content: "\e949";
	}
}

.icon-lightning {
	&:before {
		content: "\e94a";
	}
}

.icon-box1 {
	&:before {
		content: "\e94b";
	}
}

.icon-grid {
	&:before {
		content: "\e946";
	}
}

.icon-tick2 {
	&:before {
		content: "\e944";
	}
}

.icon-bin {
	&:before {
		content: "\e945";
	}
}

.icon-question_mark {
	&:before {
		content: "\e943";
	}
}

.icon-building {
	&:before {
		content: "\e941";
	}
}

.icon-build {
	&:before {
		content: "\e942";
	}
}

.icon-camera {
	&:before {
		content: "\e91c";
	}
}

.icon-tick {
	&:before {
		content: "\e917";
	}
}

.icon-whatsapp {
	&:before {
		content: "\e916";
	}
}

.icon-circle-search {
	&:before {
		content: "\e919";
	}
}

.icon-search {
	&:before {
		content: "\e940";
	}
}

.icon-lock {
	&:before {
		content: "\e93f";
	}
}

.icon-express {
	&:before {
		content: "\e927";
	}
}

.icon-adress_in {
	&:before {
		content: "\e93e";
	}
}

.icon-eye2 {
	&:before {
		content: "\e93d";
	}
}

.icon-time {
	&:before {
		content: "\e901";
	}
}

.icon-time_bold {
	&:before {
		content: "\e906";
	}
}

.icon-circle_bold {
	&:before {
		content: "\e909";
	}
}

.icon-circle {
	&:before {
		content: "\e914";
	}
}

.icon-cross_eye {
	&:before {
		content: "\e915";
	}
}

.icon-arrow {
	&:before {
		content: "\e93c";
	}
}

.icon-person {
	&:before {
		content: "\e900";
	}
}

.icon-human {
	&:before {
		content: "\e902";
	}
}

.icon-child {
	&:before {
		content: "\e903";
	}
}

.icon-setting_vector {
	&:before {
		content: "\e904";
	}
}

.icon-signature {
	&:before {
		content: "\e905";
	}
}

.icon-notification {
	&:before {
		content: "\e907";
	}
}

.icon-rubl {
	&:before {
		content: "\e908";
	}
}

.icon-eye {
	&:before {
		content: "\e90a";
	}
}

.icon-star-bold {
	&:before {
		content: "\e90b";
	}
}

.icon-clover {
	&:before {
		content: "\e90c";
	}
}

.icon-baket_new {
	&:before {
		content: "\e90d";
	}
}

.icon-cross {
	&:before {
		content: "\e90e";
	}
}

.icon-map {
	&:before {
		content: "\e90f";
	}
}

.icon-cloud {
	&:before {
		content: "\e910";
	}
}

.icon-plus {
	&:before {
		content: "\e911";
	}
}

.icon-check_mark {
	&:before {
		content: "\e912";
	}
}

.icon-rub {
	&:before {
		content: "\e913";
	}
}

.icon-letter {
	&:before {
		content: "\e918";
	}
}

.icon-call {
	&:before {
		content: "\e91a";
	}
}

.icon-telegram {
	&:before {
		content: "\e91b";
	}
}

.icon-viber {
	&:before {
		content: "\e91d";
	}
}

.icon-info {
	&:before {
		content: "\e91e";
	}
}

.icon-setting {
	&:before {
		content: "\e91f";
	}
}

.icon-bookmark {
	&:before {
		content: "\e920";
	}
}

.icon-stuff {
	&:before {
		content: "\e921";
	}
}

.icon-graph {
	&:before {
		content: "\e922";
	}
}

.icon-dollar {
	&:before {
		content: "\e923";
	}
}

.icon-tab {
	&:before {
		content: "\e924";
	}
}

.icon-checklist {
	&:before {
		content: "\e925";
	}
}

.icon-screen {
	&:before {
		content: "\e926";
	}
}

.icon-arrow_back {
	&:before {
		content: "\e928";
	}
}

.icon-footprints {
	&:before {
		content: "\e929";
	}
}

.icon-track {
	&:before {
		content: "\e92a";
	}
}

.icon-car {
	&:before {
		content: "\e92b";
	}
}

.icon-car2 {
	&:before {
		content: "\e92c";
	}
}

.icon-feature {
	&:before {
		content: "\e92d";
	}
}

.icon-feature2 {
	&:before {
		content: "\e92e";
	}
}

.icon-box {
	&:before {
		content: "\e92f";
	}
}

.icon-big_box {
	&:before {
		content: "\e930";
	}
}

.icon-furniture {
	&:before {
		content: "\e931";
	}
}

.icon-tools {
	&:before {
		content: "\e932";
	}
}

.icon-list_bold {
	&:before {
		content: "\e933";
	}
}

.icon-card_box {
	&:before {
		content: "\e934";
	}
}

.icon-clothes {
	&:before {
		content: "\e935";
	}
}

.icon-list {
	&:before {
		content: "\e936";
	}
}

.icon-blazer {
	&:before {
		content: "\e937";
	}
}

.icon-package {
	&:before {
		content: "\e938";
	}
}

.icon-packet {
	&:before {
		content: "\e939";
	}
}

.icon-basket {
	&:before {
		content: "\e93a";
	}
}

.icon-food {
	&:before {
		content: "\e93b";
	}
}

button {
	cursor: pointer;
}

ul.list_number {
	li {
		span.icon-call {
			&:before {
				color: #CD5959;
				border-color: #CD5959;
			}
		}

		span.icon-telegram {
			&:before {
				color: #0088CC;
				border-color: #0088CC;
			}
		}

		span.icon-whatsapp {
			&:before {
				color: #43D854;
				border-color: #43D854;
			}
		}

		span.icon-viber {
			&:before {
				color: #7F6BF4;
				border-color: #7F6BF4;
			}
		}
	}
}

.page-body__messengers {
	span.icon-call {
		&:before {
			color: #CD5959;
			border-color: #CD5959;
		}
	}

	span.icon-telegram {
		color: #0088CC;
		border-color: #0088CC;
	}

	span.icon-whatsapp {
		color: #43D854;
		border-color: #43D854;
	}

	span.icon-viber {
		color: #7F6BF4;
		border-color: #7F6BF4;
	}
}

input[type=checkbox] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

input[type=radio] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;

	&:not(:checked) {
		position: absolute;
		opacity: 0;
		pointer-events: none;
	}

	&:checked {
		position: absolute;
		opacity: 0;
		pointer-events: none;
	}

	&:disabled {
		&:checked+span {
			&:before {
				border: 2px solid var(--color-noabsolut-opacity);
			}

			&:after {
				border: none;
				background-color: var(--color-noabsolut-opacity);
				background-color: var(--color-noabsolut-opacity);
				border-color: var(--color-noabsolut);
				top: 2px;
				left: 2px;
			}
		}

		&:not(:checked)+span {
			&:before {
				border-color: var(--color-noabsolut-opacity);
			}
		}
	}

	&:disabled+span {
		color: var(--color-noabsolut-opacity);
	}
}

input[type=checkbox] {
	display: none;
}

.radio {
	[type=radio] {
		&:not(:checked)+label {
			position: relative;
			padding-left: 35px;
			cursor: pointer;
			display: inline-block;
			height: 25px;
			line-height: 25px;
			-webkit-transition: .28s ease;
			transition: .28s ease;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;

			&:before {
				border-radius: 50%;
				border: 1px solid var(--color-dark-grey);
			}

			&:after {
				border-radius: 50%;
				border: 1px solid var(--color-dark-grey);
				-webkit-transform: scale(0);
				transform: scale(0);
			}
		}

		&:checked+label {
			position: relative;
			padding-left: 35px;
			cursor: pointer;
			display: inline-block;
			height: 25px;
			line-height: 25px;
			-webkit-transition: .28s ease;
			transition: .28s ease;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;

			&:before {
				border-radius: 50%;
				border: 1px solid transparent;
				border: 1px solid var(--bg-white-2);
			}

			&:after {
				border-radius: 50%;
				border: 1px solid var(--bg-white-2);
				background-color: var(--bg-white-2);
				-webkit-transform: scale(0.5);
				transform: scale(0.5);
			}
		}
	}

	[type=radio]+label {
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 23px;
			height: 23px;
			z-index: 0;
			-webkit-transition: .28s ease;
			transition: .28s ease;
		}

		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 23px;
			height: 23px;
			z-index: 0;
			-webkit-transition: .28s ease;
			transition: .28s ease;
		}
	}
}

[type=radio].tabbed {
	&:focus+span {
		&:before {
			-webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
			box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
		}
	}
}

.undelivered {
	background-color: var(--color-red-order);
}

.cancel {
	opacity: 0.55;
}

.input-icon {
	position: relative;
	font-size: 1.25rem;
	border: 2px solid var(--color-input);
	border-radius: 8px;
	margin: 0.75rem 0;
	display: flex;
	align-items: center;

	.icon~input {
		border: none;
		width: calc(100% - 2.5rem);
		margin-left: 4.375rem;
		font-size: 1.313rem;
		font-weight: 700;
		color: var(--color-dark-input);
		padding: 1.125rem 0.85rem 1.125rem 0;
		border-radius: 8px;

		&:active {
			outline: none;
		}

		&:focus {
			outline: none;

			&::placeholder {
				opacity: 0;
			}
		}

		&::placeholder {
			color: var(--color-input);
			opacity: 1;
		}

		&:focus~label {
			opacity: .9;
		}

		&:not(:placeholder-shown)~label {
			opacity: .9;
		}
	}

	>label {
		position: absolute;
		top: 0.2rem;
		left: 4.4rem;
		font-size: 0.625rem;
		opacity: 0;
		transition: opacity .5s;
	}

	>.icon {
		position: absolute;
		font-size: 1.375rem;
		left: 2.063rem;
	}
}

.input-without-icon {
	input {
		border: 2px solid var(--color-input);
		border-radius: 8px;
		width: 100%;
		padding: 1.063rem 0.875rem;
		font-size: 1.25rem;
		margin-top: 0.763rem;
		color: var(--color-dark-input);

		&:active {
			outline: none;
		}

		&:focus {
			outline: none;
		}
	}
}

.page-body__directions {
	.page-body__file {
		label.label-direction {
			&:hover {
				color: var(--color-btn-hover);
				outline-color: var(--color-btn-hover);
			}

			&:focus {
				color: var(--color-btn-active);
				outline-color: var(--color-btn-active);
			}

			&:active {
				color: var(--color-btn-active);
				outline-color: var(--color-btn-active);
			}
		}
	}
}

.pickup-points-popup__content {
	.pickup-points-popup__input {
		.btn-delete {
			&:hover {
				color: var(--color-btn-hover);
				outline-color: var(--color-btn-hover);
			}

			&:focus {
				color: var(--color-btn-active);
				outline-color: var(--color-btn-active);
			}

			&:active {
				color: var(--color-btn-active);
				outline-color: var(--color-btn-active);
			}
		}
	}
}

.pickup-points-popup__input {
	.btn-cancel {
		&:hover {
			background-color: var(--color-btn-hover);
		}

		&:active {
			background-color: var(--color-btn-active);
		}
	}
}

.btn-opacity {
	&:hover {
		color: var(--color-btn-hover);
		background-color: unset;
	}

	&:active {
		color: var(--color-btn-active);
		background-color: unset;
	}
}

.disabled.btn {
	opacity: .55;
}

.btn-get {
	border: none;
	display: inline-block;
	text-align: center;
	border-radius: 8px;
	cursor: pointer;
	background-color: var(--color-main-order);
	color: var(--color-white);
	font-size: 1.25rem;
	font-weight: 700;
	padding: 0.875rem 2rem;
}

.choose {
	input {
		display: none;
	}

	label {
		b {
			border: 1px solid var(--color-main-order);
			color: var(--color-main-order);
			padding: 0.313rem 0.563rem;
			border-radius: 40px;
		}

		input {
			&:checked~b {
				background-color: var(--color-main-order);
				color: var(--color-white);
			}

			&:disabled {
				&:checked~b {
					background-color: var(--bg-white-2);
					border: 1px solid var(--bg-white-2);
					color: var(--color-white);
				}
			}

			&:disabled~b {
				border: 1px solid var(--bg-white-2);
				color: var(--bg-white-2);
			}
		}
	}
}

.input-text {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-bottom: 1.375rem;
	width: 100%;

	input {
		background: var(--color-light-grey2);
		border-radius: 8px;
		color: var(--color-dark-grey);
		border: none;
		padding: 0.938rem 1.375rem;
		outline: none;
		letter-spacing: 0.1rem;

		&:focus {
			color: var(--color-dark-input);
		}
	}
}

.input-text.postfix {
	span.icon {
		position: absolute;
		right: 1.18rem;
		top: 3.218rem;
		cursor: pointer;
		font-size: 1.2rem;
		color: var(--color-input);

		&:hover {
			color: var(--color-dark-input);
		}
	}

	span.icon.active {
		color: var(--color-dark-input);
		font-size: 0.875rem;
		right: 1.188rem;
		top: 3.375rem;
	}
}

textarea {
	&:focus {
		border: 0;
		outline: none;
	}
}



.popup__center {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bg-red {
	font-size: 0.875rem;
	color: var(--color-red-dropdown);
}

.disabled {
	opacity: 0.5;
}