<div class="@@background">
    <div class="background__inner">
        <div class="card-company-open @@card-type" data-id="@@data-id" data-status="@@data-status">
            <div class="card-company-open__title">
                <span class="card-company-open__title-span">Карточка компании</span>
                <span class="icon icon-cross card-company-open__title-icon"></span>
            </div>
            <div class="card-company-open__header">
                <div class="card-company-open__header-inner">
                    <div class="card-company-open__logo">
                        <span class="card-company-open__logo-inner">
                            <img src="@@webRoot/img/logo-company.png" alt="" class="card-company-open__logo-img">
                        </span>
                    </div>
                    <div class="card-company-open__name">
                        <span class="card-company-open__name-text">@@company-name</span>
                        <div class="card-company-open__name-icon-wrap">
                            <span class="icon icon-express card-company-open__name-icon"></span>
                        </div>

                    </div>
                </div>
                @@include('../../../components/elements_mobile/options_contact/options-contact.html')
            </div>
            <div class="card-company-open__body card-company-open__body--scroll">
                <div class="card-company-open__section">
                    <div class="card-company-open__desc">
                        <span class="card-company-open__desc-text">Сфера деятельности: @@desc-scope</span>
                        <span class="card-company-open__desc-text">Описание компании: @@desc-comp</span>
                        <div class="card-company-open__desc-inner">
                            <span class="card-company-open__desc-text card-company-open__desc-text--m-r">ИНН:
                                @@desc-inn</span>
                            <span class="card-company-open__desc-text">ОГРН: @@desc-ogrn</span>
                        </div>
                    </div>
                    <div class="card-company-open__inner">
                        <span class="card-company-open__inner-icon icon-dollar1 icon"></span>
                        <span class="card-company-open__inner-text">Компания готова оплатить Вашу подписку</span>
                    </div>
                    <div class="card-company-open__doc">
                        <span class="card-company-open__doc-name">@@item-name</span>
                        <span class="icon icon-doc card-company-open__doc-icon"></span>
                    </div>
                    <div class="card-company-open__type">
                        <span class="card-company-open__type-title">Виды заказа:</span>
                        <div class="card-company-open__type-inner">
                            @@include('../type_item/type-item.html', {"type": "", "text": "Закупочный", "parcel":"",
                            "type-item__icon": "", "background":""})
                            @@include('../type_item/type-item.html', {"type": "", "text": "Еда", "parcel":"",
                            "type-item__icon": "", "background":""})
                            @@include('../type_item/type-item.html', {"type": "", "text": "Коробка", "parcel":"",
                            "type-item__icon": "", "background":""})
                            @@include('../type_item/type-item.html', {"type": "", "text": "Прим-ый", "parcel":"",
                            "type-item__icon": "", "background":""})
                            @@include('../type_item/type-item.html', {"type": "", "text": "Пакет", "parcel":"",
                            "type-item__icon": "", "background":""})
                            @@include('../type_item/type-item.html', {"type": "", "text": "Нест-ый", "parcel":"",
                            "type-item__icon": "", "background":""})
                            @@include('../type_item/type-item.html', {"type": "", "text": "Нест-ый л/а", "parcel":"",
                            "type-item__icon": "", "background":""})
                            @@include('../type_item/type-item.html', {"type": "", "text": "Еда", "parcel":"",
                            "type-item__icon": "", "background":""})
                        </div>
                    </div>
                    <div class="card-company-open__type">
                        <span class="card-company-open__type-title">Тип доставки:</span>
                        <div class="card-company-open__type-inner card-company-open__type-inner--j-c">
                            @@include('../delivery_item/delivery-item.html', {"border-left": "", "icon": "icon-track",
                            "text":
                            "Грузовой"})
                            @@include('../delivery_item/delivery-item.html', {"border-left": "", "icon":
                            "icon-car2", "text": "На автомобиле"})
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-company-open__switch">
                @@include('../switch/switch.html')
            </div>
        </div>
    </div>

    @@if (footer === 'choice') {
    <div class="card-btn-wrap">
        <button class="card-btn card-btn--grey">Отклонить</button>
        <button class="card-btn card-btn--blue">Принять</button>
    </div>
    }

    @@if (footer === 'refusal') {
    <div class="card-btn-wrap">
        <button class="card-btn card-btn--grey card-btn--width">Отказаться от сотрудничества</button>
    </div>
    }

    @@if (footer === 'refusal-2') {
        <div class="card-btn-wrap">
            <button class="card-btn card-btn--grey card-btn--width">Отказаться от сотрудничества</button>
        </div>
        }

    @@if (footer === 'date') {
    @@include('../date_order/date-order.html', {"date":"true"})

    <div class="card-btn-wrap card-btn-wrap--margin">
        <button class="card-btn card-btn--grey">Закрыть</button>
        <button class="card-btn card-btn--blue">Взять</button>
    </div>
    }

    @@if (footer === 'message') {
        @@include('../date_order/date-order.html', {"date":""})
    
        <div class="card-btn-wrap card-btn-wrap--margin">
            <button class="card-btn card-btn--grey">Нет</button>
            <button class="card-btn card-btn--blue">Да</button>
        </div>
        }
</div>