.card-company-open {
    width: 100%;
    border-radius: 15px;
    font-size: 1.701vh;
    margin: 0 auto;
    position: relative;
    background-color: var(--bg-white-1);
    color: var(--color-main-order);

    .icon-express {
        display: none;
    }

    &__switch {
        display: none;
    }

    &[data-status=accepted] {

        .card-company-open__switch {
            display: block;
            position: absolute;
            top: 1.579vh;
            left: 1.579vh;
        }

    }

    &--express {
        background-color: var(--color-main-order);
        color: var(--bg-white-1);

        .icon-express {
            display: inline;
            color: var(--color-purpur);
            font-size: 35px;
            background: radial-gradient(circle, rgba(255, 255, 255, 1) 50%, rgba(212, 124, 226, 0) 0%);
            margin-top: 1.215vh;
        }

        .card-company-open__name-text {
            color: var(--bg-white-1);
        }

        .options-contact__dropdown-btn {
            background-color: var(--color-main-order-2);
            color: var(--bg-white-1);
        }

        .options-contact__dropdown-content {
            background-color: var(--color-main-order-2);

            .icon-call {
                color: var(--bg-white-1);
            }
        }

        .card-company-open__doc {
            background-color: var(--bg-white-1);
            color: var(--color-main-order);
        }

        .type-item__div {
            border-color: var(--bg-white-1);
            background-color: var(--bg-white-1);
            color: var(--color-main-order);
        }

        .delivery-item__text {
            border-color: var(--bg-white-1);
            background-color: var(--bg-white-1);
            color: var(--color-main-order);
        }
    }

    &--premium {
        background-color: var(--color-absolut);
        color: var(--bg-white-1);
    }

    &__title {
        position: relative;

        &-span {
            width: 100%;
            border-bottom: 1px solid var(--color-main-order);
            font-size: 2.794vh;
            font-weight: 700;
            padding: 1.458vh 0;
            display: block;
            text-align: center;
        }

        &-icon {
            position: absolute;
            font-size: 3.037vh;
            top: 1.579vh;
            right: 1.822vh;
        }
    }

    &__header {
        &-inner {
            padding: 1.944vh 3.645vh;
            display: flex;
        }
    }

    &__logo {
        margin-right: 4.131vh;
    }

    &__name {
        position: relative;

        &-text {
            font-weight: 500;
            font-size: 17px;
            color: var(--color-main-order);
        }

        &-icon-wrap {
            margin-top: 1.215vh;
        }
    }

    &__body {
        padding: 1.822vh 2.43vh;
        height: 56.379vh;

        &--scroll {
            overflow-y: scroll;
            overflow-x: hidden;
        }
    }

    &__desc {
        display: flex;
        flex-direction: column;

        &-text {
            margin-bottom: 1.215vh;

            &--m-r {
                margin-right: 3.645vh;
            }
        }

        &-inner {
            margin-bottom: 1.822vh;
        }
    }

    &__inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 1.822vh;

        &-icon {
            margin-right: 0.625rem;
            font-size: 1.313rem;
        }

        &-text {
            font-weight: 700;
            font-size: 0.75rem;
        }
    }

    &__doc {
        background: var(--color-main-order);
        border: 1px solid var(--color-main-order);
        border-radius: 15px;
        color: var(--color-white);
        padding: 0.729vh 3.645vh;
        display: flex;
        justify-content: space-between;
        margin-bottom: 2.43vh;

        &-icon {
            font-size: 2.065vh;
        }
    }

    &__type {
        margin-bottom: 1.215vh;

        &-title {
            font-weight: 700;
            font-size: 14px;
            margin-bottom: 1.701vh;
            display: block;
        }

        &-inner {
            display: flex;
            flex-wrap: wrap;

            &--j-c {
                justify-content: space-evenly;
            }
        }
    }

    .type-item {
        margin: 0;

        .type-item__div {
            display: inline-block;
            margin-right: 1.458vh;
            padding: 0.9vh 1.458vh 0.8vh;
            border-radius: 42px;
            font-weight: 700;
            margin-bottom: 1.215vh;
            height: 3.888vh;
            font-size: 1.458vh !important;
        }
    }

    .delivery-item {
        &__text {
            border-color: var(--color-main-order);
            background-color: var(--color-main-order);
            color: var(--bg-white-1);
        }

        &__icon {
            color: var(--color-main-order);
        }
    }


}