<div class="sample" style="--color-bg: #E9EBFF; --color-tx:#444DB9">
    <div class="sample__body">
        <div class="sample__header">
            <div class="sample__wrap">
                <div class="color-picker">
                    <div class="color-selection"></div>
                </div>

            </div>
            <div class="sample__wrap">
                <span class="sample__title">@@title</span>
            </div>
            <div class="sample__wrap">
                <span class="sample__serial-number">@@serial-number</span>
            </div>
        </div>
        <div class="sample__content">
            <div class="sample__wrap">
                <span class="sample__delivery-type" data-unit_icon="@@data-unit-icon">@@delivery-type</span>
            </div>
            <div class="sample__wrap">
                <span class="sample__order-type">@@order-type</span>
            </div>
            <div class="sample__wrap">
                <span class="sample__address">@@address</span>
            </div>
        </div>
        <div class="sample__footer">
            <div class="sample__wrap">
                <span class="icon icon-bin sample__icon-bin"></span>
            </div>
            <div class="sample__wrap">
                <span class="icon icon-fix sample__icon-fix"></span>
            </div>
        </div>
    </div>
</div>

<script type="application/javascript">
    let switcher = function () {
        let btn_switch = document.getElementsByClassName('card__arrow'),
            parent = document.getElementsByClassName('card__number'),
            len_li = document.querySelector('.list_number').children.length,
            height_li = document.querySelector('.list_number').firstElementChild.clientHeight,
            price_div = document.getElementsByClassName('card__price-text'),
            page_body_children = document.querySelector('.page-body__data').children,
            page_body_div = document.querySelector('.page-body__data'),
            height_page_body_child = page_body_children[0].clientHeight - ((len_li - 1) * height_li - (len_li - 1)),
            count_row = Math.ceil(page_body_children.length / 2);
        // console.log(count_row * (height_page_body_child + 20), count_row, height_page_body_child);
        if ((count_row * (height_page_body_child + 20)) > (page_body_div.clientHeight - (count_row * 20 + (count_row * len_li * height_li)))) {
            page_body_div.classList.add('scroll');
            //console.log(count_row * (height_page_body_child + 20), page_body_div.clientHeight - (count_row * 20));
            page_body_div.style.height = (height_page_body_child * 2 + 20) + 'px';
        }
        [].forEach.call(price_div, function (em) {
            let len_ch = em.innerText.length,
                width_em = em.clientWidth,
                font_size = width_em / len_ch * 1.4;
            console.log(len_ch);
            if (len_ch == 5) {
                em.style.fontSize = '19px';
            } else {
                em.style.fontSize = font_size + 'px';
            }


        });
        [].forEach.call(parent, function (elem) {
            elem.style.height = height_li + 'px';
            //console.log(elem); // HEAD, текст, BODY
        });
        [].forEach.call(btn_switch, function (el) {
            el.addEventListener("click", function () {

                if (this.classList.contains('open')) {
                    this.classList.remove("open");
                    this.previousElementSibling.style.height = height_li + 'px';
                } else {
                    this.classList.add("open");
                    this.previousElementSibling.style.height = this.previousElementSibling.scrollHeight + 'px';
                }

            });


        });
    };
    let filter__name = function () {
        let filter__name_span = document.querySelector('.filter__name'),
            filter_ul = filter__name_span.nextElementSibling;
        
            filter__name_span.addEventListener("click", function(){
                if (this.parentNode.classList.contains('show')) {
                    this.parentNode.classList.remove("show");
                } else {
                    this.parentNode.classList.add("show");
                }
            });

    }
    document.addEventListener("DOMContentLoaded", switcher);
    document.addEventListener("DOMContentLoaded", filter__name);
    window.addEventListener('resize', switcher);
</script>
<script>

    // создаю класс для колорпикера
    class colorPicker {

        // этот метод запускается сразу при создании объекта класса и принимает в себя селектор карточки и массив с цветами
        constructor(nodeClass, varsColor) {
            this.parent = nodeClass; // передаю в свойстово класса переданный селектор
            this.stackColor = varsColor; // передаю в свойство класса массив цветов
            this.getSamples(); // запускаю метод 
        }
        // основной метод который получает все карточки
        getSamples() {
            const sample = document.getElementsByClassName(this.parent); //в константу записываю все карточки с определённым селектором
            // обрабатываю в цикле HTMLCOllection все полученные карточки
            for (let i = 0; i < sample.length; i++) {
                // получаю елемент в котором будет помещаться выбранные цвета
                let colorContainer = sample[i].querySelector('.color-picker');
                // добавляю в контейнер результат работы метода render
                colorContainer.append(this.render());
                // добавляю прослушивание клика на карточке и вызываю метод класса EventListener
                sample[i].addEventListener("click", this.EventListener);
            }
        }
        // метод класса EventListener
        EventListener(e) {
            // проверяю произошел клик по элементу который содержит нужный мне селектор если да то работаем =)
            if (e.target.classList.contains('color-selection')) {
                // получаю родителя и если у него есть селектор актив то удаляю если нет то добавляю
                let parent = e.target.parentElement;
                if (parent.classList.contains('active')) {
                    parent.classList.remove('active');
                } else {
                    parent.classList.add('active');
                }
            }
            // проверяю произошел клик по элементу выбора определённого цвета
            if (e.target.classList.contains('color-var-item')) {
                
                let item = e.target, // элемент по которому кликнули
                    itemColorBg = item.getAttribute('data-bg'), // значение кастомного атрибута цвета фона
                    itemColorTx = item.getAttribute('data-tx'), // значение кастомного атрибута цвета текста
                    itemParent = item.parentElement, // родительский элемент
                    sistersItem = itemParent.children, // все дети родителя
                    parent = item.parentElement.parentElement, // элемент контейнера который содержит все нужные цвета
                    mainParent = parent.parentElement.parentElement.parentElement.parentElement; // элемент карточки
                // пробегаю циклом по всем дочерним элементам 
                for (let i = 0; i < sistersItem.length; i++) {
                    // Убираем у других
                    sistersItem[i].classList.remove('active');
                }
                // Добавляем тому на который нажали
                item.classList.add('active');
                // Добавляем карточке значение фона и текста
                mainParent.style.setProperty('--color-bg', itemColorBg);
                mainParent.style.setProperty('--color-tx', itemColorTx);
                // ну и удаляем у родителя селектор актив
                if (parent.classList.contains('active')) {
                    parent.classList.remove('active');
                } else {
                    parent.classList.add('active');
                }
            }
        }
        // метод который создаст вырианты выбора цвета из переданного массива при инициализации
        render() {
            const bodyColorVar = document.createElement('div');
            bodyColorVar.classList.add('color-var');
            if (this.stackColor) {
                this.stackColor.forEach(el => {
                    let colorVar = document.createElement('div');
                    colorVar.classList.add('color-var-item');
                    colorVar.style.backgroundColor = el.bg;
                    colorVar.setAttribute('data-bg', el.bg);
                    colorVar.setAttribute('data-tx', el.tx);
                    bodyColorVar.append(colorVar);
                });
                return bodyColorVar;
            } else {
                console.error('нет вариантов цветов');
            }

        }
        // мало ли захотим переназначить цвета
        setColor(arr) {
            this.stackColor = arr;
        }
        // так просто получам цвета
        getColor() {
            return this.stackColor;
        }
    }
    // инициализирую свой класс и передаю ему селектор и массив цветов где елементы объекты со свойствами bg и tx
    const sample = new colorPicker(
        'sample',
        [
            { bg: "#5A419F", tx: "#E9EBFF" },
            { bg: "#87419F", tx: "#E9EBFF" },
            { bg: "#444DB9", tx: "#E9EBFF" },
            { bg: "#428EFF", tx: "#E9EBFF" },
            { bg: "#6065A0", tx: "#E9EBFF" },
            { bg: "#1C204D", tx: "#E9EBFF" },
            { bg: "#212121", tx: "#E9EBFF" },
            { bg: "#FFFFFF", tx: "#444DB9" },
        ]
    );
</script>