.sample {
    border-radius: 8px;
    background-color: var(--color-bg);
    width: 41.063rem;
    padding: 0.875rem 0.875rem 0.438rem;
    color: var(--color-tx);
    margin-bottom: 0.938rem;

    &__header,
    &__footer {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        display: flex;
        justify-content: space-around;
        font-weight: 700;
        margin-top: 1.438rem;
        align-items: center;
    }

    &__wrap {
        position: relative;
    }

    .color-picker {
        position: absolute;

        &.active {
            background: var(--color-white);
            padding: 0.688rem 1.625rem;
            top: -0.688rem;
            left: -1.625rem;
            z-index: 1;
            border-radius: 15px;
            box-shadow: 0px 0px 8px rgb(0 0 0 / 10%);

            .color-var-item {
                height: 1.438rem;
                width: 1.438rem;
                border-radius: 50%;
                margin: 0.688rem 0;
                cursor: pointer;
                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
            }
        }

        .color-selection {
            background: linear-gradient(180deg, #938AFA 0%, rgba(232, 104, 252, 0.476042) 52.4%, #4AFFE9 100%);
            width: 1.438rem;
            height: 1.438rem;
            border-radius: 50%;
            cursor: pointer;
        }

    }



    &__title {
        font-weight: 700;
        font-size: 1.313rem;
    }

    &__serial-number {
        font-weight: 700;
        font-size: 0.875rem;
        display: flex;
        align-items: flex-end;

        &::before {
            content: "\e952";
            font-family: 'agropoisk' !important;
            font-size: 1rem;
            margin-right: 0.438rem;
        }
    }

    &__delivery-type,
    &__order-type {
        font-size: 0.875rem;
        padding: 0.375rem 0.75rem;
        border-radius: 42px;
        background-color: var(--color-tx);
        color: var(--color-bg);
    }

    &__delivery-type {
        &::after {
            content: attr(data-unit_icon);
            font-family: 'agropoisk' !important;
            margin-left: 0.625rem;
            font-weight: 400;
        }
    }

    &__address {
        font-size: 0.875rem;
        display: flex;
        align-items: center;

        &::before {
            content: "\e951";
            font-family: 'agropoisk' !important;
            margin-right: 0.813rem;
            font-size: 1.625rem;
            font-weight: 400;
            margin-top: 0.625rem;
        }
    }

    &__icon-bin,
    &__icon-fix {
        font-size: 1.125rem;
        cursor: pointer;
    }
}