<div class="dropdown-notice">
    <div class="dropdown-notice__wrap dropdown-notice__wrap--border">
        <span class="dropdown-notice__title">Уведомления</span>
    </div>
    <div class="dropdown-notice__wrap dropdown-notice__wrap--border dropdown-notice__wrap--padding-15-15">
        <span class="icon icon-bookmark"></span>
        <span class="dropdown-notice__text">До истечения Вашей подписки - 2 дня</span>
    </div>
    <div class="dropdown-notice__wrap dropdown-notice__wrap--border dropdown-notice__wrap--padding-15-30">
        <span class="dropdown-notice__text dropdown-notice__text--black">Заказ №1101</span>
        <span class="dropdown-notice__text dropdown-notice__text--yellow">Не доставлен курьером</span>
    </div>
    <div class="dropdown-notice__wrap dropdown-notice__wrap--padding-15-15 dropdown-notice__wrap--center">
        <div class="dropdown-notice__inner dropdown-notice__inner--margin">
            <b class="dropdown-notice__count">2</b>
            <span class="dropdown-notice__text">Курьера ждут акцептования</span>
        </div>
        <div class="dropdown-notice__inner">
            <b class="dropdown-notice__count">5</b>
            <span class="dropdown-notice__text">Заказов отменены</span>
        </div>
    </div>
</div>