.dropdown-notice {
    position: absolute;
    width: 23.125rem;
    padding: 1.688rem 1.188rem 0 1.188rem;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    border-radius: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    top: -25px;
    right: -35px;
    z-index: -1;

    &__wrap {
        text-align: center;

        &--center {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__wrap--border {
        border-bottom: 1px solid var(--color-grey);
    }

    &__wrap--padding-15-15 {
        padding: 0.938rem 0 0.938rem 0;
    }

    &__wrap--padding-15-30 {
        padding: 0.938rem 0 1.875rem 0;
    }

    &__title {
        font-weight: 700;
        font-size: 1.188rem;
        text-align: center;
        color: var(--color-absolut);
        margin-bottom: 1.5rem;
        display: block;
    }

    .icon-bookmark {
        color: linear-gradient(180.43deg, #5298FF 0.53%, #2E82FF 99.63%);
        margin-right: 0.625rem;
    }

    &__text {
        font-weight: 700;
        font-size: 0.875rem;
        color: var(--color-dark);

        &--black {
            color: var(--color-absolut);
        }

        &--yellow {
            color: var(--color-yellow);
            font-size: 1rem;
            margin-left: 0.625rem;
        }
    }

    &__inner {
        text-align: left;
        width: 80%;
        &--margin {
            margin-bottom: 0.938rem;
        }
    }

    &__count {
        font-weight: 700;
        font-size: 0.875rem;
        color: var(--color-count);
        background: rgba(248, 206, 255, 0.43);
        backdrop-filter: blur(2px);
        border-radius: 14px;
        padding: 0.125rem 1rem;
        margin-right: 1.25rem;
    }
}