.information {
    margin-bottom: 0.875rem;
    border-radius: 8px;
    background-color: #fff;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.1));
    padding: 0.688rem 1.25rem 1.188rem 1.25rem;
    margin-bottom: 0.875rem;

    &__title {
        font-size: 1rem;
        display: block;
        margin-bottom: 0.938rem;
    }

    &__text {
        overflow: auto;
        resize: none;
        border: none;
        font-size: 10px;
        color: #636363;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100%;
        height: 34px;

        &::-webkit-scrollbar {
            width: 11px;
        }

        &::-webkit-scrollbar-thumb {
            background: #989898;
            border-radius: 6px;
            border: 4px solid var(--color-light-grey8);
        }
    }
}