.page-body__info-menu {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 5% 0 20% 0;
}

.page-body__faq {
    font-size: 0.75rem;
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
    color: var(--color-noabsolut);
    text-align: center;
    cursor: pointer;
}