<div class="options-contact">
    <button class="options-contact__dropdown-btn">Контактная информация<span onclick="myFunction()" class="icon icon-arrow options-contact__icon-click"></span></button>
    <div id="dropdown" class="options-contact__dropdown-content">
        <div class="options-contact__dropdown-content-inner">
            <span class="icon icon-call options-contact__icon"></span>
            <span class="icon icon-telegram options-contact__icon"></span>
            <span class="icon icon-whatsapp options-contact__icon"></span>
            <span class="options-contact__logo"><img src="@@webRoot/img/logo-company.png" alt="" class="options-contact__logo-img"></span>
            <img src="@@webRoot/img/yandex.png" alt="" class="options-contact__ya">
        </div>

    </div>
</div>

<script>
    function myFunction() {
        document.getElementById("dropdown").classList.toggle("show");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.options-contact__icon-click')) {

            var dropdowns = document.getElementsByClassName("options-contact__dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>