.options-contact {
    position: relative;

    &__dropdown-btn {
        background-color: #E2E5FF;
        width: 100%;
        height: 5.832vh;
        text-align: center;
        padding: 1.822vh 0;
        font-weight: 700;
        font-size: 16px;
        color: #444DB9;
        position: relative;
        border: none;

        .icon-arrow {
            position: absolute;
            top: 15px;
            right: 26px;
            font-size: 3.215vh;
        }
    }

    &__dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
        background-color: #E2E5FF;
        width: 100%;

        &-inner {
            display: flex;
            flex-direction: row;
            padding: 1.944vh 2.43vh;
            justify-content: space-between;
        }
    }

    &__icon {
        font-size: 4.252vh;
    }

    .icon-call {
        color: var(--color-main-order);
    }

    .icon-telegram {
        color: var(--color-telegram);
    }

    .icon-whatsapp {
        color: var(--color-whatsapp);
    }

    &__logo {
        width: 4.252vh;
        height: 4.252vh;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        display: inline-block;

        &-img {
            width: 100%;
        }
    }

    &__ya {
        height: 3.523vh;
    }

    .show {
        display: block;
    }

}