<div class="date-order">
    <div class="date-order__inner">
        <span class="date-order__inner-text">Обратите пожалуйста внимание! Выбор даты и времени необходим что бы
            продолжить заказ! </span>
    </div>
    @@if (date === 'true') {
        <div class="date-order__inner date-order__inner--padding">
        <div class="date-order__date">
            <div class="date-order__col">
                <span class="date-order__col-item">21 сентября</span>
                <span class="date-order__col-item date-order__col-item--active">Сегодня</span>
                <span class="date-order__col-item">23 сентября</span>
            </div>
            <div class="date-order__date-inner">
                <div class="date-order__col">
                    <span class="date-order__col-item">18</span>
                    <span class="date-order__col-item date-order__col-item--active">19</span>
                    <span class="date-order__col-item">20</span>
                </div>
                <div class="date-order__col">
                    <span class="date-order__col-item">30</span>
                    <span class="date-order__col-item date-order__col-item--active">35</span>
                    <span class="date-order__col-item">40</span>
                </div>
            </div>
        </div>
    </div>
    }
    
</div>