.date-order {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 96%;
    margin: 0 auto;

    &__inner {
        padding: 1.822vh 7.29vh;
        background: var(--color-white);
        border-radius: 15px;
        margin-bottom: 2.43vh;
        text-align: center;

        &-text {
            font-size: 1.701vh;
            text-align: center;
            color: var(--color-input);
        }

        &--padding {
            padding: 0 7.29vh;
        }
    }

    &__date {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-inner {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 10.935vh;
        }
    }

    &__col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-item {
            font-weight: 700;
            font-size: 2.551vh;
            text-align: center;
            color: var(--color-input);
            padding: 2.43vh 0;

            &--active {
                color: var(--color-main-order);
                border-top: 1px solid var(--color-main-order);
                border-bottom: 1px solid var(--color-main-order);
                padding: 0.972vh 0;
            }
        }
    }
}