<header class="header">
    <div class="header__inner">
        <span class="icon icon-burger header__icon-menu"></span>
    </div>
    <div class="header__inner">
        <img src="@@webRoot/img/logo.png" alt="" class="header__logo-img">
    </div>
    <div class="header__inner">
        <span class="header__photo">
            <img src="@@webRoot/img/Foto.png" alt="" class="header__photo-img">
        </span>
    </div>
</header>