.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: auto;
    padding: 0.729vh 2.43vh;
    margin-top: 5.346vh;
    width: 100%;
    align-items: center;

    &__icon-menu {
        font-size: 3.037vh;
    }

    &__logo-img {
        width: 18.955vh;
    }

    &__photo {
        width: 5.71vh;
        height: 5.71vh;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        display: inline-block;
    }
}