aside.menu {
    max-width: calc(80rem * 0.15);
    width: 100%;
    padding: 2vh 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    box-shadow: 1px 0px 0px 0px var(--color-light-grey2);
}