.page-body {
    &__placing-order {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    &__placing-order-inner {
        padding: 0.875rem 3.6%;
        width: 100%;

        &--border {
            border-left: 1px solid var(--color-light-grey11);
            border-right: 1px solid var(--color-light-grey11);
        }

        &--scroll {
            overflow-y: scroll;
            max-height: 42.375rem;
            overflow-x: hidden;
            margin-right: 0.313rem;



            &::-webkit-scrollbar {
                width: 12px;
            }

            &::-webkit-scrollbar-thumb {
                background: #989898;
                border-radius: 6px;
                border: 4px solid var(--color-white);
            }
        }
    }



    &__placing-order-parameters {
        width: 40%;
    }

    &__placing-order-info-delivery,
    &__placing-order-receipt-info {
        width: 30%;
    }

    &__placing-order-header {
        position: relative;
    }

    &__placing-order-title {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 400;
        font-size: 1.313rem;
        color: var(--bg-black-2);
        margin: 1.875rem 0 0.688rem 0;
        display: block;
        text-align: center;
        position: relative;
    }

    &__placing-order-express {
        color: var(--color-purpur);
        font-size: 23px;
        background: radial-gradient(circle, rgba(255, 255, 255, 1) 50%, rgba(212, 124, 226, 0) 0%);
        position: absolute;
        right: 86px;
        top: 2px;
    }

    .parameters {
        width: 100% !important;
        height: auto;
    }

}