<div id="fdc">
    <div class="fdc-mounths" id="fdc-mounths">
        <div id="prev_mounth"></div>
        <div id="current_mounth"></div>
        <div id="next_mounth"></div>
    </div>
    <div id="fdc_days" class="fdc__days">
        <div id="linir"></div>
    </div>
    <input type="hidden" name="date_picker" id="date_picker">
</div>
<script src="@@webRoot/js/datePicker.js"></script>