
#fdc_days {
	width: 100%;
	overflow: hidden;
	position: relative;

	#linir {
		display: flex;
		position: relative;
		align-items: center;
		transition: left 0.1s ease-in;
	}

	&::after {
		content: '';
		position: absolute;
		width: 40px;
		height: 100%;
		top: 0;
		right: 0;
		background: linear-gradient(90deg, transparent 0%, #fff 101.69%);
		z-index: 1;
	}

	&::before {
		content: '';
		position: absolute;
		width: 40px;
		height: 100%;
		top: 0;
		left: 0;
		background: linear-gradient(90deg, #fff 0%, transparent 101.69%);
		z-index: 1;
	}
}

div#fdc {
	margin-bottom: 2.563rem;

	.day {
		min-width: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		cursor: pointer;
		padding: 0.188rem;
		box-sizing: border-box;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		align-self: stretch;
		position: relative;

		>div {
			&:first-child {
				color: grey;
				margin-bottom: 0.688rem;
				font-size: 1.125rem;
			}

			&:last-child {
				font-size: 0.875rem;
			}
		}

		&:hover {
			>div {
				&:first-child {
					margin-bottom: 0.338rem;
				}

				&:last-child {
					background-color: blue;
					color: white;
					display: flex;
					width: 1.688rem;
					height: 1.688rem;
					border-radius: 50%;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}

	.day.active {
		>div {
			&:first-child {
				margin-bottom: 0.338rem;
			}

			&:last-child {
				background-color: blue;
				color: white;
				display: flex;
				width: 1.688rem;
				height: 1.688rem;
				border-radius: 50%;
				align-items: center;
				justify-content: center;
			}
		}
	}

	.fdc-mounths {
		display: flex;
		justify-content: space-between;
		font-size: 1rem;
		margin-bottom: 0.938rem;
		position: relative;
		padding: 0 0.875rem;
	}

	div#prev_mounth {
		cursor: pointer;
		font-size: 1rem;
	}

	div#next_mounth {
		cursor: pointer;
		font-size: 1rem;
	}

	div#current_mounth {
		font-size: 1rem;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}

div#fdc-mounths {
	&::after {
		content: '';
		position: absolute;
		width: 40px;
		height: 100%;
		top: 0;
		right: 0;
		background: linear-gradient(90deg, transparent 0%, #fff 101.69%);
		z-index: 1;
	}

	&::before {
		content: '';
		position: absolute;
		width: 40px;
		height: 100%;
		top: 0;
		left: 0;
		background: linear-gradient(90deg, #fff 0%, transparent 101.69%);
		z-index: 1;
	}
}
