.setting-li {
    margin: 1.822vh 1.3vh 2.916vh;
    color: var(--color-light-grey4);
    position: relative;

    &--active {
        color: var(--color-absolut);

        &::after {
            content: '';
            display: block;
            width: 4.131vh;
            border-bottom: 1px solid var(--color-main-order);
            position: absolute;
            bottom: -0.607vh;
        }
    }

    &__link {
        font-size: 1.822vh;
    }

    &--margin-left {
        margin-left: 0;
    }
}