.input-type-1 {
    margin-bottom: 1.375rem;
    width: 100%;

    .input-type-1__label {
        font-size: 0.875em;
        margin-bottom: 0.938rem;
        display: inline-block;
    }

    .input-type-1__input {
        background: var(--color-light-grey2);
        border-radius: 8px;
        color: var(--color-dark-grey);
        border: none;
        padding: 0.938rem 1.375rem;
        outline: none;
        letter-spacing: 0.1rem;
        font-weight: 700;
        font-size: 1.5rem;
        width: 100%;

        &:focus {
            color: var(--color-dark-input);
        }
    }
}