.registration-company {
    min-height: 100vh;
    padding: 1.375rem 0;
    justify-content: center;

    .registration {
        width: 23.188rem;
        display: flex;
        flex-direction: column;
        color: var(--color-input);
        flex: 0 1 auto;
        max-height: 38.25rem;
        align-self: center;

        .registration__title {
            .registration__title-text {
                font-size: 1.75rem;
                font-weight: 700;
                color: var(--bg-white-2);
                text-align: center;
                margin: 0 0 1.875rem 0;
            }
        }

        .registration__inputs {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            align-items: center;
            align-self: stretch;

            .input-type-1-eye,
            .input-type-1-small,
            .input-type-1 {
                margin-bottom: 1.375rem;

                .input-type-1-eye__input,
                .input-type-1-small__input,
                .input-type-1__input {

                    &.placeholder-active::placeholder {
                        color: #646464;
                    }

                    &.placeholder-disabled::placeholder {
                        color: #989898;
                    }

                    &.input-type-1-small__input--error {
                        border: 1px solid var(--color-pink);
                    }
                }
            }
        }

        .registration__button {
            margin-top: 1.75rem;
        }

        .registration__button-conf {
            margin-top: 10.188rem;
        }
    }
}