<div class="filter">
    <span class="filter__name">Фильтровать</span>
    <ul class="filter__ul">
        <!-- id=status-{id}-->
        <li class="filter__li">
            <input type="checkbox" id="status-1">
            <label for="status-1" class="filter__label">Все</label>
        </li>
        <li class="filter__li">
            <input type="checkbox" id="status-2">
            <label for="status-2" class="filter__label">Подбираем курьера</label>
        </li>
        <li class="filter__li">
            <input type="checkbox" id="status-3">
            <label for="status-3" class="filter__label">Получен курьером</label>
        </li>
        <li class="filter__li">
            <input type="checkbox" id="status-4">
            <label for="status-4" class="filter__label">В работе</label>
        </li>
        <li class="filter__li">
            <input type="checkbox" id="status-5">
            <label for="status-5" class="filter__label">Доставлен</label>
        </li>
        <li class="filter__li">
            <input type="checkbox" id="status-6">
            <label for="status-6" class="filter__label">Отменен</label>
        </li>
        <li class="filter__li">
            <input type="checkbox" id="status-7">
            <label for="status-7" class="filter__label">Не доставлен курьером</label>
        </li>
    </ul>
</div>
<script src="@@webRoot/js/filter.js"></script>