.filter {
    position: absolute;
    top: 11px;
    right: 20px;
    padding: 0.5rem 0.938rem;
    border: 1px solid var(--color-main-order);
    border-radius: 15px;
    color: var(--color-main-order);
    min-width: 11.25rem;
    background-color: var(--color-white);
    font-weight: 700;

    &.show {
        border: none;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
        z-index: 9;

        .filter__name {
            padding-bottom: 0.5rem;
            color: var(--color-express-card-active);
        }

        :is(span, label) {
            border-bottom: 1px solid var(--color-light-grey12);
        }

        .filter__li:last-child {
            label {
            border-bottom: 0px solid var(--color-light-grey12);
            }
        }

        .filter__ul {
            display: block;
        }
    }

    .filter__name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        &::after {
            content: '\e93c';
            font-family: 'agropoisk';
        }
    }

    .filter__ul {
        display: none;

        .filter__li {
            .filter__label {
                font-size: 0.688rem;
                color: var(--color-light-grey4);
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0.5rem 0;
                cursor: pointer;
            }
        }
    }
}