<div class="input-new-adress">
    <div class="input-new-adress__fake">
        <span class="input-new-adress__km" data-km="@@km">1.2 км</span>
        <input id="new-adress-input" type="text" placeholder="Мой адрес" class="input-new-adress__input">
        <span class="icon icon-building input-new-adress__icon"></span>
    </div>

    @@if (btn === 'true') {
        <div class="input-new-adress__order-btn">
        @@include('../../../components/elements_mobile/button/button.html',
        {"type": "", "name": "", "b-r": "btn--b-r-8", "border": "btn--border-none", "color": "", "b-c":
        "btn--b-c-color-main-order", "padding": "btn--padding-13", "width": "btn--width-150", "f-s": "btn--f-s-14", "f-w":
        "btn--f-w-700", "text": "Доставлять заказы", "icon": "", "number":""})

        @@include('../../../components/elements_mobile/button/button.html',
        {"type": "", "name": "", "b-r": "btn--b-r-8", "border": "btn--border-2", "color": "btn--color-main-order", "b-c":
        "", "padding": "btn--padding-13", "width": "btn--width-150", "f-s": "btn--f-s-14", "f-w":
        "btn--f-w-700", "text": "Забирать заказы", "icon": "", "number":""})
    </div>
    <div class="input-new-adress__confirm-btn">
        @@include('../../../components/elements_mobile/button/button.html',
        {"type": "", "name": "", "b-r": "btn--b-r-15", "border": "btn--border-2", "color": "btn--color-main-order", "b-c":
        "", "padding": "btn--padding-16", "width": "", "f-s": "btn--f-s-24", "f-w":
        "btn--f-w-700", "text": "Я подтверждаю адрес", "icon": "", "number":""})
    </div>
    }
    
</div>