.input-new-adress {
    padding: 2.43vh;
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    &__fake {
        border-radius: 15px;
        background: var(--color-light-grey2);
        padding: 2.066vh 2.43vh;
        position: relative;
        overflow: hidden;
    }

    &__km {
        &[data-km=true] {
            font-size: 1.701vh;
            color: var(--color-dark-grey);
            border-right: 1px solid var(--color-light-grey9);
            padding: 12px 8px 12px 0;
        }

        &[data-km=false] {
            display: none;
        }
    }

    &__input {
        width: 65%;
        margin: 0;
        border: none;
        background: transparent;
        font-size: 2.916vh;
        font-weight: 700;
        outline: none;
        padding-left: 1.215vh;

        &::placeholder {
            color: var(--color-dark-grey);
        }
    }

    &__icon {
        font-size: 44px;
        position: absolute;
        bottom: 0;
        right: 0px;
        color: var(--color-dark-grey);
    }

    &__order-btn {
        margin: 1.337vh 0 0.243vh 0;
        display: flex;
        justify-content: center;

        .btn {
            margin: 1.094vh;
        }
    }

    &__confirm-btn {
        padding: 1.094vh 0;
    }
}