<div class="checkbox-delivery">
    <input id="on-foot" type="checkbox" name="on-foot" class="checkbox-delivery__way">
    <label for="on-foot" class="checkbox-delivery__label">Пеший<span class="icon icon-footprints checkbox-delivery__label-icon"></span></label>
    <input id="on-car" type="checkbox" name="on-car" checked class="checkbox-delivery__way">
    <label for="on-car" class="checkbox-delivery__label">На легковом а/м<span class="icon icon-car2 checkbox-delivery__label-icon"></span></label>
    <input id="on-cargo" type="checkbox" name="on-cargo" disabled class="checkbox-delivery__way">
    <label for="on-cargo" class="checkbox-delivery__label">На грузовом а/м<span class="icon icon-track checkbox-delivery__label-icon"></span></label>
    <input id="premium" type="checkbox" name="premium" class="checkbox-delivery__way checkbox-delivery__way--premium">
    <label for="premium" class="checkbox-delivery__label checkbox-delivery__label--premium">Легковой авто премиум<span class="icon icon-diamond checkbox-delivery__label-icon"></span></label>
</div>