.checkbox-delivery {
    margin-top: 3.767vh;

    &__label {
        width: 100%;
        display: inline-flex;
        text-align: left;
        border: 1px solid var(--color-dark-grey);
        border-radius: 8px;
        color: var(--color-dark-grey);
        font-weight: 500;
        font-size: 2.3vh;
        padding: 2.43vh 11.123vh 2.43vh 2.43vh;
        margin-bottom: 2.43vh;
        position: relative;
        height: 7.533vh;

        &-icon {
            font-size: 4.739vh;
            position: absolute;
            right: 2.43vh;
            bottom: 1.337vh;


        }

        .icon-footprints {
            right: 4.617vh;
        }

        .icon-car2 {
            right: 2.43vh;
        }

        .icon-diamond {
            right: 5.224vh;
            font-size: 2.673vh;
            top: 2.387vh;
        }

        &--premium {
            color: var(--color-yellow);
            border-color: var(--color-yellow);
        }
    }

    &__way {
        &:checked+label {
            color: var(--color-white);
            background-color: var(--color-main-order);
            font-weight: 700;
        }

        &:disabled+label {
            opacity: 0.5;
            pointer-events: none;
        }

        &--premium {
            &:checked+label {
                border-color: var(--color-yellow);
                background-color: var(--color-yellow);
                font-weight: 700;
            }
        }
    }
}