<div class="dropdown-menu">
    <div class="dropdown-menu__content">
        <span class="dropdown-menu__text dropdown-menu__text--margin">Редактировать данные</span>
        <span class="dropdown-menu__text">Выйти</span>
    </div>
</div>