.dropdown-menu {
    position: absolute;
    width: 10.625rem;
    padding: 4rem 1.125rem 0.625rem 1.125rem;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    border-radius: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    top: -10px;
    right: -13px;
    z-index: -1;

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__text {
        font-size: 0.75rem;
        text-align: center;
        color: var(--color-absolut);
        cursor: pointer;

        &--margin {
            margin-bottom: 0.938rem;
        }
    }
}