<div class="input-type-1-eye">
    <label class="input-type-1-eye__label" for="@@id">@@label</label>
    <span class="icon icon-cross_eye"></span>
    <input id="@@id" type="password" class="input-type-1-eye__input" placeholder="@@placeholder">
</div>