.input-type-1-eye {
    margin-bottom: 1.375rem;
    width: 100%;
    position: relative;

    .input-type-1-eye__label {
        font-size: 0.875em;
        margin-bottom: 0.938rem;
        display: inline-block;
    }

    .icon-cross_eye,
    .icon-eye2 {
        position: absolute;
        right: 1.18rem;
        top: 3.218rem;
        cursor: pointer;
        font-size: 1.2rem;
        color: var(--color-input);
    }

    span.icon.icon-eye2.active {
        font-size: .9rem;
        top: 3.4rem;
        right: 1.17rem;
    }

    .input-type-1-eye__input {
        background: var(--color-light-grey2);
        border-radius: 8px;
        color: var(--color-dark-grey);
        border: none;
        padding: 0.938rem 1.375rem;
        outline: none;
        letter-spacing: 0.1rem;
        font-weight: 700;
        font-size: 1.5rem;
        width: 100%;

        &:focus {
            color: var(--color-dark-input);
        }
    }
}