.delivery-way {
    text-align: center;
    border: 2px solid var(--color-main-order);
    border-radius: 8px;
    color: var(--color-main-order);
    font-weight: 500;
    font-size: 2.308vh;
    padding: 2.066vh 13.123vh 2.066vh 0;
    margin-bottom: 5.225vh;
    position: relative;

    &__icon {
        font-size: 4.739vh;
        position: absolute;
        bottom: 1.136vh;
    }

    .icon-footprints {
        right: 4.617vh;
    }

    .icon-car2 {
        right: 2.43vh;
    }

    .icon-track {
        right: 2.43vh;
    }

    .icon-diamond {
        right: 5.224vh;
        font-size: 2.673vh;
        bottom: 2.23vh;
    }

    &--color-gold {
        color: var(--color-yellow);
        border-color: var(--color-yellow);
    }
}