<div class="popup">
    <div class="popup__body @@padding">
        <div class="popup__title">
            @@if (title === 'title-search-courier') {
            <span class="popup__title-search-courier">Выберите документ для отправки курьеру</span>
            }
            @@if (title === 'title-search-courier-bold') {
            <span class="popup__title-search-courier-bold">Запрос курьеру отправлен!</span>
            }
        </div>
        <div class="popup__content">

            @@if (cont === 'icon') {
            <span class="icon icon-check_mark"></span>
            }

            @@if (cont === 'files') {
            <div class="popup__inner">
                @@loop('../button_file/button-file.html', [
                {"file_id": "false", "text":"Акцептовать без документа"},
                {"file_id": "1", "text":"Название документа.pdf"},
                {"file_id": "2", "text":"Название документа.pdf"}
                ])
            </div>
            }

            @@if (cont === 'registration') {
            <div class="popup__inner">
                <span class="popup__reg-text">На указанный вами номер было отправлено SMS-сообщение со ссылкой на
                    приложение или мобильный сайт</span>
                <span class="popup__reg-text">Обратите внимание, что иногда SMS приходит с некоторой задержкой (до 5
                    минут)</span>
            </div>
            }

            @@if (cont === 'close') {
            <span class="icon icon-cross"></span>
            }

            @@if (cont === 'change-pass') {
            <div class="popup__change">
                <div class="popup__change-text">
                    <span class="popup__change-span">Мы отправили код на эл. почту:</span>
                    <span class="popup__change-span-color">corporetive@mail.ru</span>
                </div>
                <div class="popup__change-input">
                    @@include('../input/input.html', {"id":"", "label":"", "type":"", "placeholder":"", "border":"",
                    "b-r":"input--b-r-8", "b-c":"input--b-c-color-grey", "width":"input--width-115",
                    "padding":"input--padding-15-22", "f-s":"input--f-s-24", "color":"input--color-dark",
                    "placeholder":"....", "enter":"",
                    "weight":"", "entry-icon":"", "icon":"", "counter":"", "icon-eye":""})
                </div>
                <div class="popup__change-new-code">
                    <span class="popup__change-new-code-text">Получить новый код можно через <span
                            id="cooldown">00:00</span></span>
                </div>
            </div>
            }

            @@if (cont === 'orders') {
            <span class="popup__orders-text">Уверены что хотите сбросить все настройки?</span>
            }

            @@if (cont === 'settings') {
            <span class="popup__orders-text">Вы уверены что хотите удалить адрес?</span>
            }
        </div>
        <div class="popup__footer">

            @@if (footer === 'button-file') {
            <div class="popup__button">
                @@include('../button/button.html', {"type": "", "name": "", "text":
                "Отмена", "count": "", "b-r": "btn__b-r-15", "border": "btn__border-none", "color": "",
                "b-c": "btn__b-c-color-main-order", "padding": "btn__padding-12", "width": "btn__width-180", "f-s":
                "btn__f-s-14"})
            </div>
            }

            @@if (footer === 'button-reg') {
            <div class="popup__button">
                @@include('../button/button.html', {"type": "", "name": "", "text":
                "Хорошо", "count": "", "b-r": "btn__b-r-8", "border": "btn__border-none", "color": "",
                "b-c": "btn__color-main-order", "padding": "btn__padding-14", "width": "btn__width-155", "f-s":
                "btn__f-s-20"})
            </div>
            }

            @@if (footer === 'button-orders') {
            <div class="popup__button">
                @@include('../button/button.html', {"type": "", "name": "", "text":
                "Да! Уверен", "count": "", "b-r": "btn__b-r-15", "border": "btn__border-2", "color": "btn__bg-white-2",
                "b-c": "btn__transporent", "padding": "btn__padding-20", "width": "btn__width-216", "f-s":
                "btn__f-s-16"})
                @@include('../button/button.html', {"type": "", "name": "", "text":
                "Отменить", "count": "", "b-r": "btn__b-r-15", "border": "btn__border-none", "color": "",
                "b-c": "btn__b-c-bg-white-2", "padding": "btn__padding-20", "width": "btn__width-216", "f-s":
                "btn__f-s-16"})
            </div>
            }
        </div>
    </div>
</div>