.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

    &__body {
        background: var(--color-white);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.25rem;

        &--padding-45-85 {
            padding: 2.813rem 5.313rem;
        }

        &--padding-20-65 {
            padding: 1.25rem 4.063rem;
        }

        &--padding-20-25 {
            padding: 1.25rem 1.563rem;
        }

        &--padding-20-22 {
            padding: 1.25rem 1.375rem;
        }
    }

     /*title*/

    &__title-search-courier {
        font-style: normal;
        font-weight: 400;
        font-size: 1.125rem;
        margin-bottom: 2.5rem;
        display: block;
        text-align: center;
    }

    &__title-search-courier-bold {
        display: block;
        font-weight: 500;
        font-size: 1.625rem;
        margin-bottom: 2.5rem;
        text-decoration: underline;
        text-decoration-skip-ink: none;
    }

    &__title-registration {
        font-size: 1.375rem;
    }

     /*content*/

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;

        .button-file {
            margin-bottom: 1.875rem;
        }
    }

    .icon-check_mark {
        color: var(--color-main-order);
        font-size: 3.75rem;
    }

    .icon-cross {
        position: absolute;
        right: 3px;
        top: 3px;
        font-size: 1.688rem;
        color: var(--color-input);
    }

    &__reg-text {
        font-size: 1.125rem;
        color: var(--color-input);
        margin-bottom: 1.875rem;
        display: block;
        width: 32.813rem;
    }

    &__change-text {
        font-size: 0.875rem;
        color: var(--color-input);
        margin-bottom: 2.5rem;
    }

    &__change-span {
        margin-bottom: 0.938rem;
    }

    &__change-span-color {
        color: var(--color-absolut);
    }

    &__change-input {
        margin-bottom: 2.5rem;
    }

    &__change-new-code-text {
        color: var(--color-dark-grey);
        font-size: 0.813rem;
    }

    &__orders-text {
        font-size: 0.875rem;
        color: var(--color-input);
        margin-bottom: 1.25rem;
    }

    /*footer*/

    &__button {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}