:root {
    --color-main-order: #444DB9;
    --color-order: #6065A0;
    --color-card: #5A419F;
    --color-white: #fff;
    --color-blue: #5298FF;
    --color-light: #F7F8FF;
    --color-blue-2: #747CD6;
    --color-lilac: #6065A0;
    --color-blue-3: #5B64CA;
    --color-blue-4: #323CA3;
    --color-blue-5: #27308E;
    --color-in: #FFC0A5;
    --color-off: #FFCCB6;
    --color-pink: #DC7979;
    --color-absolut: #000;
    --color-dark-input: #131313;
    --color-noabsolut: #636363;
    --color-input: #646464;
    --color-noabsolut-opacity: rgba(99, 99, 99, 0.5);
    --color-blue-3: #414AB8;
    --color-telegram: #0088CC;
    --color-viber: #7F6BF4;
    --color-whatsapp: #43D854;
    --color-red-order: #8D2F2F;
    --color-red-dropdown: #CD5959;
    --color-yellow: #CEAA4E;
    --color-cursor: #E4E6FF;
    --color-grey: #F5F5F5;
    --color-active: #FAFAFA;
    --color-green: #439550;
    --color-light-grey: #C5C5C5;
    --color-light-grey2: #F9F7F8;
    --color-light-grey3: #C4C4C4;
    --color-light-grey4: #757575;
    --color-light-grey5: #B5B5B5;
    --color-light-grey6: #ECECEC;
    --color-light-grey7: #EEEEEE;
    --color-light-grey8: #A7A7A7;
    --color-light-grey9: #C9C9C9;
    --color-light-grey10: #BBBBBB;
    --color-border: #E0E0E0;
    --color-dark-grey: #989898;
    --bg-white-1: #EFF0FF;
    --bg-white-2: #428EFF;
    --bg-black-2: #333554;
    --color-btn-hover: #3385FF;
    --color-btn-active: #217AFF;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
}


/*Обнуляющие стили*/

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.unselectable {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    not supported by any browser */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.radio [type="radio"]:not(:checked)+label:before,
.radio [type="radio"]:not(:checked)+label:after,
.radio [type="radio"]:checked+label:before,
.radio [type="radio"]:checked+label:after {
    border-radius: 50%;
}

.radio [type="radio"]:not(:checked)+label,
.radio [type="radio"]:checked+label {
    position: relative;
    padding-left: 5.589vh;
    cursor: pointer;
    display: inline-block;
    height: 3.038vh;
    line-height: 3.038vh;
    -webkit-transition: .28s ease;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox input[type=checkbox]:checked~label,
.radio [type="radio"]:checked~label {
    color: var(--color-main-order);
}

.radio [type="radio"]+label:before,
.radio [type="radio"]+label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 2.795vh;
    height: 2.795vh;
    z-index: 0;
    -webkit-transition: .28s ease;
    transition: .28s ease;
}

.radio [type="radio"]:checked+label:after,
.radio [type="radio"]:checked+label:before {
    border: 1px solid var(--color-main-order);
}

.radio [type="radio"]:checked+label:after {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    background-color: var(--color-main-order);
}

.radio [type="radio"]:checked+label:after,
.radio [type="radio"]:checked+label:before {
    border: 1px solid var(--color-main-order);
}

.radio [type="radio"]:not(:checked)+label:before,
.radio [type="radio"]:not(:checked)+label:after {
    border: 1px solid var(--color-dark-grey);
}

input[type="file"] {
    display: none;
}

input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.checkbox input[type=checkbox]:checked+label::before {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACrSURBVHgBpZJRDcMwDERPQzAIgVBGC4NBaBl0DAJlEAZhEArBtVVbjapEbt0nRflwfDpfDAQhokwb+YEA3Jj4GnEHFpnVxQ8RxAXtJETgxr8KTIhQhSlCT1xFxzAXGQ17rjLXiwqUVtHUv46LfpgHm3NHxA+TiwOfRR+Oh9rbwoRHlbzwarjMOIPY1YZF3ZVumI7QpxKyO+Eq8lPVaBMiyM7Y/uAOGupw5u0K0tEgwEI6aYkAAAAASUVORK5CYII=);
    border: 1px solid var(--color-main-order);
    background-color: var(--color-main-order);
    text-align: center;
    padding-left: 1px;
    line-height: 30px;
}

.checkbox input[type=checkbox]+label::before {
    content: "";
    width: 25px;
    height: 26px;
    border: 1px solid var(--color-dark-grey);
    border-radius: 6px;
    margin-right: 2.673vh;
    display: inline-block;
    vertical-align: middle;
    padding-left: 1px;
}


/*Стили для инпутов*/

input.validate {
    font-weight: 500;
    font-size: 2.308vh;
    background: var(--color-light-grey2);
    border-radius: 8px;
    color: var(--color-dark-grey);
    border: none;
    padding: 1.04rem 1.375rem;
    outline: none;
    width: 100%;
}

.input-text input.validate:focus {
    color: var(--color-dark-input);
}

span.helper-text {
    font-size: 1.7vh;
    margin-bottom: 1.823vh;
    display: block;
}


/*Стили для кнопок с псевдоклассами*/

button.type_1 {
    background-color: var(--color-main-order);
}

button.type_2:hover {
    background-color: var(--color-btn-hover);
}

button.type_2:active {
    background-color: var(--color-btn-active);
}

button.type_2 {
    background-color: var(--bg-white-2);
}

button.type_1:hover {
    background-color: var(--color-blue-4);
}

button.type_1:active {
    background-color: var(--color-blue-5);
}

button.type_3 {
    border: 2px solid var(--bg-white-2);
    color: var(--bg-white-2);
    background-color: transparent;
    padding: 2.066vh 0;
}

button.type_3:hover {
    border: 2px solid var(--color-btn-hover);
    color: var(--color-btn-hover);
}

button.type_3:active {
    border: 2px solid var(--color-btn-active);
    color: var(--color-btn-active);
}

button.type_4 {
    border: 2px solid var(--color-main-order);
    color: var(--color-main-order);
    background-color: transparent;
}

button.type_4:hover,
select.mobile-wrap__options:hover {
    border: 2px solid var(--color-blue-4);
    color: var(--color-blue-4);
}

button.type_4:active,
select.mobile-wrap__options:active {
    border: 2px solid var(--color-blue-5);
    color: var(--color-blue-5);
    outline: none;
}