html {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: var(--color-noabsolut);
}

.mobile-wrap {
    height: 100%;
    width: calc(100vh / 1.6);
    background-color: var(--color-white);
    background-blend-mode: overlay;
    position: relative;
    color: var(--color-input);
}

.mobile-wrap__content {
    padding: 0 2.43vh;
}

.mobile-wrap__content {
    position: relative;
    height: 100%;
    overflow-y: scroll;
}

.mobile-wrap__buttons {
    margin-top: 30.5vh;
}

.mobile-wrap__buttons button.mobile-wrap__button {
    width: 100%;
}

.mobile-wrap__button {
    border-radius: 8px;
    border: none;
    color: var(--color-white);
    font-size: 2.308vh;
    padding: 1.278vh 0;
    display: block;
    width: 90%;
    font-weight: 500;
    margin: 0 auto 3.645vh;
}

.mobile-wrap__footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.mobile-wrap h2.mobile-wrap__content-h2 {
    font-size: 2.916vh;
    text-align: center;
    color: var(--color-absolut);
    line-height: 36px;
    margin: 11.99vh 0 6.475vh 0;
    position: relative;
    vertical-align: middle;
}

.mobile-wrap .mobile-wrap__title h2.mobile-wrap__content-h2 {
    margin: 0;
}

.mobile-wrap__title {
    position: relative;
    margin: 11.99vh 0 6.475vh 0;
}

.mobile-wrap__title h2.mobile-wrap__content-h2 {
    display: inline-block;
    width: 84%;
}

.mobile-wrap h2.mobile-wrap__content-h2.margin {
    margin-bottom: 3.159vh;
}

.mobile-wrap h2.mobile-wrap__content-h2 span.icon.icon-arrow {
    position: absolute;
    left: 0;
    top: 8px;
    transform: rotate(90deg);
    font-size: 2.673vh;
}

.mobile-wrap .mobile-wrap__title span.icon.icon-arrow {
    transform: rotate(90deg);
    font-size: 2.673vh;
    display: inline-block;
    vertical-align: middle;
}

.mobile-wrap__footer-content .mobile-wrap__footer-text {
    color: var(--color-dark-grey);
    display: block;
    
}

.center {
    text-align: center;
    display: block;
}

.mobile-wrap__footer-content a.footer-text-2 {
    color: var(--color-input);
    display: block;
    cursor: pointer;
}

.mobile-wrap__footer .mobile-wrap__footer-content {
    border-top: 0.5px solid var(--color-dark-grey);
    width: 100%;
    font-size: 1.559vh;
    padding: 0.938rem 1.563rem 1.563rem 1.563rem;
}

.input-text-small .helper-text {
    text-align: center;
}

.mobile-wrap__content .input-text input#input-code {
    width: 31%;
    letter-spacing: 0.4rem;
    padding-right: 0.75rem;
    text-align: center;
    margin: 0 auto;
}

.mobile-wrap__content .input-text input#input-code::placeholder {
    color: var(--color-light-grey3);
}

input.validate::placeholder {
    color: var(--color-dark-grey);
}

.input-text {
    display: flex;
    flex-direction: column;
    
}

.text {
    margin-bottom: 50px;
}

.mobile-wrap__footer-none {
    display: none;
}

.mobile-wrap__content .input-text input.input-error {
    border: 1px solid var(--color-pink);
}

.mobile-wrap-popup {
    width: 100%;
    position: absolute;
    top: 5px;
}

.mobile-wrap-popup>div {
    margin: 0 auto;
    width: 90%;
}

.mobile-wrap-popup .mobile-wrap-popup__body .mobile-wrap-popup__content {
    background-color: var(--color-white);
    color: var(--color-input);
    padding: 2.795vh 2.309vh;
    border-radius: 8px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1.701vh;
}

div.input-text.worksheet span.helper-text {
    font-size: 2.187vh;
    margin-bottom: 2.43vh;
}

.explanation {
    font-size: 1.580vh;
    display: block;
    padding: 0px 5%;
    color: var(--color-dark-grey);
}

div.input-text.worksheet .explanation {
    text-align: center;
}

.input__messengers {
    display: flex;
    justify-content: space-between;
    margin: 3.159vh auto 5.589vh auto;
    align-items: center;
    max-width: 50.668vh;
    width: 100%;
}

.input__messengers input[type="checkbox"]:not(:checked),
.input__messengers input[type="checkbox"]:checked {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.input__messengers label {
    cursor: pointer;
}

.input__messengers label span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    width: 13.244vh;
    height: 13.244vh;
    font-size: 6.561vh;
    opacity: 50%;
}

.input__messengers span.icon-telegram {
    color: var(--color-telegram);
    border-color: var(--color-telegram);
}

.input__messengers input[type=checkbox]:checked+label span {
    transform: scale(1.07);
    opacity: 100%;
}

.input__messengers span.icon-viber {
    color: var(--color-viber);
    border-color: var(--color-viber);
}

.input__messengers span.icon-whatsapp {
    color: var(--color-whatsapp);
    border-color: var(--color-whatsapp);
}

input.input-logo {
    display: none;
}

.mobile-wrap__input-logo label.label-logo {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 33px;
    background-color: var(--color-main-order);
    margin: 15.31vh auto 1.215vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.mobile-wrap__input-logo {
    text-align: center;
    position: relative;
    width: 17.011vh;
    height: 17.740vh;
    margin: 0 auto;
}

.mobile-wrap__input-logo span.icon.icon-camera {
    position: absolute;
    top: 6.439vh;
    left: 5.441vh;
    color: var(--color-white);
    font-size: 4.374vh;
}

#helper-text-photo.explanation.center::before {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAOCAYAAAAbvf3sAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEYSURBVHgBhZLBrYJAEIbZhQNHSqAEXgfvVfB4FTz3BISDWoFagXoghBPagVagHagVSAlcIQH8h8waYjRMMsnuzvfPzsyuMN5YnudOVVWXrutWURTthjEx3CRJ4lmW9QvQw9bn410YhkozUi+yLFubpnkC7MJvfFwKIW7DpFLDgHz4F2WzbXuD9Z72QRBsmOlvFGmaTpBlgeAP6i2Mzz3dwfxJwP/c3FuYTClVgtlSYirJQ+1XY8TAHIglgdM0TTkmYMYhQQF3jXEjpiDBkfoYo5k5SzRDY/Mxto8ijtHYV/1L82hz+LJt272eGI2zruspwBliCm9yeH4NiFwSYfnNfem6z2h4HsdxP0nxej0JCZRSOrjt+vo+D3lPkeGVwmfQAAAAAElFTkSuQmCC);
    position: absolute;
    left: -22px;
    bottom: -2px;
}

#helper-text-photo.explanation.center {
    padding: 0;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    position: relative;
}

.mobile-wrap__cour-list-check>div,
.mobile-wrap__types-orders>div,
.mobile-wrap__days-week>div {
    font-size: 2.308vh;
    font-weight: 500;
    color: var(--color-dark-grey);
    margin-bottom: 2.43vh;
    position: relative;
    display: flex;
}

.mobile-wrap__cour-list-check {
    margin: 5.832vh auto 4.496vh auto;
    width: 68%;
}

.mobile-wrap__cour-list-check.status {
    width: 61%;
}

div.input-text.worksheet a.explanation {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.mobile-wrap__cour-list-check.occupation {
    width: 50%;
}

.mobile-wrap__cour-list-check.language {
    margin: 8.505vh auto 0 auto;
    width: fit-content;
}

textarea#input-big-text {
    overflow: auto;
    resize: none;
    width: 100%;
    height: 22.357vh;
    background-color: var(--color-light-grey2);
    border-radius: 8px;
    border: none;
    padding: 1.823vh 2.673vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 3.159vh;
    font-size: 2.916vh;
}

textarea#input-big-text::placeholder {
    color: var(--color-dark-grey);
    font-weight: 700;
    font-size: 2.916vh;
}

.mobile-wrap__input-summary label.label-summary {
    width: 100%;
    padding: 1.823vh 2.430vh;
    border-radius: 8px;
    border: 1px solid var(--color-main-order);
    font-weight: 400;
    color: var(--color-main-order);
    display: block;
    position: relative;
    margin-top: 3.645vh;
}

.mobile-wrap__input-summary label.label-summary span#helper-text-summary {
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--color-main-order);
    font-size: 2.066vh;
    padding: 0;
}

.mobile-wrap__input-summary label.label-summary span.icon.icon-plus {
    position: absolute;
    top: 1.944vh;
    right: 3.281vh;
    font-size: 1.944vh;
}

.mobile-wrap__input-summary label.label-summary span#helper-text-summary span.explanation-small {
    font-size: 1.580vh;
}

.mobile-wrap__input-summary label.label-summary span.icon.icon-check_mark {
    position: absolute;
    top: 1.944vh;
    right: 3.281vh;
    font-size: 2.430vh;
}

.mobile-wrap__input-summary label.label-summary span#helper-text-summary.explanation.explanation-weight {
    font-weight: 500;
}

.mobile-wrap__birth-years>span {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-dark-grey);
}

.mobile-wrap__birth-years>span:last-child {
    margin-bottom: 0;
    background: linear-gradient(0deg, #FFFFFF 0%, #989898 75.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mobile-wrap__birth-years>span:first-child {
    background: linear-gradient(180deg, #FFFFFF 0%, #989898 75.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mobile-wrap__birth-years>span:nth-child(even) {
    font-size: 3.159vh;
}

.mobile-wrap__birth-years>span:nth-child(odd) {
    font-size: 3.038vh;
}

.mobile-wrap__birth-years {
    margin-top: 6.075vh;
}

.mobile-wrap__birth-dates {
    text-align: center;
    width: 88%;
    margin: 0 auto;
    padding: 10px 0;
}

.mobile-wrap__birth-dates>span {
    display: inline-block;
    color: var(--color-dark-grey);
}

.mobile-wrap__birth-dates>span.mobile-wrap__day {
    width: 15%;
}

.mobile-wrap__birth-dates>span.mobile-wrap__year {
    width: 32%;
}

.mobile-wrap__birth-dates>span.mobile-wrap__month {
    width: 45%;
}

.mobile-wrap__birth-years>div:nth-child(even) {
    font-size: 3.159vh;
}

.mobile-wrap__birth-years>div:nth-child(odd) {
    font-size: 3.038vh;
}

.mobile-wrap__birth-dates.active {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.mobile-wrap__birth-years span.mobile-wrap__year.active,
.mobile-wrap__birth-years div.mobile-wrap__birth-dates.active>span,
.mobile-wrap__birth-years div.mobile-wrap__birth-dates.active {
    color: var(--color-main-order);
    font-size: 3.645vh;
}

.mobile-wrap__birth-years>div:last-child {
    margin-bottom: 0;
    background: linear-gradient(0deg, #FFFFFF 0%, #989898 55.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mobile-wrap__birth-years>div:first-child {
    background: linear-gradient(180deg, #FFFFFF 0%, #989898 55.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mobile-wrap__slide .slide span {
    margin-bottom: 2.430vh;
    font-size: 2.187vh;
}

.slide span:first-child {
    margin-top: 3.402vh;
    font-weight: 500;
}

.slide ol.mobile-wrap__ol li {
    list-style-type: decimal;
    margin-bottom: 1.215vh;
    font-size: 2.187vh;
    padding-left: 1.215vh;
}

ol.mobile-wrap__ol {
    padding-left: 4.8%;
}

.mobile-wrap__content .mobile-wrap__content-img {
    width: 100%;
    text-align: center;
    margin-bottom: 3.159vh;
}

.mobile-wrap__switch-slide span.mobile-wrap__span-circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid var(--color-input);
    display: inline-block;
    margin: 0 0.608vh;
}

.mobile-wrap__switch-slide span.mobile-wrap__span-circle.active {
    background-color: var(--color-input);
}

.mobile-wrap__switch-slide {
    text-align: center;
    position: fixed;
    bottom: 27%;
    right: 45%;
    left: 45%;
}

.mobile-wrap__select-zone button#select-zone {
    width: 100%;
    height: 26.124vh;
    border: 1px dashed var(--color-main-order);
    border-radius: 8px;
    background-color: transparent;
    font-size: 1.580vh;
    color: var(--color-input);
}

.mobile-wrap__select-zone button#select-zone span.icon.icon-plus {
    font-size: 5.103vh;
    color: var(--color-main-order);
}

.mobile-wrap__select-zone button#select-zone span {
    display: block;
    margin: 1.519vh 0;
}

.mobile-wrap__new-adress-map .mobile-wrap__new-adress-input {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    position: fixed;
    bottom: 0;
    height: 12.394vh;
    left: 0;
    right: 0;
    background-color: var(--color-white);
}

div.mobile-wrap.transparent {
    background-color: transparent;
}

.mobile-wrap__new-adress-input,
.mobile-wrap__adress-list {
    padding: 2.430vh;
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.mobile-wrap__fake-input,
.mobile-wrap__adress-ul li.mobile-wrap__li.active {
    border-radius: 15px;
    background: var(--color-light-grey2);
    padding: 2.066vh 2.430vh;
    position: relative;
    overflow: hidden;
}

.mobile-wrap__fake-input input[type=text],
ul.mobile-wrap__adress-ul li.mobile-wrap__li {
    width: 65%;
    margin: 0;
    border: none;
    background: transparent;
    font-size: 2.916vh;
    font-weight: 700;
    outline: none;
    padding-left: 1.215vh;
}

.mobile-wrap__fake-input input[type=text]::placeholder {
    color: var(--color-dark-grey);
    opacity: 1;
}

.mobile-wrap__fake-input span.icon,
li.mobile-wrap__li.active span.icon.icon-building {
    font-size: 44px;
    position: absolute;
    bottom: 0;
    right: 0px;
    color: var(--color-dark-grey);
}

.mobile-wrap__fake-input span.km {
    font-size: 1.701vh;
    color: var(--color-dark-grey);
    border-right: 1px solid var(--color-light-grey9);
    padding: 12px 8px 12px 0;
}

.mobile-wrap-map-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 39, 39, 0.6);
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}

.mobile-wrap-map-popup .mobile-wrap-map-popup__body .mobile-wrap-map-popup__content {
    background-color: var(--color-white);
    color: var(--color-input);
    width: 90%;
    border-radius: 15px;
    transition: all 0.8s ease 0s;
    position: absolute;
    top: 25%;
    left: 5%;
}

.mobile-wrap-map-popup__content .mobile-wrap-map-popupp__title {
    width: 100%;
    text-align: center;
    padding: 1.458vh 0;
    font-size: 2.187vh;
    font-weight: 500;
    border-bottom: 0.5px solid var(--color-light-grey8);
}

.mobile-wrap-map-popup__content .mobile-wrap-map-popup__content-class {
    margin: 3.038vh 1.337vh 3.767vh 1.337vh;
}

.mobile-wrap__new-adress-input .mobile-wrap__btns-order {
    margin: 1.337vh 0 0.243vh 0;
}

.mobile-wrap-map-popup__content .mobile-wrap-map-popup__content-class,
.mobile-wrap__new-adress-input .mobile-wrap__btns-order,
.mobile-wrap__new-adress-input .mobile-wrap__btn-confirm {
    text-align: center;
}

.mobile-wrap-map-popup__content .mobile-wrap-map-popup__content-class span {
    font-size: 1.701vh;
    font-weight: 500;
    display: block;
    padding: 0 2.6vh;
}

.mobile-wrap-map-popup__content-class .mobile-wrap-map-popup__btns-order {
    margin: 2.187vh 0 2.309vh 0;
}

.mobile-wrap-map-popup__content-class button.btn-orders,
.mobile-wrap__new-adress-input button.btn-orders,
.mobile-wrap-adress-popup__content button.btn-orders {
    border: 2px solid var(--color-main-order);
    border-radius: 8px;
    color: var(--color-main-order);
    font-weight: 700;
    font-size: 1.701vh;
    background-color: transparent;
    width: 18.226vh;
    height: 5.103vh;
    margin: 1.094vh;
}

.mobile-wrap__new-adress-input .mobile-wrap__btn-confirm button.btn-orders {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 7.533vh;
    font-size: 2.916vh;
    border-radius: 15px;
}

.mobile-wrap-map-popup__content-class button.btn-orders.btn-done {
    font-size: 2.552vh;
}

button.btn-orders.active {
    background-color: var(--color-main-order);
    color: var(--color-white);
}

img.mobile-wrap-map-popup__img {
    margin: 1.823vh 0 3.038vh 0;
}

.mobile-wrap-map-popup__content-class button.btn-orders.btn-good {
    margin: 0;
    font-size: 2.552vh;
}

.mobile-wrap-map-popup .mobile-wrap-map-popup__body .mobile-wrap-map-popup__content.another-width {
    width: 70%;
    top: 18%;
    left: 15%;
}

ul.mobile-wrap__adress-ul li.mobile-wrap__li {
    width: 100%;
    padding: 0.972vh 2.430vh;
}

li.mobile-wrap__li span.mobile-wrap__li-adress {
    color: var(--color-dark-input);
}

li.mobile-wrap__li span.mobile-wrap__li-country {
    font-size: 1.701vh;
    font-weight: 500;
}

li.mobile-wrap__li span {
    display: block;
}

ul.mobile-wrap__adress-ul li.mobile-wrap__li {
    border-bottom: 0.5px solid var(--color-light-grey8);
}

.mobile-wrap__adress-ul li.mobile-wrap__li.active {
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.15));
    border: none;
}

.mobile-wrap__checkbox-delivery {
    margin-top: 3.767vh;
    text-align: center;
}

.mobile-wrap__checkbox-delivery label {
    display: block;
    text-align: left;
    border: 1px solid var(--color-dark-grey);
    border-radius: 8px;
    color: var(--color-dark-grey);
    font-weight: 500;
    font-size: 2.3vh;
    padding: 2.43vh 11.123vh 2.43vh 2.43vh;
    margin-bottom: 2.43vh;
    position: relative;
    height: 7.533vh;
}

.mobile-wrap__checkbox-delivery label span.icon {
    font-size: 4.739vh;
    position: absolute;
    right: 2.43vh;
    bottom: 1.337vh;
}

.mobile-wrap__checkbox-delivery label span.icon.icon-footprints {
    right: 4.617vh;
}

.mobile-wrap__checkbox-delivery label span.icon.icon-car2 {
    right: 2.43vh;
}

.mobile-wrap__checkbox-delivery input[type=checkbox]:checked+label {
    color: var(--color-white);
    background-color: var(--color-main-order);
    font-weight: 700;
}

.mobile-wrap__checkbox-delivery input#premium[type=checkbox]:checked+label {
    border-color: var(--color-yellow);
    background-color: var(--color-yellow);
    font-weight: 700;
}

button.mobile-wrap__button.button-bottom-no-footer2 {
    bottom: 5.589vh;
    margin: 0;
}

.mobile-wrap__options {
    font-size: 2.308vh;
    font-weight: 500;
    color: var(--color-main-order);
    width: 100%;
    position: relative;
    margin-bottom: 3.6vh;
}

.mobile-wrap__options select {
    display: none;
}

.select-selected {
    border: 2px solid transparent;
    border-color: var(--color-main-order);
    border-radius: 8px 8px 8px 8px;
    padding: 1.8vh 2.309vh;
}

.select-selected::after {
    content: "\e93c";
    font-family: 'agropoisk';
    position: absolute;
    right: 3.159vh;
    top: 2.187vh;
}

.select-selected.select-arrow-active {
    border-radius: 8px 8px 0px 0px;
    z-index: 99;
}

.select-items div {
    border: .5px solid transparent;
    border-color: transparent transparent var(--color-main-order) transparent;
    padding: 2.066vh 2.309vh;
}

.select-items div:last-child {
    border: none;
}

.select-items {
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    right: 0;
    z-index: 98;
    border: 2px solid transparent;
    border-radius: 0px 0px 8px 8px;
    border-color: var(--color-main-order);
    border-width: .5px 2px 2px 2px;
    background-color: var(--color-white);
}

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.select-css::-ms-expand {
    display: none;
}

.select-css:focus {
    border: 2px solid var(--color-blue-5);
    color: var(--color-blue-5);
}

.mobile-wrap__size.input-text.worksheet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3.645vh;
}

.mobile-wrap__size.input-text.worksheet span.helper-text {
    flex: 1 0 100%
}

.mobile-wrap__input-small {
    flex: 0 1 30%;
}

.mobile-wrap__input-big {
    width: 53%;
    margin: 0 auto 4.253vh auto;
}

.mobile-wrap__size input[name="width"],
.mobile-wrap__size input[name="length"],
.mobile-wrap__size input[name="height"] {
    padding: 2.066vh 1.337vh;
    text-align: center;
}

div.input-text.worksheet input.validate.kilogram {
    width: 100%;
    padding: 2vh 1.337vh;
    text-align: center;
}

div.input-text.worksheet span.helper-text.fz14 {
    font-size: 1.701vh;
    margin-bottom: 1.823vh;
}

.mobile-wrap__on-foot {
    margin-top: 2.916vh;
}

.mobile-wrap__delivery-way {
    display: block;
    text-align: center;
    border: 2px solid var(--color-main-order);
    border-radius: 8px;
    color: var(--color-main-order);
    font-weight: 500;
    font-size: 2.308vh;
    padding: 2.066vh 13.123vh 2.066vh 0;
    margin-bottom: 5.225vh;
    position: relative;
}

.mobile-wrap__delivery-way span.icon {
    font-size: 4.739vh;
    position: absolute;
    bottom: 1.136vh;
}

.mobile-wrap__delivery-way span.icon.icon-footprints {
    right: 4.617vh;
}

.mobile-wrap__delivery-way span.icon.icon-car2 {
    right: 2.43vh;
}

.mobile-wrap__delivery-way span.icon.icon-track {
    right: 2.43vh;
}

.mobile-wrap__delivery-way span.icon.icon-diamond {
    right: 5.224vh;
    font-size: 2.673vh;
    bottom: 2.23vh;
}

.mobile-wrap__on-foot,
.mobile-wrap__on-car,
.mobile-wrap__on-cargo,
.mobile-wrap__premium {
    margin-bottom: 6.075vh;
}

.mobile-wrap__button-default {
    width: 100%;
}

.mobile-wrap__premium.mb {
    margin-bottom: 2.187vh;
}

.mobile-wrap__content .bb::after {
    content: "";
    background-color: var(--color-light-grey10);
    height: 0.5px;
    display: block;
    width: 33.414vh;
    margin: 6.075vh auto 0 auto;
}

.mobile-wrap__on-foot.mb {
    margin-bottom: 6.44vh;
}

.mobile-wrap__premium .mobile-wrap__delivery-way {
    color: var(--color-yellow);
    border-color: var(--color-yellow);
}

.mobile-wrap__footer button.mobile-wrap__button.margin {
    margin-bottom: 5.589vh;
}

.mobile-wrap h2.mobile-wrap__content-h2.margin35 {
    margin-bottom: 4.253vh;
}

.mobile-wrap__types-orders.types-orders {
    padding-left: 4%;
    margin: 6.318vh 0 6.926vh 0;
    padding-right: 0.486vh;
}

.mobile-wrap__content label {
    position: relative;
    display: inline-flex;
}

.mobile-wrap__types-orders label {
    flex: 0 0 90%;
}

.test {
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.12));
    display: inline-block;
    position: relative;
    z-index: 999;
}

.mobile-wrap__content span.question_mark {
    font-size: 2.916vh;
    color: var(--color-dark-grey);
    position: relative;
    vertical-align: middle;
    z-index: 9;
    font-weight: 500;
}

div.help {
    display: none;
}

.active div.help {
    background: #fff;
    opacity: 0.96;
    position: absolute;
    padding: 2.795vh 4.860vh 2.795vh 2.795vh;
    border-radius: 15px;
    left: -85vw;
    width: 83vw;
    display: block;
}

.active div.help::before {
    content: '';
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: transparent;
    right: -15px;
    top: var(--before-x);
    position: absolute;
    box-shadow: 7.5px 7.5px #fff;
    transform: rotate(90deg);
}

.active div.help::after {
    content: '';
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: transparent;
    right: -15px;
    bottom: var(--after-x);
    position: absolute;
    box-shadow: 7.5px 7.5px #ffffff;
    transform: rotate(180deg);
}

.active span.question_mark::before {
    content: '';
    display: inline-block;
    background: #FFFFFF;
    border-radius: 0px 15px 15px 0px;
    height: 48px;
    width: 48px;
    position: absolute;
    top: -12px;
    left: -12px;
}

span.question_mark::after {
    content: "\e943";
    font-family: 'agropoisk' !important;
    position: relative;
}

.active div.help i {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.701vh;
    line-height: 1.944vh;
    width: 90%;
    display: inline-block;
}

.active div.help i b {
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
}

.input-text.worksheet.date-margin {
    margin: 2.430vh 0 4.860vh 0;
}

.input-text.worksheet.date-margin input {
    margin: 0;
}

.mobile-wrap__cour-list-check.date {
    max-width: 35.115vh;
    width: 100%;
    margin: 0 auto;
}

.mobile-wrap__cour-list-check.date label,
.mobile-wrap__days-week label {
    width: 100%;
}

.mobile-wrap h2.mobile-wrap__content-h2.date-time {
    margin-bottom: 4.253vh;
}

.mobile-wrap__days-week {
    margin: 4.131vh auto 0 auto;
    max-width: 24.666vh;
    width: 100%;
}

.mobile-wrap__card-my-adress {
    width: 100%;
    border-radius: 8px;
    background-color: var(--color-main-order);
    color: var(--bg-white-1);
    margin-bottom: 2.430vh;
}

.mobile-wrap__card-body {
    padding: 1.458vh 0.972vh;
    min-height: 34.143vh;
    display: table;
    width: 100%;
}

.mobile-wrap__card-type,
.mobile-wrap__card-content {
    position: relative;
    display: table-cell;
}

.mobile-wrap__card-type {
    width: 21%;
    text-align: center;
    border-right: 1px solid var(--bg-white-1);
}

.mobile-wrap__card-content {
    width: 77%;
    padding-left: 2.916vh;
}

.mobile-wrap__card-build-svg {
    position: absolute;
    font-size: 6.683vh;
    left: calc(100% / 2 - 0.5em - 4px);
    line-height: 1;
    top: calc(257px / 2 - 0.5em);
}

.mobile-wrap__card-bin-svg {
    position: absolute;
    font-size: 2.187vh;
    padding: 0.851vh 0 0 0;
    width: 3.888vh;
    height: 3.888vh;
    border-radius: 50%;
    background-color: var(--bg-white-1);
    color: var(--color-main-order);
    right: calc(100% / 2 - 16px + 4px);
    bottom: 0;
}

.mobile-wrap__deliver-status>div {
    display: inline-block;
    width: calc(50% - 16px);
    text-align: center;
    padding: 0.972vh 0;
    border: 2px solid var(--bg-white-1);
    border-radius: 8px;
    font-weight: 700;
    font-size: 1.944vh;
}

.mobile-wrap__pick-up {
    margin-right: 2.066vh;
}

.mobile-wrap__deliver-status>div.selected {
    color: var(--color-main-order);
    background-color: var(--bg-white-1);
}

.mobile-wrap__card-adress {
    padding: 2.066vh 0 0.486vh 0;
}

.mobile-wrap__card-adress-text {
    font-size: 2.066vh;
    font-weight: 700;
    line-height: 4.739vh;
}

.mobile-wrap__card-adress-text>span {
    font-weight: 400;
    font-size: 1.701vh;
    display: block;
    float: right;
    line-height: 2.770vh;
    border-left: 1px solid var(--bg-white-1);
    padding-left: 0.972vh;
    line-height: 4.739vh;
}

.mobile-wrap__card-date,
.mobile-wrap__card-time {
    font-weight: 700;
    font-size: 2.066vh;
}

.mobile-wrap__card-date span.mobile-wrap__card-day {
    margin-right: 0.972vh;
}

.mobile-wrap__card-time {
    margin: 1.458vh 0;
}

.mobile-wrap__method {
    font-weight: 700;
    font-size: 1.701vh;
}

span.mobile-wrap__method-span {
    display: inline-block;
    margin-right: 1.458vh;
    padding: 0.6vh 1.458vh 0.8vh;
    border-radius: 42px;
    background-color: var(--bg-white-1);
    color: var(--color-main-order);
    font-weight: 700;
    margin-bottom: 1.215vh;
}

span.mobile-wrap__method-span>span {
    font-size: 2.430vh;
    margin-left: 1.215vh;
    vertical-align: text-bottom;
}

.mobile-wrap__point-name {
    font-weight: 400;
    font-size: 1.701vh;
    margin-top: 1.215vh;
}

.mobile-wrap__point-name span.mobile-wrap__name {
    line-height: 3.499vh;
}

.mobile-wrap__point-name span.mobile-wrap__point {
    font-weight: 700;
    padding: 0.608vh 1.458vh;
    border: 1px solid var(--bg-white-1);
    border-radius: 8px;
    margin-left: 1.823vh;
    white-space: nowrap;
}

.mobile-wrap__card-add-adress {
    margin-bottom: 4.860vh;
    width: 100%;
    border-radius: 8px;
    border: 1px dashed var(--color-main-order);
    height: 26.124vh;
    position: relative;
}

.mobile-wrap__card-add-adress span {
    display: block;
    text-align: center;
}

.mobile-wrap__card-add-adress span.icon.icon-union {
    font-size: 4.982vh;
    color: var(--color-main-order);
    margin-bottom: 3.038vh;
}

.mobile-wrap__card-add-adress span.mobile-wrap__add-adress {
    font-size: 1.580vh;
}

.mobile-wrap__card-add-adress-body {
    position: absolute;
    right: calc(100% / 2 - 60px);
    top: calc(100% / 2 - 47px);
}

.mobile-wrap-adress-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 39, 39, 0.6);
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.mobile-wrap-adress-popup__body {
    background-color: var(--color-white);
    color: var(--color-input);
    width: 70%;
    border-radius: 15px;
    position: absolute;
    top: 25%;
    left: 15%;
    text-align: center;
}

.mobile-wrap-adress-popup__title {
    font-weight: 500;
    font-size: 2.187vh;
    border-bottom: 0.5px solid #A7A7A7;
    padding: 1.458vh 0;
}

.mobile-wrap-adress-popup__content {
    padding: 3.038vh 2.430vh 1.823vh 2.430vh;
    font-weight: 500;
    font-size: 1.701vh;
}

.mobile-wrap-adress-popup__content button.btn-orders {
    margin: 3.038vh 0 0 0;
    font-weight: 700;
    font-size: 2.552vh;
}

.mobile-wrap-adress-popup__title.fs-14 {
    font-size: 1.701vh;
    font-weight: 400;
}

.mobile-wrap-adress-popup__content.padding {
    padding: 2.673vh 0.608vh;
}

.mobile-wrap-adress-popup__content.padding button {
    width: 13.366vh;
    margin: 0 0.486vh;
}

h2.mobile-wrap__content-h2 span.mobile-wrap__done {
    font-weight: 700;
    font-size: 2.066vh;
    color: var(--color-main-order);
    position: absolute;
    top: 12px;
    right: 0;
}

h3.mobile-wrap__content-h3 {
    font-weight: 500;
    font-size: 2.309vh;
    text-align: center;
    color: var(--color-absolut);
    padding: 9.356vh 0 8.627vh 0;
}

.mobile-wrap__content-text {
    font-size: 2.187vh;
    text-align: center;
    color: var(--color-input);
    padding: 0 0.608vh;
}

span.mobile-wrap__text {
    display: block;
    padding-bottom: 5.468vh;
}

.mobile-wrap__excursion {
    text-align: center;
    margin: 71% 0;
}

span.mobile-wrap__excursion-text {
    display: block;
    font-weight: 700;
    font-size: 2.552vh;
    text-align: center;
    color: var(--bg-white-1);
    margin-bottom: 7.290vh;
}

.second_screen_button {
    padding-bottom: 1.944vh;
}

label[for="premium"] {
    color: var(--color-yellow);
    border-color: var(--color-yellow);
}

.mobile-wrap__checkbox-delivery label span.icon.icon-diamond {
    right: 5.224vh;
    font-size: 2.673vh;
    top: 2.387vh;
}

.mobile-wrap__checkbox-delivery label {
    width: 100%;
}

.mobile-wrap__title .test {
    height: 3.037vh;
    vertical-align: middle;
}

div.help.top-help {
    padding: 1.215vh 2.187vh;
}

div.help.top-help i p {
    margin: 1.215vh 0;
}

div.help.top-help i {
    width: 100%;
}

.mobile-wrap__on-foot button.mobile-wrap__button.margin {
    margin-top: 2.187vh;
}

.mobile-wrap__model input.model,
.mobile-wrap__model input.year {
    text-align: center;
}

.mobile-wrap__premium .checkbox input[type=checkbox]:checked+label::before {
    background-color: var(--color-yellow);
    border-color: var(--color-yellow);
}

.mobile-wrap__premium .checkbox input[type=checkbox]:checked~label,
.mobile-wrap__premium .radio [type="radio"]:checked~label {
    color: var(--color-yellow);
}

.warning-wrapper {
    text-align: center;
}

.warning {
    color: #DC7979;
    font-size: 1.336vh;
}

a.change-number {
    text-decoration-line: underline;
    color: #444DB9;
}

.mobile-wrap__button-wrap button.mobile-wrap__button {
    width: 100%;
}

/* Disabled checkbox */

.mobile-wrap__checkbox-delivery input[type="checkbox"]:disabled+label {
    opacity: 0.5;
    pointer-events:none;
}

button.mobile-wrap__button:disabled {
    opacity: 0.5;
    pointer-events:none;
}

.mobile-wrap__premium-delivery {
    margin-top: 6.8vh;
}

.mobile-wrap__premium-delivery .input-text {
    margin-bottom: 3.645vh;
}

.mobile-wrap__premium-delivery .input-text input::placeholder {
    text-align: center;
}

.validate-margin {
    margin-bottom: 3.645vh;
}