.textarea-wrap {
    margin-top: 3.159vh;
}

.textarea {
    overflow: auto;
    resize: none;
    width: 100%;
    height: 22.357vh;
    background-color: var(--color-light-grey2);
    border-radius: 8px;
    border: none;
    padding: 1.823vh 2.673vh;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 2.916vh;

    &::placeholder {
        color: var(--color-dark-grey);
        font-weight: 700;
        font-size: 2.916vh;
    }
}