<header class="header-second">
    <div class="header-second__inner">
        <span class="icon icon-arrow header-second__inner-icon-arrow"></span>
    </div>
    <div class="header-second__inner">
        <span class="header-second__title">@@title</span>
    </div>
    <div class="header-second__inner">

        @@if (item === 'icon') {
            <span class="icon icon-edit header-second__inner-icon-edit"></span>
        }

        @@if (item === 'text') {
            <span class="header-second__inner-text"></span>
        }
    </div>
</header>