.header-second {
    position: relative;
    margin: 7.29vh 0 1.822vh 0;
    color: var(--color-absolut);

    &__title {
        font-size: 2.916vh;
        font-weight: 700;
    }

    &__inner {
        text-align: center;
        &-icon-arrow {
            position: absolute;
            left: 4.86vh;
            top: 0.486vh;
            transform: rotate(90deg);
            font-size: 2.673vh;
        }

        &-text {
            font-weight: 700;
            font-size: 2.066vh;
            color: var(--color-main-order);
            position: absolute;
            top: 4px;
            right: 0;
        }

        &-icon-edit {
            font-size: 2.187vh;
            position: absolute;
            top: 4px;
            right: 4.131vh;
        }
    }
}