<div class="messengers">

    <input type="checkbox" name="messengers-telegram" id="telegram" class="messengers__input">
    <label for="telegram" class="messengers__label"><span class="icon icon-telegram messengers__icon"></span></label>

    <input type="checkbox" name="messengers-viber" id="viber" class="messengers__input">
    <label for="viber" class="messengers__label"><span class="icon icon-viber messengers__icon"></span></label>

    <input type="checkbox" name="messengers-whatsapp" id="whatsapp" class="messengers__input">
    <label for="whatsapp" class="messengers__label"><span class="icon icon-whatsapp messengers__icon"></span></label>
</div>