.messengers {
    display: flex;
    justify-content: space-between;
    margin: 3.159vh auto 5.589vh auto;
    align-items: center;
    max-width: 50.668vh;
    width: 100%;

    &__label {
        position: relative;
        display: inline-flex;
        cursor: pointer;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border-style: solid;
        border-width: 2px;
        border-radius: 15px;
        width: 13.244vh;
        height: 13.244vh;
        font-size: 6.561vh;
        opacity: 50%;
    }

    .icon-telegram {
        color: var(--color-telegram);
        border-color: var(--color-telegram);
    }

    .icon-viber {
        color: var(--color-viber);
        border-color: var(--color-viber);
    }

    .icon-whatsapp {
        color: var(--color-whatsapp);
        border-color: var(--color-whatsapp);
    }

    &__input {
        &:checked+label {
            .messengers__icon {
                transform: scale(1.07);
                opacity: 100%;
            }
        }
    }
}