.address {
    border-bottom: 0.5px solid var(--color-light-grey9);
    width: 23.188rem;
    padding: 0.688rem 1.125rem;
    height: auto;

    &__text-big {
        font-weight: 700;
        font-size: 1.188rem;
        color: var(--color-dark-input);
        margin-bottom: 0.125rem;
    }

    &__text-small {
        font-weight: 500;
        font-size: 0.875rem;
        color: var(--color-input);
    }
}