<div class="@@background">
    <div class="background__inner">
        <div class="card-open @@card-type" data-status="@@data-status" data-id="@@data-id">
            <div class="card-open__title">
                <span class="card-open__title-span">Карточка заказа</span>
                <span class="icon icon-cross card-open__title-icon"></span>
            </div>
            <div class="card-open__body">

                <div class="card-open__row">
                    <div class="card-open__inner card-open__inner--col card-open__inner--border">
                        <span class="icon @@icon-type card-open__inner-icon"></span>
                        <span
                            class="card-open__inner-text card-open__inner-text--bold card-open__inner-text--border">@@text-type</span>
                    </div>
                    <div class="card-open__inner card-open__inner--col">
                        <span class="icon @@icon-delivery card-open__inner-icon"></span>
                        <span
                            class="card-open__inner-text card-open__inner-text--bold card-open__inner-text--border">@@text-delivery</span>
                    </div>
                </div>
                <div class="card-open__row card-open__row--b-r">
                    <div class="card-open__inner card-open__inner--col">
                        <span class="card-open__inner-text card-open__inner-text--margin">Дата получения:</span>
                        <span class="card-open__inner-text card-open__inner-text--bold">@@date</span>
                    </div>

                    <div class="card-open__inner card-open__inner--col">
                        <span class="card-open__inner-text card-open__inner-text--margin">
                            Время доставки:
                        </span>
                        <span
                            class="card-open__inner-text card-open__inner-text--bold card-open__inner-text--border-bold">
                            <span>@@time1</span> - <span>@@time2</span>
                        </span>
                    </div>
                </div>

                <div class="card-open__col">
                    <div class="card-open__inner card-open__inner--row">
                        <div class="card-open__inner-box">
                            <span class="icon icon-line-out card-open__inner-box-icon"></span>
                            <span class="card-open__inner-text">Адрес склада:</span>
                        </div>
                        <div class="card-open__inner-box card-open__inner-box--center">
                            <span class="card-open__inner-text card-open__inner-text--bold">@@adress1</span>
                        </div>
                    </div>
                    <div class="card-open__inner card-open__inner--row">
                        <div class="card-open__inner-box">
                            <span class="icon icon-ellipse card-open__inner-box-icon"></span>
                            <span class="card-open__inner-text">Адрес доставки:</span>
                        </div>
                        <div class="card-open__inner-box card-open__inner-box--center">
                            <span class="card-open__inner-text card-open__inner-text--bold">@@adress2</span>
                        </div>
                    </div>
                </div>

                <div class="card-open__col card-open__col--b-r">
                    <div class="card-open__inner card-open__inner--row card-open__inner--margin">
                        <span class="card-open__inner-text">
                            Компания:
                        </span>
                        <span class="card-open__inner-text card-open__inner-text--bold">
                            @@company
                        </span>
                    </div>
                    <div class="card-open__inner card-open__inner--row card-open__inner--margin">
                        <span class="card-open__inner-text">
                            Вес заказа:
                        </span>
                        <span class="card-open__inner-text card-open__inner-text--bold">
                            @@weight
                        </span>
                    </div>
                    <div class="card-open__inner card-open__inner--row card-open__inner--margin">
                        <span class="card-open__inner-text">
                            Размер заказа:
                        </span>
                        <span class="card-open__inner-text card-open__inner-text--bold">
                            @@size
                        </span>
                    </div>
                    <div class="card-open__inner card-open__inner--row card-open__inner--margin">
                        <span class="card-open__inner-text">
                            Макс. грузоподъемность:
                        </span>
                        <span class="card-open__inner-text card-open__inner-text--bold">
                            @@carrying
                        </span>
                    </div>
                </div>

                <div class="card-open__row card-open__row--padding">
                    <span class="card-open__inner-text">Цена заказа:</span>
                    <span class="card-open__inner">
                        <span class="card-open__inner-text card-open__inner-text--bold-border">@@price <span
                                class="icon icon-rub"></span></span>
                    </span>
                </div>
                <div class="card-open__doc">
                    <div class="card-open__item">
                        <span class="card-open__item-name">@@item-name</span>
                        <span class="icon icon-doc card-open__item-icon"></span>
                    </div>
                </div>
                <div class="card-open__contacts">
                    <button class="card-open__btn card-open__btn--red">
                        <span class="icon icon-call card-open__btn-icon"></span>
                        <span class="card-open__btn-text">Позвонить заказчику</span>
                    </button>
                    <button class="card-open__btn card-open__btn--green">
                        <span class="icon icon-map card-open__btn-icon"></span>
                        <span class="card-open__btn-text">Построить маршрут</span>
                    </button>
                    <button class="card-open__btn card-open__btn--purpur">
                        <span class="icon icon-call card-open__btn-icon"></span>
                        <span class="card-open__btn-text">Позвонить на склад</span>
                    </button>
                </div>
                <div class="card-open__buttons">
                    <button class="card-open__button-cancel"><span class="icon icon-cross"></span></button>
                    <button class="card-open__button-delivered">@@button-delivered-text<span
                            class="icon icon-order"></span></button>
                </div>
            </div>
            <span class="icon @@icon card-open__icon"></span>
        </div>
    </div>
    @@if (footer === 'date') {
        @@include('../date_order/date-order.html', {"date":"true"})
    
        <div class="card-btn-wrap card-btn-wrap--margin">
            <button class="card-btn card-btn--grey">Закрыть</button>
            <button class="card-btn card-btn--blue">Взять</button>
        </div>
        }
</div>