.card-open {
    width: 100%;
    border-radius: 15px;
    font-size: 1.701vh;
    margin: 0 auto;
    position: relative;

    &--express {
        background-color: var(--color-main-order);
        color: var(--bg-white-1);

        .card-open__inner-text--bold-border {
            background-color: var(--bg-white-1);
            color: var(--color-main-order);
        }

        .card-open__col--b-r {
            background-color: var(--color-main-order-2);
        }

        .card-open__row--b-r {
            background-color: var(--color-main-order-2);
        }

        .card-open__inner--border {
            &::after {
               background-color: var(--bg-white-1); 
            }  
        }

        .card-open__inner-text--border {
            background-color: var(--bg-white-1);
            color: var(--color-main-order);
        }

        .card-open__inner-text--border-bold {
            border-color: var(--bg-white-1);
        }

        .card-open__item {
            background-color: var(--bg-white-1);
            color: var(--color-main-order);
        }

        .card-open__button-cancel {
            border-color: var(--bg-white-1);

            .icon-cross {
                color: var(--bg-white-1);
            }
        }

        .card-open__button-delivered {
            background-color: var(--bg-white-1);
            color: var(--color-main-order);
        }

        .card-open__title-span {
            border-color: var(--bg-white-1);
        }

        .card-open__inner-text--border {
            border-color: var(--bg-white-1);
        }

        .icon-express {
            position: absolute;
            color: var(--color-purpur);
            font-size: 35px;
            background: radial-gradient(circle, rgba(255, 255, 255, 1) 50%, rgba(212, 124, 226, 0) 0%);
            top: 8px;
            left: 13px;
        }
    }

    &--premium {
        background-color: var(--color-absolut);
        color: var(--bg-white-1);

        .card-open__inner-text--bold-border {
            background-color: var(--bg-white-1);
            color: var(--color-absolut);
        }

        .card-open__col--b-r {
            background-color: var(--color-dark-grey-2);
        }

        .card-open__row--b-r {
            background-color: var(--color-dark-grey-2);
        }

        .card-open__inner--border {
            &::after {
               background-color: var(--bg-white-1); 
            }  
        }

        .card-open__inner-text--border {
            background-color: var(--bg-white-1);
            color: var(--color-absolut);
        }

        .card-open__inner-text--border-bold {
            border-color: var(--bg-white-1);
        }

        .card-open__item {
            background-color: var(--bg-white-1);
            color: var(--color-absolut);
        }

        .card-open__button-cancel {
            border-color: var(--bg-white-1);

            .icon-cross {
                color: var(--bg-white-1);
            }
        }

        .card-open__button-delivered {
            background-color: var(--bg-white-1);
            color: var(--color-absolut);
        }

        .card-open__title-span {
            border-color: var(--bg-white-1);
        }

        .card-open__inner-text--border {
            border-color: var(--bg-white-1);
        }
    }

    &[data-status=today] {
        background: var(--color-white);
        color: var(--color-main-order);

        .card-open__inner-text--bold-border {
            background-color: var(--color-blue-7);
            color: var(--color-main-order);
        }

        .card-open__col--b-r {
            background-color: var(--color-grey);
        }

        .card-open__row--b-r {
            background-color: var(--color-grey);
        }
    }

    &[data-status=tomorrow] {
        background: var(--color-blue-6);
        color: var(--color-main-order);

        .card-open__inner-text--bold-border {
            color: var(--bg-white-1);
            background-color: var(--color-main-order);
        }

        .card-open__col--b-r {
            background-color: var(--color-blue-8);
        }

        .card-open__row--b-r {
            background-color: var(--color-blue-8);
        }
    }

    &__title {
        position: relative;

        &-span {
            width: 100%;
            border-bottom: 1px solid var(--color-main-order);
            font-size: 2.794vh;
            font-weight: 700;
            padding: 1.458vh 0;
            display: block;
            text-align: center;
        }

        &-icon {
            position: absolute;
            font-size: 3.037vh;
            top: 1.579vh;
            right: 1.822vh;
        }
    }

    &__body {
        padding: 0 2.43vh 1.215vh 2.43vh;
        height: 87.821vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    &__row {
        display: flex;
        flex-direction: row;
        padding: 2.43vh 6.075vh;
        justify-content: space-between;
        align-items: baseline;


        &--b-r {
            background: var(--color-blue-8);
            border-radius: 15px;
            padding: 0.972vh 3.645vh;
        }

        &--padding {
            padding: 2.43vh 3.645vh;
        }
    }

    &__col {
        display: flex;
        flex-direction: column;
        padding: 2.43vh 1.645vh;

        &--b-r {
            border-radius: 15px;
            padding: 0.972vh 3.645vh;
        }
    }

    &__inner {
        display: flex;

        &--col {
            flex-direction: column;
            align-items: center;
        }

        &--row {
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 1.21vh;
        }

        &-icon {
            display: block;
            font-size: 5.467vh;
        }

        &-text {
            font-weight: 400;
            font-size: 1.701vh;
            width: 100%;

            &--bold {
                font-weight: 700;
                text-align: center;

                &-border {
                    font-weight: 700;
                    font-size: 2.308vh;
                    padding: 0.729vh 1.822vh;
                    border-radius: 42px;
                    display: flex;
                    align-items: baseline;

                    .icon-rub {
                        font-size: 1.701vh;
                        margin-left: 0.607vh;
                    }
                }
            }

            &--border {
                padding: 0.729vh 1.458vh;
                border: 1px solid var(--color-main-order);
                border-radius: 42px;
                margin-top: 1.215vh;
                display: inline-block;

                &-bold {
                    padding: 0.729vh 1.458vh;
                    border: 2px solid var(--color-main-order);
                    border-radius: 42px;
                    display: inline-block;
                    margin-top: -0.972vh;
                }
            }

            &--margin {
                margin-bottom: 1.458vh;
            }
        }

        &--border {
            position: relative;

            &::after {
                content: "";
                display: block;
                width: 0.121vh;
                height: 7.897vh;
                background-color: var(--color-main-order);
                position: absolute;
                top: 0.916vh;
                left: 14.852vh;
            }
        }

        &-box {
            display: flex;
            min-width: 17.01vh;
            width: 100%;

            &-icon {
                margin-right: 0.729vh;
            }

            .icon-line-out {
                font-size: 2.916vh;
            }

            .icon-ellipse {
                font-size: 1.822vh;
            }

            &--center {
                justify-content: center;
            }
        }

        &--margin {
            margin-bottom: 1.21vh;
        }
    }

    &__item {
        background: var(--color-main-order);
        border: 1px solid var(--color-main-order);
        border-radius: 15px;
        color: var(--color-white);
        padding: 0.729vh 3.645vh;
        display: flex;
        justify-content: space-between;

        &-icon {
            font-size: 2.065vh;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 2.43vh 0 3.159vh 0;
    }

    &__btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 10.449vh;
        padding: 1.215vh 0;
        font-size: 1.701vh;
        color: var(--color-white);
        border: none;
        width: 100%;
        text-align: center;
        border-radius: 8px;
        font-weight: 700;

        &--red {
            background-color: #9F4646;
        }

        &--green {
            background-color: #35822E;
            width: 120%;
        }

        &--purpur {
            background-color: #5A419F;
        }

        &-icon {
            display: block;
            font-size: 24px;
            padding-bottom: 10px;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
    }

    &__button-cancel {
        border: 1px solid var(--color-main-order);
        border-radius: 15px;
        width: 7.047vh;
        height: 7.047vh;
        margin-right: 2.065vh;
        background-color: transparent;

        .icon-cross {
            font-size: 2.673vh;
            color: var(--color-main-order);
            font-weight: 700;
        }
    }

    &__button-delivered {
        background-color: var(--color-main-order);
        border-radius: 15px;
        color: var(--bg-white-1);
        padding: 1.458vh 1.944vh;
        border: none;
        font-size: 2.673vh;
        font-weight: 700;
        height: 7.047vh;
        width: fit-content;
        display: inline-flex;
        align-items: center;

        .icon-order {
            font-size: 4.131vh;
            margin-left: 1.458vh;
        }
    }
}