.entry-page {
    display: flex;
}

.welcome,
.entry {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20vh 0;
}

.welcome {
    width: 50%;
    color: var(--color-white);
    background-position: bottom right;

    &__text {
        font-size: 2rem;
    }
}

.entry {
    width: 50%;

    &__body {
        color: var(--color-input);
        width: 65%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-size: 2rem;
        margin-bottom: 3.125rem;
        margin-top: 0;
        font-weight: 400;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 89%;
        height: 21.375rem;
        position: relative;
    }

    .input-wrap {
        margin-bottom: 1.625rem;
    }

    .label {
        display: block;
        font-size: 1.125rem;
        margin-bottom: 0.875rem;
    }

    .entry-text--margin {
        margin-bottom: 2.188rem;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2.5rem;

        .checkbox {
            &:checked+label {
                &::before {
                    background-color: var(--bg-white-2);
                    border: 1px solid var(--bg-white-2);
                }

            }
        }

        .entry__forgot-password {
            .entry__link {
                text-decoration: underline;
                text-decoration-skip-ink: none;
                font-size: 1rem;
            }
        }
    }

    &__button {
        margin: 0;
        order: 1;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    &__password {
        font-size: 1.125rem;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        font-weight: 400;
        margin-top: 1.875rem;
        text-align: center;
    }

    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    &__not-registered,
    &__register {
        font-size: 1rem;
        margin: 0.313rem 0;
    }

    &__not-registered {
        color: var(--color-dark-grey);
    }

    &__register {
        color: var(--bg-white-2);
        text-decoration: underline;
        text-decoration-skip-ink: none;
    }
}