<div class="adress-list">
    <ul class="adress-list__ul">
        <li class="adress-list__li adress-list__li--active">
            <span class="adress-list__li-big">Чернышевского 28</span>
            <span class="icon icon-building adress-list__icon"></span>
        </li>
        <li class="adress-list__li">
            <span class="adress-list__li-big">Чернышевского 28</span>
            <span class="adress-list__li-small">Калининград, Россия</span>
        </li>
        <li class="adress-list__li">
            <span class="adress-list__li-big">Чернышевского 28</span>
            <span class="adress-list__li-small">Калининград, Россия</span>
        </li>
        <li class="adress-list__li">
            <span class="adress-list__li-big">Чернышевского 28</span>
            <span class="adress-list__li-small">Калининград, Россия</span>
        </li>
        <li class="adress-list__li">
            <span class="adress-list__li-big">Чернышевского 28</span>
            <span class="adress-list__li-small">Калининград, Россия</span>
        </li>
        <li class="adress-list__li">
            <span class="adress-list__li-big">Чернышевского 28</span>
            <span class="adress-list__li-small">Калининград, Россия</span>
        </li>
        <li class="adress-list__li">
            <span class="adress-list__li-big">Чернышевского 28</span>
            <span class="adress-list__li-small">Калининград, Россия</span>
        </li>
    </ul>
</div>