.adress-list {
    padding: 2.43vh;
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    &__li {
        width: 100%;
        padding: 0.972vh 2.43vh;
        margin: 0;
        border: none;
        background: transparent;
        font-size: 2.916vh;
        font-weight: 700;
        outline: none;
        border-bottom: 0.5px solid var(--color-light-grey8);

        &--active {
            border-radius: 15px;
            background: var(--color-light-grey2);
            padding: 2.066vh 2.43vh;
            position: relative;
            overflow: hidden;
            filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.15));
            border: none;
        }
    }

    &__li-big {
        color: var(--color-dark-input);
        display: block;
    }

    &__li-small {
        font-size: 1.701vh;
        font-weight: 500;
        display: block;
    }

    &__icon {
        font-size: 44px;
        position: absolute;
        bottom: 0;
        right: 0px;
        color: var(--color-dark-grey);
    }
}