<div class="confirm-changes-switch">
    <label class="confirm-changes-switch__label">
        <input id="sms-email" type="radio" name="test1" value="email" checked="" class="confirm-changes-switch__input">
        <p class="confirm-changes-switch__text confirm-changes-switch__text--my">Мои курьеры</p>
    </label>
    <label>
        <input type="radio" name="test1" value="sms" class="confirm-changes-switch__input">
        <p class="confirm-changes-switch__text">Новые курьеры</p>
        <b class="confirm-changes-switch__count confirm-changes-switch__count--cp">2</b>
    </label>
</div>