.confirm-changes-switch {
    position: relative;
    display: flex;
    align-items: center;

    &__input+.confirm-changes-switch__text {
        display: inline-block;
        background-color: #ffffff;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        color: #CBCBCB;
        padding: 9px 25px;
        border: 1px solid #CBCBCB;
        position: relative;
        min-width: 152px;
        text-align: center;
        cursor: pointer;
    }

    &__input:checked+.confirm-changes-switch__text {
        display: inline-block;
        background-color: var(--color-switch-white);
        border-radius: 8px;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        color: var(--color-switch-purpur);
        padding: 9px 25px;
        border: 1px solid var(--color-switch-white);

        &+.confirm-changes-switch__count--cp {
            display: none;
        }
    }

    &__input+.confirm-changes-switch__text,
    &__input:checked+.confirm-changes-switch__text {
        min-width: 7.6rem;
        padding: 1rem 0.313rem;
        margin: 0;
        font-size: 0.813rem;
    }

    &__label:nth-of-type(1) {
        .confirm-changes-switch__input+.confirm-changes-switch__text--my {
            &::after {
                height: 3.125rem;
                border-radius: 8px;
                content: '';
                position: absolute;
                width: 21px;
                display: inline-block;
                background: var(--color-switch-white);
                top: -1px;
                right: -12px;
                z-index: 11;
            }
        }
    }

    &__label:last-child {
        .confirm-changes-switch__input+.confirm-changes-switch__text--my {
            position: relative;
            left: -15px;
        }
    }

    &__count {
        display: flex;
        color: var(--color-main-order);
        background-color: rgba(68, 77, 185, 0.33);
        padding: 3px 12px 1px 12px;
        font-weight: 700;
        border-radius: 14px;
        align-items: center;
        justify-content: center;
        line-height: 1rem;
        position: absolute;
        top: -1rem;
        right: -1.5rem;
        opacity: 0.9;
        font-size: 0.875rem;

        &--cp {
            top: 5px;
            right: 0px;
            background-color: rgba(248, 206, 255, 0.43);
            color: var(--color-count);
        }
    }
}