<div class="number-completed-orders">
    <div class="amount">
        <span class="amount__text">@@text1</span>
        <span class="amount__number">@@number1</span>
    </div>
    <div class="amount">
        <span class="amount__text">@@text2</span>
        <span class="amount__number">@@number2</span>
    </div>
</div>