.number-completed-orders {
    display: flex;
    flex-direction: row;
    min-width: 31.25rem;
    justify-content: space-between;
    font-family: 'Roboto Condensed', sans-serif;

    .amount {
        display: flex;
        flex-direction: row;
        align-items: center;

        .amount__text {
            font-size: 1rem;
            color: var(--color-absolut);
            margin-right: 0.938rem;
            display: block;
        }

        .amount__number {
            font-weight: 700;
            font-size: 1.188rem;
            text-align: center;
            color: var(--color-white);
            background: var(--color-main-order);
            border-radius: 42px;
            width: 4.813rem;
            display: block;
            padding: 5px 0;
        }
    }
}