<!-- Input type: text, email, number, password, search, tel -->

<div class="input-wrap">
    @@if (entry === 'true') {
        <span class="icon @@icon input-entry-icon"></span>
    }
    @@if (counter === 'true') {
        <span class="input-counter">0/22</span>
    }
    @@if (eye === 'true') {
        <span class="icon icon-cross_eye"></span>
    }
    <label for="@@id" class="label" data-label="@@data-label">@@label</label>
    <input id="@@id" type="@@type" class="input @@border @@b-r @@b-c @@width @@padding @@f-s @@color @@placeholder-style @@border-color @@weight" placeholder="@@placeholder">
</div>