.input-wrap {
    position: relative;
    width: 100%;
}

.input {
    &--b-r-6 {
        border-radius: 6px;
    }

    &--b-r-8 {
        border-radius: 8px;
    }

    &--b-r-42 {
        border-radius: 42px;
    }

    &--border-1 {
        border: 1px solid;
    }

    &--border-2 {
        border: 2px solid;
    }

    &--border-none {
        border: none;
    }

    &--b-c-transporent {
        background-color: transparent;
    }

    &--b-c-color-grey {
        background-color: var(--color-light-grey2);
    }

    &--b-c-bg-white-2 {
        background: var(--bg-white-2);
    }

    &--width-100 {
        width: 100%;
    }

    &--width-115 {
        width: 7.188rem;
    }

    &--width-370 {
        width: 23.125rem;
    }

    &--padding-6-20 {
        padding: 0.375rem 1.25rem;
    }

    &--padding-15-22 {
        padding: 0.938rem 1.375rem;
    }

    &--padding-18-18-18-70 {
        padding: 1.125rem 1.125rem 1.125rem 4.375rem;
    }

    &--padding-18-20 {
        padding: 1.125rem 1.25rem;
    }

    &--f-s-13 {
        font-size: 0.813rem;
    }

    &--f-s-14 {
        font-size: 0.875rem;
    }

    &--f-s-18 {
        font-size: 1.125rem;
    }

    &--f-s-21 {
        font-size: 1.313rem;
    }

    &--f-s-24 {
        font-size: 1.5rem;
    }

    &--color-dark {
        color: var(--color-dark-input);
    }

    &--color-white {
        color: var(--color-white);
    }

    &--color-lilac {
        color: var(--color-lilac);
    }

    &--weight-bold {
        font-weight: 700;
    }

    &--weight-light {
        font-weight: 400;
    }

    &--placeholder-dark-gray::placeholder {
        color: var(--color-dark-grey);
    }
    
    &--placeholder-color-white::placeholder {
        color: var(--color-white);
        font-weight: 400;
    }

    &--border-color-grey {
        border-color: var(--color-input);
    }
}

.input-entry-icon {
    position: absolute;
    font-size: 1.375rem;
    left: 2.063rem;
    top: 1.25rem;
}

.label[data-label=none] {
    display: none;
}
.label[data-label=block] {
    display: block;
}