@font-face {
  font-family: 'agropoisk';
  src:  url('fonts/agropoisk.eot?4ku3fm');
  src:  url('fonts/agropoisk.eot?4ku3fm#iefix') format('embedded-opentype'),
    url('fonts/agropoisk.ttf?4ku3fm') format('truetype'),
    url('fonts/agropoisk.woff?4ku3fm') format('woff'),
    url('fonts/agropoisk.svg?4ku3fm#agropoisk') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'agropoisk' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-diamond:before {
  content: "\e94d";
}
.icon-union:before {
  content: "\e94c";
}
.icon-beacon:before {
  content: "\e947";
}
.icon-structure:before {
  content: "\e948";
}
.icon-plus2:before {
  content: "\e949";
}
.icon-lightning:before {
  content: "\e94a";
}
.icon-box1:before {
  content: "\e94b";
}
.icon-grid:before {
  content: "\e946";
}
.icon-tick2:before {
  content: "\e944";
}
.icon-bin:before {
  content: "\e945";
}
.icon-question_mark:before {
  content: "\e943";
}
.icon-building:before {
  content: "\e941";
}
.icon-build:before {
  content: "\e942";
}
.icon-camera:before {
  content: "\e91c";
}
.icon-tick:before {
  content: "\e917";
}
.icon-whatsapp:before {
  content: "\e916";
}
.icon-circle-search:before {
  content: "\e919";
}
.icon-search:before {
  content: "\e940";
}
.icon-lock:before {
  content: "\e93f";
}
.icon-express:before {
  content: "\e927";
}
.icon-adress_in:before {
  content: "\e93e";
}
.icon-eye2:before {
  content: "\e93d";
}
.icon-time:before {
  content: "\e901";
}
.icon-time_bold:before {
  content: "\e906";
}
.icon-circle_bold:before {
  content: "\e909";
}
.icon-circle:before {
  content: "\e914";
}
.icon-cross_eye:before {
  content: "\e915";
}
.icon-arrow:before {
  content: "\e93c";
}
.icon-person:before {
  content: "\e900";
}
.icon-human:before {
  content: "\e902";
}
.icon-child:before {
  content: "\e903";
}
.icon-setting_vector:before {
  content: "\e904";
}
.icon-signature:before {
  content: "\e905";
}
.icon-notification:before {
  content: "\e907";
}
.icon-rubl:before {
  content: "\e908";
}
.icon-eye:before {
  content: "\e90a";
}
.icon-star:before {
  content: "\e90b";
}
.icon-clover:before {
  content: "\e90c";
}
.icon-baket_new:before {
  content: "\e90d";
}
.icon-cross:before {
  content: "\e90e";
}
.icon-map:before {
  content: "\e90f";
}
.icon-cloud:before {
  content: "\e910";
}
.icon-plus:before {
  content: "\e911";
}
.icon-check_mark:before {
  content: "\e912";
}
.icon-rub:before {
  content: "\e913";
}
.icon-letter:before {
  content: "\e918";
}
.icon-call:before {
  content: "\e91a";
}
.icon-telegram:before {
  content: "\e91b";
}
.icon-viber:before {
  content: "\e91d";
}
.icon-info:before {
  content: "\e91e";
}
.icon-setting:before {
  content: "\e91f";
}
.icon-bookmark:before {
  content: "\e920";
}
.icon-stuff:before {
  content: "\e921";
}
.icon-graph:before {
  content: "\e922";
}
.icon-dollar:before {
  content: "\e923";
}
.icon-tab:before {
  content: "\e924";
}
.icon-checklist:before {
  content: "\e925";
}
.icon-screen:before {
  content: "\e926";
}
.icon-arrow_back:before {
  content: "\e928";
}
.icon-footprints:before {
  content: "\e929";
}
.icon-track:before {
  content: "\e92a";
}
.icon-car:before {
  content: "\e92b";
}
.icon-car2:before {
  content: "\e92c";
}
.icon-feature:before {
  content: "\e92d";
}
.icon-feature2:before {
  content: "\e92e";
}
.icon-box:before {
  content: "\e92f";
}
.icon-big_box:before {
  content: "\e930";
}
.icon-furniture:before {
  content: "\e931";
}
.icon-tools:before {
  content: "\e932";
}
.icon-list_bold:before {
  content: "\e933";
}
.icon-card_box:before {
  content: "\e934";
}
.icon-clothes:before {
  content: "\e935";
}
.icon-list:before {
  content: "\e936";
}
.icon-blazer:before {
  content: "\e937";
}
.icon-package:before {
  content: "\e938";
}
.icon-packet:before {
  content: "\e939";
}
.icon-basket:before {
  content: "\e93a";
}
.icon-food:before {
  content: "\e93b";
}
