@import "variables"

@font-face
  font-family 'agropoisk'
  src url(icomoon-font-path + '/agropoisk.eot?4ku3fm')
  src url(icomoon-font-path + '/agropoisk.eot?4ku3fm#iefix') format('embedded-opentype'), url(icomoon-font-path + '/agropoisk.ttf?4ku3fm') format('truetype'), url(icomoon-font-path + '/agropoisk.woff?4ku3fm') format('woff'), url(icomoon-font-path + '/agropoisk.svg?4ku3fm#agropoisk') format('svg')
  font-weight normal
  font-style normal
  font-display block

.icon
  font-family 'agropoisk' !important
  speak never
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-diamond
  &:before
    content icon-diamond
.icon-union
  &:before
    content icon-union
.icon-beacon
  &:before
    content icon-beacon
.icon-structure
  &:before
    content icon-structure
.icon-plus2
  &:before
    content icon-plus2
.icon-lightning
  &:before
    content icon-lightning
.icon-box1
  &:before
    content icon-box1
.icon-grid
  &:before
    content icon-grid
.icon-tick2
  &:before
    content icon-tick2
.icon-bin
  &:before
    content icon-bin
.icon-question_mark
  &:before
    content icon-question_mark
.icon-building
  &:before
    content icon-building
.icon-build
  &:before
    content icon-build
.icon-camera
  &:before
    content icon-camera
.icon-tick
  &:before
    content icon-tick
.icon-whatsapp
  &:before
    content icon-whatsapp
.icon-circle-search
  &:before
    content icon-circle-search
.icon-search
  &:before
    content icon-search
.icon-lock
  &:before
    content icon-lock
.icon-express
  &:before
    content icon-express
.icon-adress_in
  &:before
    content icon-adress_in
.icon-eye2
  &:before
    content icon-eye2
.icon-time
  &:before
    content icon-time
.icon-time_bold
  &:before
    content icon-time_bold
.icon-circle_bold
  &:before
    content icon-circle_bold
.icon-circle
  &:before
    content icon-circle
.icon-cross_eye
  &:before
    content icon-cross_eye
.icon-arrow
  &:before
    content icon-arrow
.icon-person
  &:before
    content icon-person
.icon-human
  &:before
    content icon-human
.icon-child
  &:before
    content icon-child
.icon-setting_vector
  &:before
    content icon-setting_vector
.icon-signature
  &:before
    content icon-signature
.icon-notification
  &:before
    content icon-notification
.icon-rubl
  &:before
    content icon-rubl
.icon-eye
  &:before
    content icon-eye
.icon-star
  &:before
    content icon-star
.icon-clover
  &:before
    content icon-clover
.icon-baket_new
  &:before
    content icon-baket_new
.icon-cross
  &:before
    content icon-cross
.icon-map
  &:before
    content icon-map
.icon-cloud
  &:before
    content icon-cloud
.icon-plus
  &:before
    content icon-plus
.icon-check_mark
  &:before
    content icon-check_mark
.icon-rub
  &:before
    content icon-rub
.icon-letter
  &:before
    content icon-letter
.icon-call
  &:before
    content icon-call
.icon-telegram
  &:before
    content icon-telegram
.icon-viber
  &:before
    content icon-viber
.icon-info
  &:before
    content icon-info
.icon-setting
  &:before
    content icon-setting
.icon-bookmark
  &:before
    content icon-bookmark
.icon-stuff
  &:before
    content icon-stuff
.icon-graph
  &:before
    content icon-graph
.icon-dollar
  &:before
    content icon-dollar
.icon-tab
  &:before
    content icon-tab
.icon-checklist
  &:before
    content icon-checklist
.icon-screen
  &:before
    content icon-screen
.icon-arrow_back
  &:before
    content icon-arrow_back
.icon-footprints
  &:before
    content icon-footprints
.icon-track
  &:before
    content icon-track
.icon-car
  &:before
    content icon-car
.icon-car2
  &:before
    content icon-car2
.icon-feature
  &:before
    content icon-feature
.icon-feature2
  &:before
    content icon-feature2
.icon-box
  &:before
    content icon-box
.icon-big_box
  &:before
    content icon-big_box
.icon-furniture
  &:before
    content icon-furniture
.icon-tools
  &:before
    content icon-tools
.icon-list_bold
  &:before
    content icon-list_bold
.icon-card_box
  &:before
    content icon-card_box
.icon-clothes
  &:before
    content icon-clothes
.icon-list
  &:before
    content icon-list
.icon-blazer
  &:before
    content icon-blazer
.icon-package
  &:before
    content icon-package
.icon-packet
  &:before
    content icon-packet
.icon-basket
  &:before
    content icon-basket
.icon-food
  &:before
    content icon-food

