<div class="date-picker">
    <div class="date-picker__wrap date-picker__wrap--first">
        <span class="date-picker__cont date-picker__cont--15">1</span>
        <span class="date-picker__cont date-picker__cont--45">Январь</span>
        <span class="date-picker__cont date-picker__cont--32">1998</span>
    </div>
    <div class="date-picker__wrap">
        <span class="date-picker__cont date-picker__cont--15">2</span>
        <span class="date-picker__cont date-picker__cont--45">Февраль</span>
        <span class="date-picker__cont date-picker__cont--32">1999</span>
    </div>
    <div class="date-picker__wrap date-picker__wrap--active">
        <span class="date-picker__cont date-picker__cont--15">3</span>
        <span class="date-picker__cont date-picker__cont--45">Март</span>
        <span class="date-picker__cont date-picker__cont--32">2000</span>
    </div>
    <div class="date-picker__wrap">
        <span class="date-picker__cont date-picker__cont--15">4</span>
        <span class="date-picker__cont date-picker__cont--45">Апрель</span>
        <span class="date-picker__cont date-picker__cont--32">2001</span>
    </div>
    <div class="date-picker__wrap date-picker__wrap--last">
        <span class="date-picker__cont date-picker__cont--15">5</span>
        <span class="date-picker__cont date-picker__cont--45">Май</span>
        <span class="date-picker__cont date-picker__cont--32">2002</span>
    </div>
</div>