.date-picker {
    margin-top: 6.075vh;

    &:nth-child(odd) {
        font-size: 3.038vh;
    }

    &__wrap {
        text-align: center;
        width: 88%;
        margin: 0 auto;
        padding: 1.215vh 0;

        &--first {
            background: linear-gradient(180deg, #FFFFFF 0%, #989898 55.5%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &--last {
            margin-bottom: 0;
            background: linear-gradient(0deg, #FFFFFF 0%, #989898 55.5%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &--active {
            color: var(--color-main-order);
            font-size: 3.645vh;
            border-top: 1px solid;
            border-bottom: 1px solid;

            .date-picker__cont {
                color: var(--color-main-order);
            }
        }
    }

    &__cont {
        display: inline-block;
        color: var(--color-dark-grey);

        &--15 {
            width: 15%;
        }

        &--45 {
            width: 45%;
        }

        &--32 {
            width: 32%;
        }
    }
}