<div class="footer-menu">
    <div class="footer-menu__item">
        <span class="icon footer-menu__icon icon-grid"></span>
        <span class="footer-menu__text footer-menu__text--active">Важное</span>
    </div>
    <div class="footer-menu__item">
        <span class="icon footer-menu__icon icon-box1"></span>
        <span class="footer-menu__text">Заказы</span>
    </div>
    <div class="footer-menu__item">
        @@include('../switch_express/switch-express.html')
        <span class="footer-menu__text footer-menu__text--bold footer-menu__text--express">Экспресс</span>
    </div>
    <div class="footer-menu__item">
        <span class="icon footer-menu__icon icon-circle-search"></span>
        <span class="footer-menu__text">Поиск</span>
    </div>
    <div class="footer-menu__item">
        <span class="icon footer-menu__icon icon-plus2"></span>
        <span class="footer-menu__text">Контакты</span>
    </div>
</div>