.footer-menu {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    background-color: var(--bg-white-1);
    padding: 1.701vh 2.43vh;
    gap: 2.308vh;

    &__item {
        width: 7.168vh;
        height: 6.196vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .switch-express {
            margin-bottom: 0.85vh;
        }
    }

    &__icon {
        font-size: 2.794vh;
        margin-bottom: 1.215vh;
        color: var(--color-main-order);
    }

    &__text {
        color: var(--color-dark2);
        font-size: 1.458vh;
        &--bold {
            font-weight: 700;
        }
        &--express {
            color: var(--color-purpur);;
        }
        &--active {
            color: var(--color-main-order);
        }
    }
}