<div class="parameters @@delivery-type @@parcel-type @@dimensions-carrying">
        <div class="parameters__body">
            <span class="parameters__title">@@title</span>
            <div class="parameters__items">
                @@if (type === 'delivery') {
                @@loop('../../../../../elements/type_item/type-item.html',
                    [{"id": "on-foot", "name": "delivery-type", "text": "Пеший", "type": "input", "radio-checkbox":"radio", "parcel":""},
                    {"id": "on-car", "name": "delivery-type", "text": "На легковом а/м", "type": "input", "radio-checkbox":"radio", "parcel":""},
                    {"id": "on-cargo", "name": "delivery-type", "text": "На грузовом а/м", "type": "input", "radio-checkbox":"radio", "parcel":""},
                    {"id": "premium", "name": "delivery-type", "text": "Легковой премиум", "type": "input", "radio-checkbox":"radio", "parcel":"true", "type-item__icon":"&#xe94d"}]
                    )
                }

                @@if (type === 'parcel') {
                    @@loop('../../../../../elements/type_item/type-item.html',
                    [{"id": "food", "name": "parcel-type", "text": "Еда", "type": "input", "radio-checkbox":"checkbox", "parcel":""},
                    {"id": "non-standart", "name": "parcel-type", "text": "Нест-ый", "type": "input", "radio-checkbox":"checkbox", "parcel":""},
                    {"id": "package", "name": "parcel-type", "text": "Пакет", "type": "input", "radio-checkbox":"checkbox", "parcel":""},
                    {"id": "box", "name": "parcel-type", "text": "Коробка", "type": "input", "radio-checkbox":"checkbox", "parcel":""},
                    {"id": "exemplary", "name": "parcel-type", "text": "Прим-ый", "type": "input", "radio-checkbox":"checkbox", "parcel":""}]
                    )
                }

                @@if (type === 'dimensions') {
                    <div class="parameters__dimensions">
                        <div class="parameters__dimensions-item">
                            <label for="length" class="parameters__dimensions-label">Длина(см)</label>
                            <input type="number" id="length" class="parameters__dimensions-input">
                        </div>
                        <div class="parameters__dimensions-item">
                            <label for="width" class="parameters__dimensions-label">Ширина(см)</label>
                            <input type="number" id="width" class="parameters__dimensions-input">
                        </div>
                        <div class="parameters__dimensions-item">
                            <label for="height" class="parameters__dimensions-label">Высота(см)</label>
                            <input type="number" id="height" class="parameters__dimensions-input">
                        </div>
                        <div class="parameters__dimensions-item">
                            <label for="weight" class="parameters__dimensions-label">Вес(кг)</label>
                            <input type="number" id="weight" class="parameters__dimensions-input">
                        </div>
                    </div>
                }

                @@if (type === 'carrying') {
                    <div class="parameters__carrying">
                        <input type="text" placeholder="10т" class="parameters__carrying-input">
                    </div>
                }
            </div>

            @@if (parcelarrow === 'true') {
                <span class="icon @@type-item__icon"></span>
            }
        </div>
</div>