.parameters {
    width: 29.875rem;
    height: 5.875rem;
    border-radius: 8px 16px 16px 8px;
    padding: 0 0 0 0.5rem;
    position: relative;
    margin-bottom: 0.875rem;

    &__body {
        height: 100%;
        border-radius: 0 8px 8px 0;
        text-align: left;
        padding: 11px 20px 19px 20px;
        position: relative;


    }

    &__title {
        font-size: 16px;
        display: block;
        margin-bottom: 15px;
        font-family: 'Roboto Condensed', sans-serif;
    }

    &__items {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        overflow: hidden;
        flex-wrap: wrap;
    }

    &.delivery-type {
        background: linear-gradient(180.43deg, #8CBAFF 0.53%, #4E95FF 99.63%);

        .parameters__body {
            background-color: var(--color-light-grey8);
            padding-right: 0;

            .parameters__items {
                overflow-x: scroll;
                flex-wrap: nowrap;
                padding: 0 0 9px 0;
                height: 42px;

                &::-webkit-scrollbar {
                    height: 4px;
                    background-color: transparent;
                }

                &::-webkit-scrollbar-track {
                    background-color: transparent;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #83B5FF;
                    border-radius: 3px;
                    width: 200px;
                }

                .type-item {
                    input+label {
                        border-color: var(--bg-white-2);
                        color: var(--bg-white-2);
                    }

                    input:checked+label {
                        background-color: var(--bg-white-2);
                        color: var(--color-white);
                        border-color: var(--bg-white-2);
                    }
                }
            }
        }
    }

    &.parcel-type {
        background: linear-gradient(180.43deg, #747CD6 0.53%, #515ABD 99.63%);

        .parameters__body {
            background-color: #EFF0FF;
            padding-right: 0;

            .parameters__items {
                gap: 5px;
                margin: 0;
                padding-bottom: 2px;

                .type-item {

                    input+label {
                        border-color: var(--color-main-order);
                        color: var(--color-main-order);
                    }

                    input:checked+label {
                        background-color: var(--color-main-order);
                        color: var(--color-white);
                    }
                }

                .icon-arrow {
                    margin-bottom: 15px;
                    display: block;
                    position: absolute;
                    transform: rotate(-90deg);
                    color: var(--color-main-order);
                    right: 32px;
                    top: 39px;
                    cursor: pointer;
                }
            }
        }
    }

    &.dimensions-carrying {
        background: linear-gradient(180deg, #EFF0FF 0%, #E1E3FF 100%);

        .parameters__body {
            background-color: #fff;
            padding-right: 0;
            filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.1));
            padding: 11px 20px 19px 20px;
        }
    }

    &__dimensions {
        gap: 1px;
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        overflow: hidden;
        flex-wrap: wrap;
        height: auto;
    }

    &__dimensions-item {
        display: flex;
        flex-direction: column;
        width: 24.7%;
        margin: 0;
    }

    &__dimensions-label {
        color: var(--color-blue-18);
        text-align: center;
        padding-bottom: 0.563rem;
        align-items: center;
        font-size: 0.875rem;
    }

    &__dimensions-input {
        border: none;
        background: var(--bg-white-1);
        font-weight: 700;
        font-size: 0.875rem;
        text-align: center;
        color: var(--color-lilac);
        height: 1.75rem;

        &#length {
            border-radius: 8px 0px 0px 8px;
        }

        &#weight {
            border-radius: 0px 8px 8px 0px;
        }

        &:focus {
            background-color: var(--color-light-grey22);
        }
    }

    &__carrying {
        display: flex;
        justify-content: center;
        height: 2rem;
        width: 100%;
    }

    &__carrying-input {
        background: var(--bg-white-1);
        border-radius: 20px;
        text-align: center;
        line-height: 1.75rem;
        font-weight: 700;
        font-size: 0.875rem;
        color: var(--color-main-order);
        width: 5.438rem;

        &::placeholder {
            color: var(--color-lilac);
            opacity: 0.5;
        }
    }
}