.page-body {
    &__desc {
        margin: 4.188rem auto 2.313rem auto;
        width: 65%;
    }

    &__desc-text {
        display: block;
        font-size: 0.75rem;
        color: var(--color-noabsolut);
        text-align: center;
        margin-bottom: 0.75rem;
    }

    &__control {
        margin: 0 auto;
    }

    .checkbox {
        margin-bottom: 0.875rem;

        &__label {
            font-size: 0.75rem !important;
            color: var(--color-noabsolut);
            margin-left: 1.375rem;
        }
    }

    &__button {
        margin: 0 auto;
        margin-top: 1.875rem;
    }

}