    <div class="c-select" id="@@id-div">
      <span class="c-select__title">@@title<span class="icon icon-arrow"></span></span>
      <ul class="c-select__ul" id="@@id-ul">
        <li class="c-select__li">
          <input type="checkbox" class="c-select__input" id="b2b">
          <label class="c-select__label" for="b2b">
            <span class="c-select__number">1</span>
            <span class="c-select__scope" data-znach="b2b">B2B-услуги</span>
            <span class="span-plus"></span>
          </label>
        </li>
      </ul>
    </div>
    <script>
        let menuElem = document.getElementById('div-select');
        let titleElem = menuElem.querySelector('.c-select__title');
        let liElem = document.querySelectorAll('.c-select__ul');
        titleElem.onclick = function() {
            menuElem.classList.toggle('open');
        };
        
    </script>