.c-select {
    width: 454px;

    &__title {
        display: block;
        border-radius: 15px;
        border: 1px solid var(--color-dark-input);
        background-color: transparent;
        padding: 20px;
        color: var(--color-dark-input);
        background-position: 290px -145px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        font-size: 1.063rem;
        font-weight: 700;
        position: relative;
        cursor: pointer;

        .icon-arrow {
            position: absolute;
            top: 24px;
            right: 30px;
            font-weight: 700;
        }
    }

    &.open &__ul {
        display: block;
        margin-top: 0.938rem;
    }

    &__ul {
        padding: 0;
        position: relative;
        margin-top: 0.938rem;
        display: none;

        .c-select__li {
            position: relative;
            cursor: pointer;
            display: block;
            margin-top: .5rem;

            .c-select__input {
                &:checked+label {
                    span {
                        background: var(--bg-white-2);
                        color: var(--color-white);
                    }
                    span.span-plus::before {
                        top: 27px;
                        width: 5.75px;
                        transform: rotate(50deg);
                        left: 19px;
                        background-color: var(--color-white);
                    }
                    .span-plus::after {
                        top: 23px;
                        width: 15.75px;
                        transform: rotate(-60deg);
                        left: 18.75px;
                        background-color: var(--color-white);
                    }
                }
            }

            .c-select__label {
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                .c-select__number {
                    color: var(--bg-white-2);
                    background: var(--bg-white-1);
                    border-radius: 15px;
                    display: block;
                    text-align: center;
                    line-height: 50px;
                    width: 50px;
                    height: 50px;
                }

                .c-select__scope {
                    color: var(--bg-white-2);
                    background: var(--bg-white-1);
                    border-radius: 15px;
                    display: block;
                    width: 344px;
                    height: 50px;
                    padding: 15px 12px;
                }



                .span-plus {
                    display: block;
                    color: var(--bg-white-2);
                    background: var(--bg-white-1);
                    border-radius: 15px;
                    text-align: center;
                    line-height: 50px;
                    width: 50px;
                    height: 50px;
                    position: relative;

                    &::before,
                    &::after {
                        content: "";
                        display: block;
                        width: 13px;
                        height: 1.5px;
                        background-color: var(--bg-white-2);
                        border-radius: 2px;
                        position: absolute;
                        top: 24.25px;
                        left: 18.5px;
                    }

                    &::after {
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }
}