<div class="input-file">

    @@if (label === 'text') {
    <label for="@@id" class="input-file__label">
        <span class="input-file__text">Загрузить резюме <span class="input-file__text input-file__text--small">(pdf,
                doc)</span></span>
        <span class="icon input-file__icon icon-plus"></span>
    </label>
    }

    @@if (label === 'name') {
    <label for="@@id" class="input-file__label">
        <span class="input-file__text">Название загруженного резюме</span>
        <span class="icon input-file__icon icon-check_mark"></span>
    </label>
    }

    <input id="@@id" type="file" class="input-summary" accept=".doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
</div>