.input-file {
    margin-top: 3.645vh;

    &__label {
        width: 100%;
        padding: 1.823vh 2.43vh;
        border-radius: 8px;
        border: 1px solid var(--color-main-order);
        font-weight: 400;
        color: var(--color-main-order);
        display: block;
        position: relative;
    }

    &__text {
        display: block;
        font-family: 'Roboto Condensed', sans-serif;
        color: var(--color-main-order);
        font-size: 2.066vh;
        padding: 0;
        font-weight: 500;

        &--small {
            font-size: 1.580vh;
            display: inline-block;
        }
    }

    &__icon {
        position: absolute;
        top: 1.944vh;
        right: 3.281vh;
        font-size: 2.430vh;
    }
}