<nav class="menu__navigation scroll">
    <ul>
        <li> <span class="icon icon-screen"></span><a href="">Личный кабинет</a></li>
        <li> <span class="icon icon-checklist"></span><a href="">Мои заказы</a></li>
        <li> <span class="icon icon-express"></span><a href="">Экспресс заказы</a></li>
        <li> <span class="icon icon-tab"></span><a href="">История заказов</a></li>
        <li> <span class="icon icon-screen"></span><a href="">Поиск курьеров</a></li>
        <li> <span class="icon icon-dollar"></span><a href="">Акцептованнные курьеры</a></li>
        <li> <span class="icon icon-graph"></span><a href="">Параметры заказов</a></li>
        <li> <span class="icon icon-stuff"></span><a href="">Склады и точки доставки</a></li>
        <li> <span class="icon icon-bookmark"></span><a href="">Подписки</a></li>
        <li> <span class="icon icon-setting"></span><a href="">Настройки кабинета</a></li>
        <li> <span class="icon icon-info"></span><a href="">Информационные материалы</a></li>
    </ul>
</nav>