nav.menu__navigation {
    align-self: stretch;
    color: var(--color-noabsolut);

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            padding-left: 0.938rem;
            font-size: 0.75rem;
            position: relative;
            display: flex;
            align-items: center;
            height: calc(0.75rem + 26px);
            &.active, &:hover {
                background-color: var(--color-active);
                border-left: 3px solid var(--color-blue);
                padding-left: 0.75rem;
                color: var(--color-absolut);
            }
            span {
                font-size: 0.875rem;
                flex: 0 0 18%;
            }

            a {
                font-size: inherit;
                flex: 0 0 72%;
            }
        }
    }
}
nav.menu__navigation ul li.active span, nav.menu__navigation ul li:hover span {
    color: var(--color-blue);
}