.text {
    display: block;

    &--f-s-18 {
        font-size: 2.187vh;
    }

    &--f-s-21 {
        font-size: 2.551vh;
    }

    &--f-w-light {
        font-weight: 400;
    }

    &--f-w-middle {
        font-weight: 500;
    }

    &--f-w-bold {
        font-weight: 700;
    }

    &--center {
        text-align: center;
    }

    &--margin-bottom-45 {
        margin-bottom: 5.468vh;
    }

    &--margin-bottom-60 {
        margin-bottom: 7.29vh;
    }

    &--color-grey {
        color: var(--color-input);
    }

    &--color-white {
        color: var(--color-white);
    }
}