<div class="checkbox @@size @@color">
    <input id="@@id" type="checkbox" class="checkbox__input">
    <label for="@@id" class="checkbox__label">@@label
        @@if (star === 'true') {
        <span class="bg-red">*</span>
        }
    </label>

</div>