.checkbox {

    &__label {
        font-size: 1rem;
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;

    }

    &__input {
        &:checked+label {
            &::before {
                content: "\e944";
                font-family: 'agropoisk';
                border: 1px solid;
                color: var(--color-white);
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }
    }

    &__input+label {
        &::before {
            content: "";
            border: 1px solid var(--color-dark-grey);
            border-radius: 6px;
        }
    }

    &--small {
        .checkbox__input+label {
            &::before {
                width: 21px;
                height: 21px;
            }
        }

        .checkbox__input {
            &:checked+label {
                &::before {
                    font-size: 0.813rem;
                }

            }
        }
    }

    &--large {
        .checkbox__input+label {
            &::before {
                width: 24px;
                height: 24px;
            }
        }

        .checkbox__input {
            &:checked+label {
                &::before {
                    font-size: 0.938rem;
                }

            }
        }
    }


    &--color-main-order {
        .checkbox__input {
            &:checked+label {
                &::before {
                    border-color: var(--color-main-order);
                    background-color: var(--color-main-order);
                }
            }
        }
    }

    &--bg-white-2 {
        .checkbox__input {
            &:checked+label {
                &::before {
                    border-color: var(--bg-white-2);
                    background-color: var(--bg-white-2);
                }
            }
        }
    }

}