<div class="card-company @@card-type" data-pay="@@data-pay" data-status="@@data-status" data-id="@@data-id" data-contact="@@data-contact">

    <div class="card-company__body">
        <span class="card-company__name">@@name</span>
        <span class="card-company__contact">@@contact</span>
        <div class="card-company__content">
            @@include('../delivery_item/delivery-item.html', {"border-left": "", "icon": "icon-track", "text":
            "Грузовой"})
            @@include('../delivery_item/delivery-item.html', {"border-left": "delivery-item--border-left", "icon":
            "icon-car2", "text": "На автомобиле"})
        </div>
        <div class="card-company__footer">
            <span class="card-company__footer-icon icon-dollar1 icon"></span>
            <span class="card-company__footer-text">Компания готова оплатить Вашу подписку</span>
        </div>
        <div class="card-company__icon-type">
            <span class="icon @@icon"></span>
        </div>
        <div class="card-company__icon-status">
            <span class="icon icon-check_mark"></span>
        </div>
        <div class="card-company__switch-status">
            @@include('../switch/switch.html')
        </div>
    </div>

</div>