.card-company {
    border-radius: 8px;
    background-color: var(--bg-white-1);
    width: 100%;
    color: var(--color-main-order);
    padding: 0.75rem 0;
    margin-bottom: 2.43vh;
    position: relative;

    &__content {
        display: flex;
        justify-content: space-around;
    }

    &__name {
        margin-bottom: 2.43vh;
        font-size: 1.944vh;
        font-weight: 700;
        text-align: center;
        display: block;
    }

    &__contact {
        display: none;
    }

    &__footer {
        display: none;
    }

    &__icon-type {
        display: none;
    }

    &__icon-status {
        display: none;
    }

    &__switch-status {
        display: none;
    }

    .delivery-item {
        color: var(--color-main-order);
    }

    &--express {
        background-color: var(--color-main-order);
        color: var(--color-white);
        position: relative;

        .delivery-item {
            color: var(--color-white);

            &--border-left::before {
                background-color: var(--color-white);
            }
        }

        .delivery-item__text {
            border-color: var(--color-white);
        }

        .card-company__icon-type {
            display: block;
            position: absolute;
            top: 1.215vh;
            right: 0.972vh;

            .icon-express {
                color: var(--color-purpur);
                font-size: 2.188rem;
                background: radial-gradient(circle, #fff 50%, rgba(212, 124, 226, 0) 0);
            }

            .icon-diamond {
                display: none;
            }
        }

        .switch {
            label {
                input[type=checkbox] {
                    &:checked+.lever {
                        background-color: var(--bg-white-1);
                        outline: 1px solid var(--bg-white-1);
                    }
                }

                .lever {
                    outline: 1px solid var(--bg-white-1);
                }
            }
        }
    }

    &--premium {
        background-color: var(--color-dark);
        color: var(--color-blue-6);
        position: relative;

        .delivery-item {
            color: var(--color-blue-6);

            &--border-left::before {
                background-color: var(--color-blue-6);
            }
        }

        .delivery-item__text {
            border-color: var(--color-blue-6);
        }

        .card-company__icon-type {
            display: block;
            position: absolute;
            top: 2.187vh;
            right: 0.972vh;

            .icon-express {
                display: none;
            }

            .icon-diamond {
                color: var(--bg-white-1);
                font-size: 2.308vh;
                background: var(--color-yellow);
                padding: 0.5rem;
                border-radius: 50%;
            }
        }

        .switch {
            label {
                input[type=checkbox] {
                    &:checked+.lever {
                        background-color: var(--bg-white-1);
                        outline: 1px solid var(--bg-white-1);
                    }
                }

                .lever {
                    outline: 1px solid var(--bg-white-1);
                }
            }
        }
    }

    &[data-pay=true] {
        .card-company__footer {
            margin-top: 1.25rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            &-icon {
                margin-right: 0.625rem;
                font-size: 1.313rem;
            }

            &-text {
                font-weight: 700;
                font-size: 0.75rem;
            }
        }
    }

    &[data-status=pending] {
        .card-company__icon-status {
            display: block;
            position: absolute;
            top: 0.972vh;
            left: 0.972vh;

            .icon-check_mark {
                color: var(--color-yellow);
                font-size: 2.25rem;
            }
        }
    }

    &[data-status=accepted] {

        .card-company__switch-status {
            display: block;
            position: absolute;
            top: 0.972vh;
            right: 0.972vh;
        }

        .card-company__icon-type {
            left: 0.972vh;
        }
    }

    &[data-contact=true] {
        .card-company__contact {
            display: block;
            margin-top: -1.944vh;
            margin-bottom: 1.944vh;
            font-size: 1.701vh;
            text-align: center;
        }
    }

}