<div class="courier-list scroll">
    <div class="courier-list__user" data-status="В пути">
        <div class="courier-list__user-avatar">
            <img src="@@webRoot/img/photo.png" alt="" class="courier-list__user-avatar-img">
        </div>
        <div class="courier-list__user-name">
            <span class="courier-list__user-name-span">Василий Васильев</span>
        </div>
    </div>
    <div class="courier-list__user" data-status="В пути">
        <div class="courier-list__user-avatar">
            <img src="@@webRoot/img/photo.png" alt="" class="courier-list__user-avatar-img">
        </div>
        <div class="courier-list__user-name">
            <span class="courier-list__user-name-span">Василий Васильев</span>
        </div>
    </div>
    <div class="courier-list__user" data-status="В пути">
        <div class="courier-list__user-avatar">
            <img src="@@webRoot/img/photo.png" alt="" class="courier-list__user-avatar-img">
        </div>
        <div class="courier-list__user-name">
            <span class="courier-list__user-name-span">Василий Васильев</span>
        </div>
    </div>
    <div class="courier-list__user" data-status="В пути">
        <div class="courier-list__user-avatar">
            <img src="@@webRoot/img/photo.png" alt="" class="courier-list__user-avatar-img">
        </div>
        <div class="courier-list__user-name">
            <span class="courier-list__user-name-span">Василий Васильев</span>
        </div>
    </div>
    <div class="courier-list__user" data-status="В пути">
        <div class="courier-list__user-avatar">
            <img src="@@webRoot/img/photo.png" alt="" class="courier-list__user-avatar-img">
        </div>
        <div class="courier-list__user-name">
            <span class="courier-list__user-name-span">Василий Васильев</span>
        </div>
    </div>
    <div class="courier-list__user" data-status="Свободен">
        <div class="courier-list__user-avatar">
            <img src="@@webRoot/img/photo.png" alt="" class="courier-list__user-avatar-img">
        </div>
        <div class="courier-list__user-name">
            <span class="courier-list__user-name-span">Василий Васильев</span>
        </div>
    </div>
    <div class="courier-list__user" data-status="Свободен">
        <div class="courier-list__user-avatar">
            <img src="@@webRoot/img/photo.png" alt="" class="courier-list__user-avatar-img">
        </div>
        <div class="courier-list__user-name">
            <span class="courier-list__user-name-span">Василий Васильев</span>
        </div>
    </div>
    <div class="courier-list__user" data-status="Свободен">
        <div class="courier-list__user-avatar">
            <img src="@@webRoot/img/photo.png" alt="" class="courier-list__user-avatar-img">
        </div>
        <div class="courier-list__user-name">
            <span class="courier-list__user-name-span">Василий Васильев</span>
        </div>
    </div>
    <div class="courier-list__user" data-status="Свободен">
        <div class="courier-list__user-avatar">
            <img src="@@webRoot/img/photo.png" alt="" class="courier-list__user-avatar-img">
        </div>
        <div class="courier-list__user-name">
            <span class="courier-list__user-name-span">Василий Васильев</span>
        </div>
    </div>
    <div class="courier-list__user" data-status="offline">
        <div class="courier-list__user-avatar">
            <img src="@@webRoot/img/photo.png" alt="" class="courier-list__user-avatar-img">
        </div>
        <div class="courier-list__user-name">
            <span class="courier-list__user-name-span">Василий Васильев</span>
        </div>
    </div>
    <div class="courier-list__user" data-status="offline">
        <div class="courier-list__user-avatar">
            <img src="@@webRoot/img/photo.png" alt="" class="courier-list__user-avatar-img">
        </div>
        <div class="courier-list__user-name">
            <span class="courier-list__user-name-span">Василий Васильев</span>
        </div>
    </div>
    <div class="courier-list__user" data-status="offline">
        <div class="courier-list__user-avatar">
            <img src="@@webRoot/img/photo.png" alt="" class="courier-list__user-avatar-img">
        </div>
        <div class="courier-list__user-name">
            <span class="courier-list__user-name-span">Василий Васильев</span>
        </div>
    </div>
    <div class="courier-list__user" data-status="offline">
        <div class="courier-list__user-avatar">
            <img src="@@webRoot/img/photo.png" alt="" class="courier-list__user-avatar-img">
        </div>
        <div class="courier-list__user-name">
            <span class="courier-list__user-name-span">Василий Васильев</span>
        </div>
    </div>
    <div class="courier-list__user" data-status="offline">
        <div class="courier-list__user-avatar">
            <img src="@@webRoot/img/photo.png" alt="" class="courier-list__user-avatar-img">
        </div>
        <div class="courier-list__user-name">
            <span class="courier-list__user-name-span">Василий Васильев</span>
        </div>
    </div>
    <div class="courier-list__user" data-status="offline">
        <div class="courier-list__user-avatar">
            <img src="@@webRoot/img/photo.png" alt="" class="courier-list__user-avatar-img">
        </div>
        <div class="courier-list__user-name">
            <span class="courier-list__user-name-span">Василий Васильев</span>
        </div>
    </div>
    <div class="courier-list__user" data-status="offline">
        <div class="courier-list__user-avatar">
            <img src="@@webRoot/img/photo.png" alt="" class="courier-list__user-avatar-img">
        </div>
        <div class="courier-list__user-name">
            <span class="courier-list__user-name-span">Василий Васильев</span>
        </div>
    </div>
    <div class="courier-list__user" data-status="offline">
        <div class="courier-list__user-avatar">
            <img src="@@webRoot/img/photo.png" alt="" class="courier-list__user-avatar-img">
        </div>
        <div class="courier-list__user-name">
            <span class="courier-list__user-name-span">Василий Васильев</span>
        </div>
    </div>
    <div class="courier-list__user" data-status="offline">
        <div class="courier-list__user-avatar">
            <img src="@@webRoot/img/photo.png" alt="" class="courier-list__user-avatar-img">
        </div>
        <div class="courier-list__user-name">
            <span class="courier-list__user-name-span">Василий Васильев</span>
        </div>
    </div>
    <div class="courier-list__user" data-status="offline">
        <div class="courier-list__user-avatar">
            <img src="@@webRoot/img/photo.png" alt="" class="courier-list__user-avatar-img">
        </div>
        <div class="courier-list__user-name">
            <span class="courier-list__user-name-span">Василий Васильев</span>
        </div>
    </div>
</div>