.courier-list {
    margin-top: 1.25rem;
    height: 38rem;
    padding: 0 0.375rem 0 0;
    width: calc(100% + 10px);

    &__user {
        display: flex;
        background-color: var(--color-switch-white);
        margin-bottom: 1px;
        min-height: 3.125rem;
        padding: 0.531rem 0 0.531rem 0.531rem;
        color: var(--color-switch-purpur);
        align-items: center;
        position: relative;
        cursor: pointer;
        overflow: hidden;

        &:first-child {
            border-radius: 8px 8px 0 0;
        }

        &::after {
            content: attr(data-status);
            font-weight: 500;
            font-size: 0.75rem;
            border-left: 0.5px solid var(--color-switch-purpur);
            width: 100%;
            text-align: center;
            min-height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        &[data-status=offline]::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(248, 206, 255, 0.55);
            cursor: no-drop;
        }
    }

    &__user-avatar {
        display: flex;
        align-items: center;
        height: 1.625rem;
    }

    &__user-avatar-img {
        width: 1.75rem;
    }

    &__user-name {
        flex: 0 0 60%;
        text-align: center;
    }

    &__user-name-span {
        font-size: 0.75rem;
        font-weight: 500;
    }
}