<div class="menu__info">
    <span class="avatar"><img src="@@webRoot/img/Foto.png" alt=""></span>
    <div class="menu__name">Apple</div>
    <div class="menu__private-office">
        <a href="">Личный кабинет</a>
    </div>
</div>