<div class="menu__debt-card @@class">
    <span class="icon icon-clover"></span>
    <div class="menu__title">
        @@title
    </div>
    <div class="menu__amount">
        @@amount <span class="icon icon-rubl"></span>
    </div>
</div>