.menu__private {
    padding: 0 0.75rem;

    .menu__info {
        display: flex;
        flex-direction: column;
        align-items: center;

        span.avatar {
            display: inline-block;
            width: calc(4.4 * 0.875rem);
            height: calc(4.4 * 0.875rem);
            overflow: hidden;
            border-radius: 50%;
            position: relative;

            img {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
            }
        }

        .menu__name {
            margin: 0.375rem 0 0.188rem 0;
            font-size: 0.875rem;
        }

        .menu__private-office {
            color: var(--color-noabsolut);
            font-size: 0.875rem;
        }
    }

    .menu__debt {
        display: flex;
        justify-content: space-between;
        margin: 1.563rem 0 2.5rem 0;
        display: none;

        .menu__debt-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 0.5rem;
            padding: 8px;
            color: var(--color-white);
            justify-content: space-between;
            width: 47%;

            &.client {
                background-color: var(--color-main-order);
            }

            &.courier {
                background-color: var(--bg-white-2);
            }

            span.icon {
                font-size: calc(1.8 * 1.05rem);
            }

            .menu__title {
                font-size: calc(0.75 * 0.8334rem);
                line-height: calc(0.85 * 0.9rem);
                margin: 0.625rem 0;
                text-align: center;
                font-weight: 300;
            }

            .menu__amount {
                font-weight: 700;
                font-size: 0.875rem;

                span.icon.icon-rubl {
                    font-size: 0.688rem;
                }
            }
        }

    }

}