<header class="main-content__info">
    <div class="main-content__logo">
        <img src="@@webRoot/img/logo.png" alt="">
    </div>
    <div class="main-content__switch">
        <span>Ищем новых курьеров</span>
        @@include('../../elements/switch/switch.html')
    </div>
    <div class="main-content__switch">
        <span class="main-content__switch-span">Ищем экспресс заказы</span>
        @@include('../../elements/switch/switch.html')
    </div>
    <div class="main-content__profile">
        <div class="main-content__message">
            <span class="icon icon-letter"></span>
        </div>
        <div class="main-content__notice">
            <b class="count">2</b>
            <span class="icon icon-notification @@active"></span>

            @@if (notice === 'true') {
            @@include('../page/body/elements/data/dropdown_notice/dropdown-notice.html')
            }
        </div>
        <div class="main-content__name">
            <div class="main-content__photo">
                <span class="card__img"><img src="@@webRoot/img/Foto.png" alt=""></span>
            </div>
            <div class="main-content__data">
                <p class="main-content__firm">ООО “Ромашка”</p>
                <p class="main-content__link"><a href="#">Профиль</a></p>

            </div>
            @@if (menu === 'true') {
            @@include('../page/body/elements/data/dropdown_menu/dropdown-menu.html')
            }
        </div>
    </div>
</header>