.main-content__info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-grey);
    padding: 0 0 1.313rem 3rem;
    position: relative;
    height: auto;

    .main-content__logo {
        display: flex;
        align-items: center;
    }

    .main-content__switch {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 1.375rem 0.75rem 1.063rem;
        width: 16.625rem;
        box-shadow: 0px 0px 8px rgb(0 0 0 / 10%);
        border-radius: 8px;

        .main-content__switch-span {
            font-size: 0.875rem;
            font-weight: 700;
            color: #5C5C5C;
        }
    }

    .main-content__profile {
        display: flex;
        align-items: center;

        .main-content__message {
            .icon-letter {
                font-size: 1rem;
                color: var(--color-light-grey);
            }
        }
        .main-content__notice {
            margin: 0 2.813rem;
            position: relative;
            z-index: 1;

            .count {
                display: flex;
                color: var(--color-main-order);
                background-color: rgba(68, 77, 185, 0.33);
                padding: 3px 12px 1px 12px;
                font-weight: 700;
                border-radius: 14px;
                align-items: center;
                justify-content: center;
                line-height: 1rem;
                position: absolute;
                top: -1rem;
                right: -1.5rem;
                opacity: 0.9;
                font-size: 0.875rem;
            }
            .icon-notification {
                color: var(--color-light-grey);
                font-size: 1.563rem;

                &--active {
                    color: var(--color-dark);
                }
            }
        }

        .main-content__name {
            display: flex;
            align-items: center;
            position: relative;
            z-index: 1;

            .main-content__photo {
                .card__img {
                    display: inline-block;
                    width: 2rem;
                    height: 2rem;
                    overflow: hidden;
                    border-radius: 50%;
                    position: relative;

                    img {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        width: 100%;
                    }
                }
            }

            .main-content__data {
                p {
                    margin: 0 0 0 13px;
                    font-size: 0.875rem;

                    a {
                        color: var(--color-noabsolut);
                        font-size: 0.875rem;
                    }
                }
            }
        }
    }

}