.options {
    font-size: 2.308vh;
    font-weight: 500;
    color: var(--color-main-order);
    width: 100%;
    position: relative;
    margin-bottom: 3.6vh;

    &__select {
        border: 2px solid transparent;
        border-color: var(--color-main-order);
        border-radius: 8px 8px 8px 8px;
        padding: 1.8vh 2.309vh;

        &::after {
            content: "\e93c";
            font-family: 'agropoisk';
            position: absolute;
            right: 3.159vh;
            top: 2.187vh;
        }
    }

    &__select-arrow-active {
        border-radius: 8px 8px 0px 0px;
        z-index: 99;
    }

    &__select-items {
        position: absolute;
        top: calc(100% - 2px);
        left: 0;
        right: 0;
        z-index: 98;
        border: 2px solid transparent;
        border-radius: 0px 0px 8px 8px;
        border-color: var(--color-main-order);
        border-width: 0.5px 2px 2px 2px;
        background-color: var(--color-white);

        &--hide {
            display: none;
        }
    }

    &__select-item {
        border: 0.5px solid transparent;
        border-color: transparent transparent var(--color-main-order) transparent;
        padding: 2.066vh 2.309vh;
    }
}