<div class="personal-data">
    <div class="personal-data__photo">
        <span class="personal-data__photo-inner"><img src="@@webRoot/img/personal-photo.png" alt=""></span>
    </div>

    @@if (data === 'not-edit') {
    <div class="personal-data__name">
        @@name
    </div>
    @@include('../rating/rating.html')
    }

    @@if (data === 'edit') {
    <div class="personal-data__edit-photo">Изменить фото</div>
    <div class="personal-data__edit-name">
        <input type="text" class="personal-data__input" placeholder="Имя">
        <input type="text" class="personal-data__input" placeholder="Фамилия">
    </div>
    <div class="personal-data__text-wrap">
        <span class="personal-data__text">Вы можете поменять Ф.И.О. </span>
    </div>

    }

</div>