.personal-data {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__photo {
        margin-bottom: 1.579vh;

        &-inner {
            width: 12.515vh;
            height: 12.515vh;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            display: inline-block;
        }
    }

    &__name {
        font-weight: 400;
        font-size: 2.187vh;
        color: var(--color-absolut);
        margin-bottom: 0.607vh;
    }

    &__edit-photo {
        font-weight: 400;
        font-size: 2.187vh;
        color: var(--color-main-order);
    }

    &__edit-name {
        background-color: var(--color-light-grey12);
        border-radius: 8px;
        width: 100%;
        height: 14.702vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;
        margin: 7.897vh 0 1.215vh 0;

        &::after {
            content: "";
            display: block;
            width: 90%;
            height: 1px;
            background-color: var(--color-light-grey13);
            position: absolute;
            left: 2.43vh;
            top: 7.533vh;
        }
    }

    &__input {
        background-color: var(--color-light-grey12);
        font-weight: 400;
        font-size: 2.187vh;
        color: var(--color-absolut);
        height: 3.888vh;
        width: 80%;
        border: none;
    }

    &__text {
        font-weight: 400;
        font-size: 1.579vh;
        color: var(--color-input);
    }

    &__text-wrap {
        text-align: left;
        width: 100%;
    }
}