<div class="button-zone-wrap">
    <button id="select-zone" class="button-zone">
        <span class="icon button-zone__icon icon-plus"></span>
        <span class="button-zone__text">@@text</span>
    </button>
</div>