.button-zone {
    width: 100%;
    height: 26.124vh;
    border: 1px dashed var(--color-main-order);
    border-radius: 8px;
    background-color: transparent;
    font-size: 1.580vh;
    color: var(--color-input);
    margin-bottom: 4.86vh;

    &__icon {
        font-size: 5.103vh;
        color: var(--color-main-order);
        display: block;
        margin: 1.519vh 0;
    }

    &__text {
        display: block;
        margin: 1.519vh 0;
    }
}