<div class="courier-card-preview @@status @@express">
    <div class="courier-card-preview__content">
        <div class="courier-card-preview__header">
            <div class="courier-card-preview__img">
                <img src="@@webRoot/img/photo.png" alt="" class="courier-card-preview__photo">
            </div>
            <div class="courier-card-preview__name">
                <span class="courier-card-preview__fl-name">Василий Васильев (20 лет)</span>
                <span class="courier-card-preview__employment">(безработный, студент)</span>
            </div>
            <div class="courier-card-preview__rating">
                <span class="icon icon-star_rating"></span>
                <span class="icon icon-star_rating"></span>
                <span class="icon icon-star_rating"></span>
                <span class="icon icon-star_rating"></span>
                <span class="icon icon-star_rating"></span>
            </div>
        </div>
        <div class="courier-card-preview__body">
            <div class="courier-card-preview__parcel-item">
                @@loop('../../../../../../elements/type_item/type-item.html',
                [{"id": "food", "name": "food", "text": "Еда", "type": "", "parcel": "false", "type-item__icon": "",
                "radio-checkbox": ""},
                {"id": "non-standard-l/a", "name": "non-standard-l/a", "text": "Нест-ый л/а", "type": "", "parcel":
                "false", "type-item__icon": "", "radio-checkbox": ""},
                {"id": "box", "name": "box", "text": "Коробка", "type": "", "parcel": "false", "type-item__icon": "",
                "radio-checkbox": ""},
                {"id": "box-gr", "name": "box-gr", "text": "Коробка ГР", "type": "", "parcel": "false",
                "type-item__icon": "", "radio-checkbox": ""},
                {"id": "box-gr-heavy", "name": "box-gr-heavy", "text": "Коробка ГР тяж.", "type": "", "parcel": "false",
                "type-item__icon": "", "radio-checkbox": ""},
                {"id": "box-for-l/m", "name": "box-for-l/m", "text": "Коробка для л/м", "type": "", "parcel": "false",
                "type-item__icon": "", "radio-checkbox": ""},
                {"id": "materials", "name": "materials", "text": "Мат-лы", "type": "", "parcel": "false",
                "type-item__icon": "", "radio-checkbox": ""},
                {"id": "furniture", "name": "furniture", "text": "Мебель", "type": "", "parcel": "false",
                "type-item__icon": "", "radio-checkbox": ""},
                {"id": "clothes", "name": "clothes", "text": "Одежда", "type": "", "parcel": "false", "type-item__icon":
                "", "radio-checkbox": ""},
                {"id": "non-standart", "name": "non-standart", "text": "Нест-ый", "type": "", "parcel": "false",
                "type-item__icon": "", "radio-checkbox": ""},
                {"id": "package", "name": "package", "text": "Пакет", "type": "", "parcel": "false", "type-item__icon":
                "", "radio-checkbox": ""}])
            </div>
            <div class="courier-card-preview__delivery-type">
                @@include('../../../../../../elements/type_item/type-item.html',
                {"id": "on-cargo", "name": "on-cargo", "text": "Грузовой", "type": "", "parcel": "true",
                "type-item__icon": "&#xe92a", "radio-checkbox": ""})
            </div>
        </div>
        <div class="courier-card-preview__button">
            @@include('../../../../../../elements/button/button.html', {"type": "", "name": "", "text": "Отправить запрос", "count": "", "b-r": "btn__b-r-15", "border": "btn__border-2", "color": "btn__color-main-order",
            "b-c": "btn__b-c-transporent", "padding": "btn__padding-10", "width": "btn__width-227", "f-s": "btn__f-s-18"})
        </div>

        
    </div>
    @@if (footer === 'true') {
        <div class="courier-card-preview__footer">
            <div class="courier-card-preview__number">
                <ul class="courier-card-preview__list_number">
                    <li class="courier-card-preview__li">+79118452355 <span class="icon courier-card-preview__icon icon-call"></span></li>
                    <li class="courier-card-preview__li">+79118452355 <span class="icon courier-card-preview__icon icon-telegram"></span></li>
                    <li class="courier-card-preview__li">+79118452355 <span class="icon courier-card-preview__icon icon-viber"></span></li>
                    <li class="courier-card-preview__li">+79118452355 <span class="icon courier-card-preview__icon icon-whatsapp"></span></li>
                </ul>
            </div>
            <div class="courier-card-preview__arrow">
                <span class="icon icon-arrow"></span>
            </div>
        </div>
        }
</div>