.courier-card-preview {
    border-radius: 8px 15px 15px 8px;
    padding-left: 0.5rem;
    width: 371px;
    margin-bottom: 1.25rem;
    page-break-inside: avoid;
    position: relative;

    &.courier-card-preview-express {
        margin-top: 13px;

        &::after {
            content: "\e927";
            font-family: 'agropoisk' !important;
            display: block;
            position: absolute;
            color: var(--color-purpur);
            font-size: 1.5rem;
            background: radial-gradient(circle, rgba(255, 255, 255, 1) 50%, rgba(212, 124, 226, 0) 0%);
            top: -12px;
            right: -12px;
        }
    }

    &.send {
        background: rgba(68, 77, 185, 0.5);

        .courier-card-preview__content {
            background-color: #EFF0FF;
            color: var(--color-main-order);
        }

        .parcel-type-item {
            .parcel-type-item__div {
                background-color: var(--color-main-order);
                border-color: var(--color-main-order);
            }
        }

        .delivery-type-item {
            .delivery-type-item__div {
                background-color: var(--color-main-order);
                border-color: var(--color-main-order);
            }
        }

        .btn {
            border-color: var(--color-main-order);
            color: var(--color-main-order);

            &:active {
                background-color: var(--color-main-order);
                color: var(--color-white);
            }
        }
    }

    &.sent {
        background: rgba(66, 142, 255, 0.5);

        .courier-card-preview__content {
            background-color: #EEF5FF;
            color: #428EFF;
        }

        .parcel-type-item {
            .parcel-type-item__div {
                background-color: #428EFF;
                border-color: #428EFF;
            }
        }

        .delivery-type-item {
            .delivery-type-item__div {
                background-color: #428EFF;
                border-color: #428EFF;
            }
        }

        .btn {
            border-color: #428EFF;
            color: #428EFF;

            &:active {
                background-color: #428EFF;
                color: var(--color-white);
            }
        }
    }

    &.accept {
        background: rgba(90, 65, 159, 0.5);

        .courier-card-preview__content {
            background-color: #F3EEFF;
            color: #5A419F;
        }

        .parcel-type-item {
            .parcel-type-item__div {
                background-color: #5A419F;
                border-color: #5A419F;
            }
        }

        .delivery-type-item {
            .delivery-type-item__div {
                background-color: #5A419F;
                border-color: #5A419F;
            }
        }

        .btn {
            border-color: #5A419F;
            color: #5A419F;

            &:active {
                background-color: #5A419F;
                color: var(--color-white);
            }
        }
    }

    .courier-card-preview__content {
        padding: 14px 10px 14px 5px;
        border-radius: 0 8px 0 0;

        .courier-card-preview__header {
            display: flex;
            align-items: center;

            .courier-card-preview__img {
                display: inline-block;
                width: 2.125rem;
                height: 2.125rem;
                overflow: hidden;
                border-radius: 50%;
                position: relative;
                flex: 0 0 10%;
                margin-right: 15px;

                .courier-card-preview__photo {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                }
            }

            .courier-card-preview__name {
                font-size: 14px;
                flex: 0 0 60%;

                .courier-card-preview__fl-name {
                    font-weight: 500;
                }

                .courier-card-preview__employment {
                    font-weight: 400;
                }
            }

            .courier-card-preview__rating {
                display: flex;
                justify-content: center;
                flex: 0 0 28%;

                .icon-star_rating {
                    font-size: 18px;
                }
            }
        }

        .courier-card-preview__body {
            .courier-card-preview__parcel-item {
                display: flex;
                gap: 5px;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                gap: 4px;
                margin: 29px 0 20px 0;
            }

            .courier-card-preview__delivery-type {
                display: flex;
                justify-content: center;
                margin-bottom: 20px;
            }
        }

        .courier-card-preview__button {
            width: 227px;
            margin: 0 auto;
        }
    }

    .courier-card-preview__footer {
        display: flex;
        position: relative;
        justify-content: center;
        border-style: solid;
        border-width: 1px;
        border-radius: 0 0 8px 0;
        border-color: var(--bg-white-1);
        background-color: var(--color-white);

        .courier-card-preview__number {
            overflow: hidden;
            transition: height 0.5s;
            width: 50%;
            display: flex;
            justify-content: center;

            .courier-card-preview__list_number {
                width: 9.5rem;

                .courier-card-preview__li {
                    line-height: calc(1.74 * 0.875rem);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0.438rem 0;
                    color: var(--color-input);
                    font-size: 0.875rem;

                    .courier-card-preview__icon {
                        margin-left: calc(.5 * 0.875rem);
                        font-size: 1.125rem;
                    }

                    .icon-call {
                        color: var(--color-red-dropdown);
                    }

                    .icon-telegram {
                        color: var(--color-telegram);
                    }

                    .icon-viber {
                        color: var(--color-viber);
                    }

                    .icon-whatsapp {
                        color: var(--color-whatsapp);
                    }
                }
            }
        }

        .courier-card-preview__arrow {
            position: absolute;
            right: 0%;
            width: 18%;
            display: flex;
            justify-content: center;
            cursor: pointer;
            height: 100%;
            align-items: flex-start;
            padding-top: 2.3%;

            .icon-arrow {
                font-size: 1.125rem;
                color: var(--color-main-order);
                width: 18%;
                display: flex;
                justify-content: center;
                cursor: pointer;
                align-items: flex-start;
                padding-top: 1%;
                position: absolute;
            }
        }
    }

    .icon-express {
        display: block;
        position: absolute;
        color: var(--color-purpur);
        font-size: 1.5rem;
        background: radial-gradient(circle, rgba(255, 255, 255, 1) 50%, rgba(212, 124, 226, 0) 0%);
    }
}