<div class="slide">

    @@if (slide === '1') {
    <div class="slide__content-img">
        <img src="@@webRoot/img/locations.png" class="slide__img">
    </div>
    <span class="slide__text">Чтобы мы могли подбирать заказы, которые вам удобно доставлять, нам нужно знать в каких
        зонах города вы будете работать.</span>
    <span class="slide__text">Вы сможете выбрать точки где вы забиратете заказы, и точки куда вы готовы доставлять
        заказы.</span>
    }

    @@if (slide === '2') {
    <div class="slide__content-ol">
        <span class="slide__title">Это можно сделать тремя способами!</span>
        <ol class="slide__ol">
            <li class="slide__li">Выбрать точку на карте (просто нажмите пальцем в то место на карте где вы находитесь)</li>
            <li class="slide__li">Включить геолокацию (ваше местоположение выберется автомотически</li>
            <li class="slide__li">Выберите адрес (введите адрес вашего местоположения в поисковую строку)</li>
        </ol>
    </div>
    }

    <div class="slide__switch-slide">
        <span class="slide__circle"></span>
        <span class="slide__circle slide__circle--active"></span>
    </div>

</div>