.slide {
    &__content-img {
        width: 100%;
        text-align: center;
        margin-bottom: 3.159vh;
    }

    &__text {
        margin-bottom: 2.43vh;
        font-size: 2.187vh;
        display: block;
        text-align: center;
    }

    &__content-ol {
        flex-shrink: 0;
        width: 100%;
        position: relative;
    }

    &__title {
        margin-top: 3.402vh;
        font-weight: 500;
        margin-bottom: 2.43vh;
        font-size: 2.187vh;
        display: block;
        text-align: center;
    }

    &__ol {
        padding-left: 4.8%;
    }

    &__li {
        list-style-type: decimal;
        margin-bottom: 1.215vh;
        font-size: 2.187vh;
        padding-left: 1.215vh;
    }

    &__switch-slide {
        text-align: center;
        position: fixed;
        bottom: 27%;
        right: 45%;
        left: 45%;
    }

    &__circle {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        border: 1px solid var(--color-input);
        display: inline-block;
        margin: 0 0.608vh;

        &--active {
            background-color: var(--color-input);
        }
    }
}