/*Обнуляющие стили*/
/*Стили для инпутов*/
/*Стили для кнопок с псевдоклассами*/
:root {
    --color-main-order: #444DB9;
    --color-main-order-2: #3D46AC;
    --color-order: #6065A0;
    --color-card: #5A419F;
    --color-white: #fff;
    --color-blue: #5298FF;
    --color-light: #F7F8FF;
    --color-blue-2: #747CD6;
    --color-lilac: #6065A0;
    --color-blue-3: #5B64CA;
    --color-blue-4: #323CA3;
    --color-blue-5: #27308E;
    --color-blue-6: #E9EBFF;
    --color-blue-7: #D4D8FF;
    --color-blue-8: #E0E3FF;
    --color-switch: #F8CEFF;
    --color-in: #FFC0A5;
    --color-off: #FFCCB6;
    --color-pink: #DC7979;
    --color-absolut: #000;
    --color-dark-input: #131313;
    --color-dark: #1E1E1E;
    --color-dark2: #212121;
    --color-noabsolut: #636363;
    --color-input: #646464;
    --color-noabsolut-opacity: rgba(99, 99, 99, 0.5);
    --color-blue-3: #414AB8;
    --color-telegram: #0088CC;
    --color-viber: #7F6BF4;
    --color-whatsapp: #43D854;
    --color-red-order: #8D2F2F;
    --color-red-dropdown: #CD5959;
    --color-yellow: #CEAA4E;
    --color-cursor: #E4E6FF;
    --color-grey: #F5F5F5;
    --color-dark-grey-2: #141414;
    --color-active: #FAFAFA;
    --color-green: #439550;
    --color-light-grey: #C5C5C5;
    --color-light-grey2: #F9F7F8;
    --color-light-grey3: #C4C4C4;
    --color-light-grey4: #757575;
    --color-light-grey5: #B5B5B5;
    --color-light-grey6: #ECECEC;
    --color-light-grey7: #EEEEEE;
    --color-light-grey8: #A7A7A7;
    --color-light-grey9: #C9C9C9;
    --color-light-grey10: #BBBBBB;
    --color-light-grey11: #E2E2E2;
    --color-light-grey12: #F9F9F9;
    --color-light-grey13: #DDDDDD;
    --color-border: #E0E0E0;
    --color-dark-grey: #989898;
    --bg-white-1: #EFF0FF;
    --bg-white-2: #428EFF;
    --bg-black-2: #333554;
    --color-btn-hover: #3385FF;
    --color-btn-active: #217AFF;
    --color-purpur: #D47CE2;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), local('Roboto-Thin'), url('fonts/Robotothin.woff2') format('woff2'), url('fonts/Robotothin.woff') format('woff'), url('fonts/Robotothin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('fonts/Robotothinitalic.woff2') format('woff2'), url('fonts/Robotothinitalic.woff') format('woff'), url('fonts/Robotothinitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), url('fonts/Robotolight.woff2') format('woff2'), url('fonts/Robotolight.woff') format('woff'), url('fonts/Robotolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('fonts/Robotolightitalic.woff2') format('woff2'), url('fonts/Robotolightitalic.woff') format('woff'), url('fonts/Robotolightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('fonts/Roboto.woff2') format('woff2'), url('fonts/Roboto.woff') format('woff'), url('fonts/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'), url('fonts/Robotoitalic.woff2') format('woff2'), url('fonts/Robotoitalic.woff') format('woff'), url('fonts/Robotoitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url('fonts/Robotomedium.woff2') format('woff2'), url('fonts/Robotomedium.woff') format('woff'), url('fonts/Robotomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('fonts/Robotomediumitalic.woff2') format('woff2'), url('fonts/Robotomediumitalic.woff') format('woff'), url('fonts/Robotomediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('fonts/Robotobold.woff2') format('woff2'), url('fonts/Robotobold.woff') format('woff'), url('fonts/Robotobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('fonts/Robotobolditalic.woff2') format('woff2'), url('fonts/Robotobolditalic.woff') format('woff'), url('fonts/Robotobolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'), url('fonts/Robotoblack.woff2') format('woff2'), url('fonts/Robotoblack.woff') format('woff'), url('fonts/Robotoblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('fonts/Robotoblackitalic.woff2') format('woff2'), url('fonts/Robotoblackitalic.woff') format('woff'), url('fonts/Robotoblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'agropoisk';
    src: url('fonts/agropoisk.eot?1n3una');
    src: url('fonts/agropoisk.eot?1n3una#iefix') format('embedded-opentype'),
        url('fonts/agropoisk.ttf?1n3una') format('truetype'),
        url('fonts/agropoisk.woff?1n3una') format('woff'),
        url('fonts/agropoisk.svg?1n3una#agropoisk') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'agropoisk' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-edit {
    &:before {
        content: "\e95b";
    }
}

.icon-order {
    &:before {
        content: "\e959";
    }
}

.icon-doc {
    &:before {
        content: "\e95a";
    }
}

.icon-dollar1 {
    &:before {
        content: "\e958";
    }
}

.icon-filter {
    &:before {
        content: "\e957";
    }
}

.icon-burger {
    &:before {
        content: "\e956";
    }
}

.icon-arrow_bg {
    &:before {
        content: "\e955";
    }
}

.icon-download {
    &:before {
        content: "\e954";
    }
}

.icon-fix {
    &:before {
        content: "\e953";
    }
}

.icon-serial {
    &:before {
        content: "\e952";
    }
}

.icon-ellipse {
    &:before {
        content: "\e950";
    }
}

.icon-line-out {
    &:before {
        content: "\e951";
    }
}

.icon-star-border {
    &:before {
        content: "\e94f";
    }
}

.icon-star_rating {
    &:before {
        content: "\e94e";
    }
}

.icon-diamond {
    &:before {
        content: "\e94d";
    }
}

.icon-union {
    &:before {
        content: "\e94c";
    }
}

.icon-beacon {
    &:before {
        content: "\e947";
    }
}

.icon-structure {
    &:before {
        content: "\e948";
    }
}

.icon-plus2 {
    &:before {
        content: "\e949";
    }
}

.icon-lightning {
    &:before {
        content: "\e94a";
    }
}

.icon-box1 {
    &:before {
        content: "\e94b";
    }
}

.icon-grid {
    &:before {
        content: "\e946";
    }
}

.icon-tick2 {
    &:before {
        content: "\e944";
    }
}

.icon-bin {
    &:before {
        content: "\e945";
    }
}

.icon-question_mark {
    &:before {
        content: "\e943";
    }
}

.icon-building {
    &:before {
        content: "\e941";
    }
}

.icon-build {
    &:before {
        content: "\e942";
    }
}

.icon-camera {
    &:before {
        content: "\e91c";
    }
}

.icon-tick {
    &:before {
        content: "\e917";
    }
}

.icon-whatsapp {
    &:before {
        content: "\e916";
    }
}

.icon-circle-search {
    &:before {
        content: "\e919";
    }
}

.icon-search {
    &:before {
        content: "\e940";
    }
}

.icon-lock {
    &:before {
        content: "\e93f";
    }
}

.icon-express {
    &:before {
        content: "\e927";
    }
}

.icon-adress_in {
    &:before {
        content: "\e93e";
    }
}

.icon-eye2 {
    &:before {
        content: "\e93d";
    }
}

.icon-time {
    &:before {
        content: "\e901";
    }
}

.icon-time_bold {
    &:before {
        content: "\e906";
    }
}

.icon-circle_bold {
    &:before {
        content: "\e909";
    }
}

.icon-circle {
    &:before {
        content: "\e914";
    }
}

.icon-cross_eye {
    &:before {
        content: "\e915";
    }
}

.icon-arrow {
    &:before {
        content: "\e93c";
    }
}

.icon-person {
    &:before {
        content: "\e900";
    }
}

.icon-human {
    &:before {
        content: "\e902";
    }
}

.icon-child {
    &:before {
        content: "\e903";
    }
}

.icon-setting_vector {
    &:before {
        content: "\e904";
    }
}

.icon-signature {
    &:before {
        content: "\e905";
    }
}

.icon-notification {
    &:before {
        content: "\e907";
    }
}

.icon-rubl {
    &:before {
        content: "\e908";
    }
}

.icon-eye {
    &:before {
        content: "\e90a";
    }
}

.icon-star-bold {
    &:before {
        content: "\e90b";
    }
}

.icon-clover {
    &:before {
        content: "\e90c";
    }
}

.icon-baket_new {
    &:before {
        content: "\e90d";
    }
}

.icon-cross {
    &:before {
        content: "\e90e";
    }
}

.icon-map {
    &:before {
        content: "\e90f";
    }
}

.icon-cloud {
    &:before {
        content: "\e910";
    }
}

.icon-plus {
    &:before {
        content: "\e911";
    }
}

.icon-check_mark {
    &:before {
        content: "\e912";
    }
}

.icon-rub {
    &:before {
        content: "\e913";
    }
}

.icon-letter {
    &:before {
        content: "\e918";
    }
}

.icon-call {
    &:before {
        content: "\e91a";
    }
}

.icon-telegram {
    &:before {
        content: "\e91b";
    }
}

.icon-viber {
    &:before {
        content: "\e91d";
    }
}

.icon-info {
    &:before {
        content: "\e91e";
    }
}

.icon-setting {
    &:before {
        content: "\e91f";
    }
}

.icon-bookmark {
    &:before {
        content: "\e920";
    }
}

.icon-stuff {
    &:before {
        content: "\e921";
    }
}

.icon-graph {
    &:before {
        content: "\e922";
    }
}

.icon-dollar {
    &:before {
        content: "\e923";
    }
}

.icon-tab {
    &:before {
        content: "\e924";
    }
}

.icon-checklist {
    &:before {
        content: "\e925";
    }
}

.icon-screen {
    &:before {
        content: "\e926";
    }
}

.icon-arrow_back {
    &:before {
        content: "\e928";
    }
}

.icon-footprints {
    &:before {
        content: "\e929";
    }
}

.icon-track {
    &:before {
        content: "\e92a";
    }
}

.icon-car {
    &:before {
        content: "\e92b";
    }
}

.icon-car2 {
    &:before {
        content: "\e92c";
    }
}

.icon-feature {
    &:before {
        content: "\e92d";
    }
}

.icon-feature2 {
    &:before {
        content: "\e92e";
    }
}

.icon-box {
    &:before {
        content: "\e92f";
    }
}

.icon-big_box {
    &:before {
        content: "\e930";
    }
}

.icon-furniture {
    &:before {
        content: "\e931";
    }
}

.icon-tools {
    &:before {
        content: "\e932";
    }
}

.icon-list_bold {
    &:before {
        content: "\e933";
    }
}

.icon-card_box {
    &:before {
        content: "\e934";
    }
}

.icon-clothes {
    &:before {
        content: "\e935";
    }
}

.icon-list {
    &:before {
        content: "\e936";
    }
}

.icon-blazer {
    &:before {
        content: "\e937";
    }
}

.icon-package {
    &:before {
        content: "\e938";
    }
}

.icon-packet {
    &:before {
        content: "\e939";
    }
}

.icon-basket {
    &:before {
        content: "\e93a";
    }
}

.icon-food {
    &:before {
        content: "\e93b";
    }
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type=number] {
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    -moz-appearance: textfield;

    &:hover {
        -moz-appearance: number-input;
    }

    &:focus {
        -moz-appearance: number-input;
    }
}

input[type=number] {
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

input[type=radio] {
    &:not(:checked) {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    &:checked {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }
}

input {

    &:focus {
        outline: none;
    }
}

input[type=button] {
    border: none;
    background-color: transparent;
}

textarea {
    &:focus {
        border: none;
        outline: none;
    }
}

select {
    display: none;
}

.radio {
    [type=radio] {
        &:not(:checked)+label {
            position: relative;
            padding-left: 5.589vh;
            cursor: pointer;
            display: inline-block;
            height: 3.038vh;
            line-height: 3.038vh;
            -webkit-transition: .28s ease;
            transition: .28s ease;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            &:before {
                border-radius: 50%;
                border: 1px solid var(--color-dark-grey);
            }

            &:after {
                border-radius: 50%;
                border: 1px solid var(--color-dark-grey);
            }


        }

        &:checked+label {
            position: relative;
            padding-left: 5.589vh;
            cursor: pointer;
            display: inline-block;
            height: 3.038vh;
            line-height: 3.038vh;
            -webkit-transition: .28s ease;
            transition: .28s ease;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            &:before {
                border-radius: 50%;
                border: 1px solid var(--color-main-order);
                border: 1px solid var(--color-main-order);
            }

            &:after {
                border-radius: 50%;
                border: 1px solid var(--color-main-order);
                -webkit-transform: scale(0.5);
                transform: scale(0.5);
                background-color: var(--color-main-order);
                border: 1px solid var(--color-main-order);
            }

        }

        &:checked~label {
            color: var(--color-main-order);
        }
    }

    [type=radio]+label {
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 2.795vh;
            height: 2.795vh;
            z-index: 0;
            -webkit-transition: .28s ease;
            transition: .28s ease;
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 2.795vh;
            height: 2.795vh;
            z-index: 0;
            -webkit-transition: .28s ease;
            transition: .28s ease;
        }
    }
}

.checkbox {
    input[type=checkbox] {
        &:checked~label {
            color: var(--color-main-order);
        }

        &:checked+label {
            &::before {
                content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACrSURBVHgBpZJRDcMwDERPQzAIgVBGC4NBaBl0DAJlEAZhEArBtVVbjapEbt0nRflwfDpfDAQhokwb+YEA3Jj4GnEHFpnVxQ8RxAXtJETgxr8KTIhQhSlCT1xFxzAXGQ17rjLXiwqUVtHUv46LfpgHm3NHxA+TiwOfRR+Oh9rbwoRHlbzwarjMOIPY1YZF3ZVumI7QpxKyO+Eq8lPVaBMiyM7Y/uAOGupw5u0K0tEgwEI6aYkAAAAASUVORK5CYII=);
                border: 1px solid var(--color-main-order);
                background-color: var(--color-main-order);
                text-align: center;
                padding-left: 1px;
                line-height: 30px;
            }
        }
    }

    input[type=checkbox]+label {
        &::before {
            content: "";
            width: 25px;
            height: 26px;
            border: 1px solid var(--color-dark-grey);
            border-radius: 6px;
            margin-right: 2.673vh;
            display: inline-block;
            vertical-align: middle;
            padding-left: 1px;
        }
    }
}

input[type=file] {
    display: none;
}

input[type=checkbox] {
    &:not(:checked) {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    &:checked {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }
}

input {
    &::-webkit-input-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    &::-moz-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    &:-moz-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    &:-ms-input-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    &:focus {
        &::-webkit-input-placeholder {
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &::-moz-placeholder {
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &:-moz-placeholder {
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &:-ms-input-placeholder {
            opacity: 0;
            transition: opacity 0.3s ease;
        }
    }
}

input.validate {
    font-weight: 500;
    font-size: 2.308vh;
    background: var(--color-light-grey2);
    border-radius: 8px;
    color: var(--color-dark-grey);
    border: none;
    padding: 1.04rem 1.375rem;
    outline: none;
    width: 100%;
}

.input-text {
    input.validate {
        &:focus {
            color: var(--color-dark-input);
        }
    }
}

select.mobile-wrap__options {
    &:hover {
        border: 2px solid var(--color-blue-4);
        color: var(--color-blue-4);
    }

    &:active {
        border: 2px solid var(--color-blue-5);
        color: var(--color-blue-5);
        outline: none;
    }
}

html {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: var(--color-noabsolut);
}

.mobile-wrap {
    height: 100%;
    width: calc(100vh / 1.6);
    background-color: var(--color-white);
    background-blend-mode: overlay;
    position: relative;
    color: var(--color-input);

    &__content {
        position: relative;
        height: 100%;
        overflow-y: scroll;
        padding: 0 2.43vh;

        &--height-87 {
            height: 87% !important;
        }

        &--padding {
            padding: 0 !important;
        }

        .card:last-child {
            margin-bottom: 12.15vh;
        }

        .card-company:last-child {
            margin-bottom: 12.15vh;
        }
    }

    &__footer {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 39, 39, .6);
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s;

    &__inner {
        width: 96%;
        margin: 4.374vh auto 1.822vh auto;
    }
}

.card-btn-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0px 2%;

    &--margin {
        margin-bottom: 1.215vh;
    }
}

.card-btn {
    padding: 1.944vh 4.374vh;
    width: 22.478vh;
    border-radius: 15px;
    font-weight: 700;
    font-size: 2.673vh;
    text-align: center;
    color: var(--color-white);
    border: none;

    &--grey {
        background-color: var(--color-dark-grey);
    }

    &--blue {
        background-color: var(--color-main-order);
    }

    &--width {
        width: 100%;
    }
}