.switch-express {
    &__lever {
        content: "";
        display: inline-block;
        position: relative;
        width: 7.168vh;
        height: 3.523vh;
        background-color: inherit;
        border-radius: 30px;
        margin-right: 10px;
        -webkit-transition: background 0.3s ease;
        transition: background 0.3s ease;
        vertical-align: middle;
        margin: 0;
        background-color: var(--color-light-grey11);

        &::before,
        &::after {
            content: '';
            font-family: 'agropoisk';
            position: absolute;
            display: inline-block;
            left: -2px;
            top: -2px;
            transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
            transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease;
            transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
        }

        &::before {
            content: "\e927";
            font-size: 3.523vh;
            color: var(--color-purpur);
            background: radial-gradient(circle,#fff 50%,rgba(212,124,226,0) 0);
        }

        &::after {
            
            background-image: linear-gradient(139.4deg, #FFCCB6 0%, #FFA682 96.87%);
            box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
        }
    }

    &__input:checked+.switch-express__lever {
        background-color: var(--color-switch);

        &::before {
            left: 4.131vh;
        }

        &::after {

            background-color: var(--color-purpur);
        }
    }
}