<div class="switch-express">
    <label class="switch-express__label">
        <input class="switch-express__input" type="checkbox" checked>
        <span class="switch-express__lever"></span>
    </label>
</div>