<div class="form-search">
    <input id="search" type="search" required placeholder="Поиск">
    <label class="label-icon" for="search"><span class="icon icon-search"></span></label>
    <span class="icon icon-cross"></span>
</div>