.main-content__header .form-search {
    margin: 0.813rem 0;
}

.form-search {
	position: relative;
	display: inline-block;
	background: #FFFFFF;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	padding: 0.688rem 1.375rem;
	width: 30%;
	span {
		color: var(--color-light-grey);
		font-size: 1.25rem;
	}
	input#search {
		border: 0;
		outline: none;
		width: 90%;
		font-size: 0.875rem;
		color: var(--color-dark-input);
		font-weight: 700;
		&::-webkit-input-placeholder {
			color: var(--color-light-grey);
		}
		&:-moz-placeholder {
			color: var(--color-light-grey);
		}
		&::-moz-placeholder {
			color: var(--color-light-grey);
		}
		&:-ms-input-placeholder {
			color: var(--color-light-grey);
		}
	}
	input[type=search] {
		&:active {
			border: 0;
			outline: none;
			width: 90%;
		}
		&:focus~label.label-icon {
			display: none;
		}
		&:focus~span.icon.icon-cross {
			display: block;
			top: 0.875rem;
			color: var(--color-light-grey);
		}
		&:active~span.icon.icon-cross {
			display: block;
			top: 0.875rem;
			color: var(--color-light-grey);
		}
	}
	label.label-icon {
		position: absolute;
		right: 22px;
		top: 0.8rem;
	}
	span.icon.icon-cross {
		position: absolute;
		right: 23px;
		cursor: pointer;
		display: none;
	}
}