<div class="checkbox-order-type">
    <div class="checkbox-order-type__item">
        <input id="regular-order" type="@@type" name="order-parameters" class="checkbox-order-type__input" checked>
        <label for="regular-order" class="checkbox-order-type__label checkbox-order-type__label--regular">
        <span class="checkbox-order-type__item-title">Обычный заказ</span>
        </label>
    </div>
    <div class="checkbox-order-type__item">
        <input id="express-order" type="@@type" name="order-parameters" class="checkbox-order-type__input">
        <label for="express-order" class="checkbox-order-type__label checkbox-order-type__label--express">
        <span class="icon icon-express"></span>
        <span class="checkbox-order-type__item-title">Экспресс заказ</span>
        <span class="checkbox-order-type__addition">Доставка в пределах 2 часов</span>
        </label>
    </div>
    <div class="checkbox-order-type__item">
        <input id="premium-order" type="@@type" name="order-parameters" class="checkbox-order-type__input">
        <label for="premium-order" class="checkbox-order-type__label checkbox-order-type__label--premium">
        <span class="icon icon-diamond"></span>
        <span class="checkbox-order-type__item-title">Премиум</span>
        <span class="checkbox-order-type__addition">Легковой автомобиль</span>
        </label>
    </div>
</div>