.checkbox-order-type {
    display: flex;
    position: relative;
    height: auto;
    flex-wrap: wrap;
    gap: 20px;

    &__item {
        margin-bottom: 9px;
    }

    &__label {
        width: 7.438rem;
        height: 6.563rem;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--color-main-order);
        color: var(--color-main-order);
        background-color: transparent;
        cursor: pointer;
        padding: 0 0.163rem;

        &--premium {
            color: var(--color-yellow);
            border-color: var(--color-yellow);
            padding: 0 0.363rem;
        }
    }

    &__input {
        &:checked+label {
            color: var(--color-white);
            background: var(--color-main-order);
        }
    }

    &__input {

        &:checked+.checkbox-order-type__label--premium {
            color: var(--color-white);
            background: var(--color-yellow);
            border-color: var(--color-white);

            .icon-diamond {
                background: var(--color-white);
                color: var(--color-yellow);
            }
        }
    }

    &__item-title {
        font-weight: 700;
        font-size: 0.875rem;
        padding: 0.75rem 0 0.5rem 0;
        display: block;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .icon-express {
        color: var(--color-purpur);
        font-size: 1.438rem;
        background: radial-gradient(circle, rgba(255, 255, 255, 1) 50%, rgba(212, 124, 226, 0) 0%);
    }

    &__addition {
        font-size: 0.688rem;
        font-weight: 400;
        text-align: center
    }

    &__premium {
        color: var(--color-yellow);
        border-color: var(--color-yellow);
        padding: 0 0.363rem;
    }

    .icon-diamond {
        border-radius: 50%;
        border: 1px solid var(--color-yellow);
        padding: 0.25rem;
        font-size: 0.813rem;
    }
}