<!-- Input type: text, email, number, password, search, tel -->

<div class="input-wrap @@center @@margin @@fake">
    @@if (build === 'true') {
        <span class="icon icon-building input-wrap__build"></span>
    }
    @@if (km === 'true') {
        <span class="input-wrap__km" data-km="@@km">1.2 км</span>
    }
    <label for="@@id" class="label" data-label="@@data-label">@@label-text</label>
    <input id="@@id" type="@@type" class="input @@border @@b-r @@b-c @@width @@padding @@f-s @@color @@placeholder-style @@border-color @@weight @@center @@error" placeholder="@@placeholder">
</div>