.input-wrap {
    &--center {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    &--margin-30 {
        margin-bottom: 3.645vh;
    }

    &--margin-20-40 {
        margin: 2.43vh 0 4.86vh 0;
    }

    &--fake {
        border-radius: 15px;
        background: var(--color-light-grey2);
        padding: 2.066vh 2.43vh;
        position: relative;
        overflow: hidden;
    }

    &__km {
        font-size: 1.701vh;
        color: var(--color-dark-grey);
        border-right: 1px solid var(--color-light-grey9);
        padding: 12px 8px 12px 0;
    }

    &__build {
        font-size: 44px;
        position: absolute;
        bottom: 0;
        right: 0px;
        color: var(--color-dark-grey);
    }
}

.input {
    width: 100%;

    &--b-r-8 {
        border-radius: 8px;
    }

    &--border-1 {
        border: 1px solid;
    }

    &--border-2 {
        border: 2px solid;
    }

    &--border-none {
        border: none;
    }

    &--b-c-transporent {
        background-color: transparent;
    }

    &--b-c-color-grey {
        background-color: var(--color-light-grey2);
    }

    &--width-215 {
        width: 65%;
    }

    &--width-200 {
        width: 24.301vh;
        text-align: center;
    }

    &--width-115 {
        width: 13.973vh;
        text-align: center;
    }

    &--padding-10-2 {
        padding: 0 0.243vh 0 1.215vh ;
    }

    &--padding-17-22 {
        padding: 2.065vh 2.673vh;
    }

    &--padding-15-20 {
        padding: 1.822vh 2.43vh;
    }

    &--padding-20 {
        padding: 2.43vh;
    }

    &--f-s-19 {
        font-size: 2.308vh;
    }

    &--f-s-24 {
        font-size: 2.916vh;
    }

    &--color-dark {
        color: var(--color-dark-grey);

        &:focus {
            color: var(--color-dark-input);
            font-weight: 700;
        }
    }

    &--color-white {
        color: var(--color-white);
    }

    &--weight-bold {
        font-weight: 700;
    }

    &--weight-middle {
        font-weight: 500;
    }

    &--weight-light {
        font-weight: 400;
    }

    &--placeholder-dark-gray::placeholder {
        color: var(--color-dark-grey);
    }

    &--placeholder-dark-gray-weight::placeholder {
        color: var(--color-dark-grey);
        font-weight: 500;
    }

    &--placeholder-light-gray::placeholder {
        color: var(--color-light-grey3);
    }

    &--placeholder-letter-spacing::placeholder {
        letter-spacing: 0.972vh;
        padding-left: 0.972vh;
        text-align: center;
        color: var(--color-light-grey3);
        font-weight: 700;

    }

    &--border-color-grey {
        border-color: var(--color-input);
    }

    &--error {
        border: 1px solid var(--color-pink);
    }

    &--center {
        text-align: center;
    }
}

.label {
    font-size: 1.7vh;
    margin-bottom: 1.823vh;
    display: block;
}

[data-label=false] {
    display: none;
}