.type-item {
    white-space: nowrap;
    margin: 0.125rem;
    display: flex;


    input+label,
    &__div {
        border: 1px solid;
        border-radius: 42px;
        padding: 0.313rem 0.5rem;
        cursor: pointer;
        align-items: center;
        font-size: 0.875rem;
        border-color: rgba(68, 77, 185, 0.55);
        color: rgba(68, 77, 185, 0.55);
        font-weight: 400;
        width: fit-content;
        height: 28px;
    }

    input:checked+label,
    &__div {
        background: var(--color-main-order);
        border-color: var(--color-main-order);
        font-weight: 500;
        color: var(--color-white);

        .type-item__icon {
            font-size: 20px;
            margin-left: 10px;
        }

        &--bc {
            border-color: var(--bg-white-1);
            background-color: var(--bg-white-1);
            color: var(--color-main-order);
            display: inline-block;
            margin-right: 1.458vh;
            padding: 0.9vh 1.458vh 0.8vh;
            border-radius: 42px;
            font-weight: 700;
            margin-bottom: 1.215vh;
            height: 3.888vh;
        }
    }

    input#premium+label {
        color: #ceaa4e;
        border-color: #ceaa4e;
        white-space: pre-line;
        line-height: 10px;
        padding: 2px 12px;
    height: 28px;
    position: relative;
    width: 104px;

        .type-item__icon {
            font-size: 14px;
            position: absolute;
            top: 7px;
            right: 7px;
        }
    }

    input#premium:checked+label {
        background-color: #CEAA4E;
        color: var(--color-white);
    }

    &__div {
        cursor: default;
        display: flex;
    }

}