<div class="type-item">
    @@if (type === 'input') {
        <input type="@@radio-checkbox" id="@@id" name="@@name">
        <label for="@@id">@@text
            @@if (parcel === 'true') {
            <span class="type-item__icon icon">@@type-item__icon</span>
            }

        </label>
    }
    @@if (type === '') {
        <div class="type-item__div @@background">@@text
            @@if (parcel === 'true') {
                <span class="type-item__icon icon ccc">@@type-item__icon</span>
            }
           
        </div>
    }
</div>