.helper-text {
    display: flex;
    flex-direction: column;

    &__span {
        display: block;

        &--big {
            font-size: 2.187vh;
            margin-bottom: 2.43vh;
        }

        &--middle {
            font-size: 1.701vh;
        }

        &--small {
            font-size: 1.580vh;
            display: block;
            color: var(--color-dark-grey);
        }

        &--center {
            text-align: center;
        }
    }
}