.entry-input2 {
    .entry-input2__input {
        position: relative;
        font-size: 1.25rem;
        border: 2px solid var(--color-input);
        border-radius: 8px;
        margin: 0.75rem 0 1.875rem 0;
        display: flex;
        align-items: center;
        width: 100%;
        font-weight: 700;
        color: var(--color-dark-input);
        padding: 1.125rem 0.85rem;
    }

    .entry-input2__label {
        font-size: 1.125rem;
    }
}