<div class="express-checkbox">
    <span class="icon icon-express"></span>
    <span class="express-checkbox__text">Ищем только экспресс</span>
    @@include('../../../../../elements/checkbox/checkbox.html', {"label": "", "id":"all-express", "size":"checkbox--large", "color":"checkbox--color-main-order", "star":""})
</div>