.express-checkbox {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.11);
    border-radius: 8px;
    width: 270px;
    height: 50px;
    padding: 11px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 9.5rem;

    .icon-express {
        color: var(--color-purpur);
        font-size: 1.75rem;
        background: radial-gradient(circle, rgba(255, 255, 255, 1) 50%, rgba(212, 124, 226, 0) 0%);
    }

    .express-checkbox__text {
        font-weight: 700;
        font-size: 14px;
        color: #5C5C5C;
    }
}