.radio {
    margin-bottom: 2.43vh;
    position: relative;
    display: flex;

    &__input:not(:checked)+label,
    &__input:checked+label {
        position: relative;
        padding-left: 5.589vh;
        cursor: pointer;
        display: inline-block;
        height: 3.038vh;
        line-height: 3.038vh;
        transition: .28s ease;
        user-select: none;
    }

    &__input:checked~label,
    &__input:checked~label {
        color: var(--color-main-order);
    }

    &__input+label {

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 2.795vh;
            height: 2.795vh;
            z-index: 0;
            transition: .28s ease;
        }
    }

    &__input:checked+label {

        &::after,
        &::before {
            border: 1px solid var(--color-main-order);
        }

        &::after {
            transform: scale(0.5);
            background-color: var(--color-main-order);
        }
    }

    &__label {
        font-size: 2.308vh;
        font-weight: 500;
        color: var(--color-dark-grey);
    }
}