<div class="specification">
    <div class="specification__objects">
        <ul class="specification__list-objects">
            @@loop('../object_specification/object-specification.html',
                    [{"value": "Ламинат напольный"},
                    {"value": "Ламинат напольный"},
                    {"value": "Ламинат напольный"}])
        </ul>
        <span class="specification__add-new-object">Добавить новый предмет<span class="icon icon-plus specification__add-new-object-plus"></span></span>
    </div>
    @@include('../specification_document/specification-document.html', {"document": "none"})
</div>