.specification {
    padding-top: 0.875;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.875rem;

    &__list-objects {
        counter-reset: myCounter;
    }

    &__add-new-object {
        display: block;
        font-size: 0.875rem;
        color: rgba(68, 77, 185, 0.55);
        margin: 0.75rem 0 0.75rem 2.687rem;
        cursor: pointer;
    }

    &__add-new-object-plus {
        font-size: 11.5px;
        margin-left: 35px;
    }
}