<div class="checkbox @@unselectable">
    <input id="@@id" type="checkbox" class="checkbox__input" name="@@name" value="@@value" @@checked>
    <label for="@@id" class="checkbox__label">@@label</label>

    @@if (prompt === 'true') {
        @@include('../question_mark/question-mark.html', {"text":"small", "text-b":"Еда", "text-p":" - это “вид заказа” который включает в себя 1 пакет, весом до 5 кг из супермаркетов либо ресторанов выстрого питания"})
    }
</div>