<li class="object-specification">
    <input type="text" placeholder="..." value="@@value" class="object-specification__input">
    <div class="object-specification__counter">
        <span class="object-specification__counter-minus"></span>
        <input type="number" class="object-specification__counter-input" value="1" class="object-specification__input-counter">
        <span class="object-specification__counter-plus"></span>
    </div>
</li>