.object-specification {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5px;

    &::before {
        counter-increment: myCounter;
        content: counter(myCounter);
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        color: var(--color-main-order);
        font-size: 0.875rem;
        background-color: var(--bg-white-1);
        width: 1.75rem;
        height: 1.75rem;
        line-height: 1.813rem;
    }

    &__input {
        width: 60%;
        background-color: var(--bg-white-1);
        border-radius: 15px;
        font-size: 0.875rem;
        line-height: 1.813rem;
        color: var(--color-main-order);
        padding: 0 0.75rem;
        margin: 0 0.313rem;
    }

    &__counter {
        width: 30%;
        display: flex;
        flex-direction: row;
    }

    &__counter-plus,
    &__counter-minus {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 33%;
        cursor: pointer;
        background-color: var(--bg-white-1);
    }

    &__counter-minus {
        border-radius: 0.938rem 0 0 0.938rem;

        &::before {
            content: "";
            display: block;
            width: 10px;
            height: 1.5px;
            border-radius: 15px;
            background-color: #444DB9;
        }
    }

    &__counter-plus {
        border-radius: 0 0.938rem 0.938rem 0;

        &::before {
            content: "";
            display: block;
            width: 10px;
            height: 1.5px;
            border-radius: 15px;
            background-color: #444DB9;
            transform: rotate(90deg);
            position: absolute;
        }

        &::after {
            content: "";
            display: block;
            width: 10px;
            height: 1.5px;
            border-radius: 15px;
            background-color: #444DB9;
        }
    }

    &__counter-input {
        border-left: 1px solid #fff !important;
        border-right: 1px solid #fff !important;
        text-align: center;
        color: var(--color-main-order);
        width: 33%;
        background-color: var(--bg-white-1);
    }
}