.main-content__header--col {
    flex-direction: column;
    align-items: flex-start!important;

        .main-content__parameters {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 0 0 1.625rem 0;
        }
}
.parameters.parcel-type {
    width: 35.813rem;
}
