<div class="info-order @@disabled info-order--receiving">
    <div class="info-order__table">
        @@include('../../../../../../../elements/input/input.html', {"entry": "", "icon": "", "counter":"", "eye":"",
        "id":"info-delivery-where", "placeholder":
        "Введите адрес", "label": "Куда:", "type":"text", "border":"input--border-none", "b-r":"input--b-r-42",
        "b-c":"input--b-c-bg-white-2", "width":"input--width-100",
        "padding":"input--padding-6-20", "f-s":"input--f-s-13", "color":"input--color-white",
        "placeholder-style":"input--placeholder-color-white", "border-color":"", "weight":"input--weight-bold",
        "data-label":"block"})

        <ul class="info-order__list-stock">
            <li class="info-order__list-stock-item info-order__list-stock-item--check">Г. Люблицы, ул. Л. Ларюшина д. 20
            </li>
            <li class="info-order__list-stock-item info-order__list-stock-item--check">Г. Люблицы, ул. Л. Ларюшина д. 20
            </li>
            <li class="info-order__list-stock-item info-order__list-stock-item--check">Г. Люблицы, ул. Л. Ларюшина д. 20
            </li>
            <li class="info-order__list-stock-item">Г. Люблицы, ул. Л. Ларюшина д. 20</li>
        </ul>

        @@include('../../../../../../../elements/input/input.html', {"entry": "", "icon": "", "counter":"", "eye":"",
        "id":"info-delivery-to-whom", "placeholder":
        "Введите инициалы", "label": "Кому:", "type":"text", "border":"input--border-none", "b-r":"input--b-r-42",
        "b-c":"input--b-c-bg-white-2", "width":"input--width-100",
        "padding":"input--padding-6-20", "f-s":"input--f-s-13", "color":"input--color-white",
        "placeholder-style":"input--placeholder-color-white", "border-color":"", "weight":"input--weight-bold",
        "data-label":"block"})

        @@include('../../../../../../../elements/input/input.html', {"entry": "", "icon": "", "counter":"", "eye":"",
        "id":"info-delivery-phone-number", "placeholder":
        "...", "label": "Номер телефона:", "type":"tel", "border":"input--border-none", "b-r":"input--b-r-42",
        "b-c":"input--b-c-bg-white-2", "width":"input--width-100",
        "padding":"input--padding-6-20", "f-s":"input--f-s-13", "color":"input--color-white",
        "placeholder-style":"input--placeholder-color-white", "border-color":"", "weight":"input--weight-bold",
        "data-label":"block"})

        @@include('../../../../../../../elements/input/input.html', {"entry": "", "icon": "", "counter":"", "eye":"",
        "id":"info-delivery-phone-number", "placeholder":
        "01.02.2021", "label": "Дата доставки:", "type":"number", "border":"input--border-none", "b-r":"input--b-r-42",
        "b-c":"input--b-c-bg-white-2", "width":"input--width-100",
        "padding":"input--padding-6-20", "f-s":"input--f-s-13", "color":"input--color-white",
        "placeholder-style":"input--placeholder-color-white", "border-color":"", "weight":"input--weight-bold",
        "data-label":"block"})

        <div class="info-order__calendar">
            <div class="info-order__calendar-days">
                <span class="info-order__calendar-days-span">ПН</span>
                <span class="info-order__calendar-days-span">ВТ</span>
                <span class="info-order__calendar-days-span">СР</span>
                <span class="info-order__calendar-days-span">ЧТ</span>
                <span class="info-order__calendar-days-span">ПТ</span>
                <span class="info-order__calendar-days-span">СБ</span>
                <span class="info-order__calendar-days-span">ВС</span>
            </div>
            <div class="info-order__calendar-mounthes">
                <span
                    class="icon icon-arrow info-order__calendar-mounthes-icon info-order__calendar-mounthes-icon--left"></span>
                <span class="info-order__calendar-mounth">Ноябрь 2021</span>
                <span
                    class="icon icon-arrow info-order__calendar-mounthes-icon info-order__calendar-mounthes-icon--right"></span>
            </div>
            <div class="info-order__calendar-date">
                <div class="info-order__calendar-date-week">
                    <span
                        class="info-order__calendar-date-week-span info-order__calendar-date-week-span--no-active">1</span>
                    <span
                        class="info-order__calendar-date-week-span info-order__calendar-date-week-span--no-active">2</span>
                    <span
                        class="info-order__calendar-date-week-span info-order__calendar-date-week-span--no-active">3</span>
                    <span
                        class="info-order__calendar-date-week-span info-order__calendar-date-week-span--no-active">4</span>
                    <span
                        class="info-order__calendar-date-week-span info-order__calendar-date-week-span--active">5</span>
                    <span class="info-order__calendar-date-week-span">6</span>
                    <span class="info-order__calendar-date-week-span">7</span>
                </div>
                <div class="info-order__calendar-date-week">
                    <span class="info-order__calendar-date-week-span">8</span>
                    <span class="info-order__calendar-date-week-span">9</span>
                    <span class="info-order__calendar-date-week-span">10</span>
                    <span class="info-order__calendar-date-week-span">11</span>
                    <span class="info-order__calendar-date-week-span">12</span>
                    <span class="info-order__calendar-date-week-span">13</span>
                    <span class="info-order__calendar-date-week-span">14</span>
                </div>
                <div class="info-order__calendar-date-week">
                    <span class="info-order__calendar-date-week-span">15</span>
                    <span class="info-order__calendar-date-week-span">16</span>
                    <span class="info-order__calendar-date-week-span">17</span>
                    <span class="info-order__calendar-date-week-span">18</span>
                    <span class="info-order__calendar-date-week-span">19</span>
                    <span class="info-order__calendar-date-week-span">20</span>
                    <span class="info-order__calendar-date-week-span">21</span>
                </div>
                <div class="info-order__calendar-date-week">
                    <span class="info-order__calendar-date-week-span">22</span>
                    <span class="info-order__calendar-date-week-span">23</span>
                    <span class="info-order__calendar-date-week-span">24</span>
                    <span class="info-order__calendar-date-week-span">25</span>
                    <span class="info-order__calendar-date-week-span">26</span>
                    <span class="info-order__calendar-date-week-span">27</span>
                    <span class="info-order__calendar-date-week-span">28</span>
                </div>
                <div class="info-order__calendar-date-week">
                    <span class="info-order__calendar-date-week-span">29</span>
                    <span class="info-order__calendar-date-week-span">30</span>
                </div>
            </div>
        </div>
        <div class="info-order__time">
            <span class="info-order__time-text">Время доставки:</span>
            <div class="info-order__time-inner">
                <input id="info-receiving-time-from" type="time" name="info-receiving-time-from" value="10:00"
                    class="info-order__time-input">
                <input id="info-receiving-time-to" type="time" name="info-receiving-time-to" value="18:00"
                    class="info-order__time-input">
            </div>
        </div>
    </div>
</div>