.info-order {

    border-radius: 8px 16px 16px 8px;
    width: 100%;
    padding: 0 0 0 0.625rem;
    position: relative;

    .label {
        font-size: 0.813rem;
        line-height: 1rem;
        color: var(--color-absolut);
        letter-spacing: -0.7px;
        margin-bottom: 0.75rem;
    }

    .input-wrap {
        margin-bottom: 1.438rem;
    }

    .input {
        height: 1.75rem;
    }

    &__table {
        display: flex;
        flex-direction: column;
        padding: 0.688rem;
        border-radius: 0 8px 8px 0;
        align-items: center;
        max-height: 663px;
    }

    &__list-stock {
        width: 100%;
        margin-top: -0.625rem;
    }

    &--delivery {

        background: linear-gradient(180.43deg, var(--color-blue-4) 0.53%, var(--color-blue-5) 99.63%);

        .info-order__table {
            background-color: var(--color-light-grey8);
        }

        .info-order__calendar-date-week-span--active,
        .input__time-input,
        .input {
            background-color: var(--bg-white-2);
        }

        .info-order__time-input {
            background: var(--bg-white-2);
        }
    }

    &--receiving {

        background: linear-gradient(180.43deg, var(--color-blue-7) 0.53%, var(--color-blue-8) 99.63%);

        .info-order__table {
            background-color: var(--bg-white-1);
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 11px;
            }

            &::-webkit-scrollbar-thumb {
                background: #989898;
                border-radius: 6px;
                border: 4px solid var(--bg-white-1);
            }
        }

        .info-order__calendar-date-week-span--active,
        .input__time-input,
        .input {
            background-color: var(--color-blue-6);
        }

        .info-order__time-input {
            background: var(--color-blue-6);
        }
    }

    &__calendar {
        background: var(--color-white);
        border-radius: 15px;
        filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.1));
        width: 14rem;
        height: 14.375rem;
        padding: 0.75rem 0 0.375rem 0;
        margin-bottom: 1.438rem;
    }

    &__calendar-days {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        color: var(--color-light-grey9);
    }

    &__calendar-days-span {
        font-size: 0.625rem;
    }

    &__calendar-mounthes {
        font-size: 0.813rem;
        color: var(--color-absolut);
        margin: 1.25rem 0 0.938rem 0;
        display: flex;
        justify-content: space-evenly;
    }

    &__calendar-mounthes-icon {
        cursor: pointer;
    }

    &__calendar-mounthes-icon--left {
        transform: rotate(90deg);
    }

    &__calendar-mounthes-icon--right {
        transform: rotate(-90deg);
    }

    &__calendar-date-week {
        display: flex;
        flex-direction: row;
        color: var(--color-absolut);
    }

    &__calendar-date-week-span {
        width: 14%;
        text-align: center;
        font-size: 0.75rem;
        padding: 0.5rem 0 0.375rem 0;
        cursor: pointer;
    }

    &__calendar-date-week-span--no-active {
        color: var(--color-light-grey9);
        cursor: default;
    }

    &__calendar-date-week-span--active {
        border-radius: 50%;
        color: white;
    }

    &__time {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    &__time-text {
        font-size: 0.813rem;
        line-height: 1rem;
        color: var(--color-absolut);
        letter-spacing: -0.7px;
        display: block;
    }

    &__time-inner {
        width: 100%;
        display: flex;
    }

    &__time-input {
        width: 28%;
        padding: 0.375rem 0 0.25rem 0;
        text-align: center;
        cursor: pointer;
        border-radius: 42px;
        font-weight: 700;
        font-size: 0.813rem;
        color: var(--color-white);
        border: none;
        margin: 0.75rem 0 1.438rem 0;
        height: 1.75rem;
        letter-spacing: -1px;

        &#info-delivery-time-from,
        &#info-receiving-time-from {
            margin: 0.75rem 1.125rem 0.438rem 2.875rem;

            &::before {
                content: 'От';
                position: absolute;
                font-size: 14px;
                color: #989898;
                left: 20px;
                font-weight: 400;
                cursor: initial;
            }
        }

        &#info-delivery-time-to,
        &#info-receiving-time-to {
            margin-bottom: 0.438rem;

            &::after {
                content: 'До';
                position: absolute;
                font-size: 14px;
                color: #989898;
                right: 13px;
                font-weight: 400;
                cursor: initial;
            }
        }

    }



    &__list-stock-item {
        border-radius: 42px;
        padding: 0.375rem 0.75rem 0.375rem 1.25rem;
        font-weight: 700;
        font-size: 0.813rem;
        color: #616BD1;
        border: 1px solid #616BD1;
        margin: 0 0 13px 0;
        width: 100%;
        height: 1.75rem;
        letter-spacing: -1px;
    }

    &__list-stock-item--check {
        background: #616BD1;
        color: var(--color-white);
    }

    &--disabled {
        opacity: 0.5;
    }
}