<div class="main-content__title">
    <h2>@@title</h2>

    <div class="filter-search-couriers">
        <div class="filter-search-couriers__delivery">
            @@include('../../../../../elements/type_item/type-item.html', {"id": "on-car", "name": "delivery-type",
            "text": "На легковом а/м", "type": "",
            "radio-checkbox":"", "parcel":""})
        </div>
        <div class="filter-search-couriers__parcel">
            @@loop('../../../../../elements/type_item/type-item.html',
            [{"id": "food", "name": "parcel-type", "text": "Еда", "type": "", "radio-checkbox":"",
            "parcel":""},
            {"id": "non-standart", "name": "parcel-type", "text": "Нест-ый", "type": "", "radio-checkbox":"",
            "parcel":""},
            {"id": "package", "name": "parcel-type", "text": "Пакет", "type": "", "radio-checkbox":"",
            "parcel":""},
            {"id": "box", "name": "parcel-type", "text": "Коробка", "type": "", "radio-checkbox":"",
            "parcel":""},
            {"id": "exemplary", "name": "parcel-type", "text": "Прим-ый", "type": "", "radio-checkbox":"",
            "parcel":""}]
            )
        </div>
        <span class="icon icon-arrow"></span>
    </div>
</div>