.main-content__title {
    display: flex;

    h2 {
        font-size: 1.313rem;
        font-weight: 400;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .filter-search-couriers {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 2.188rem;

        .filter-search-couriers__delivery {
            .type-item__div {
                background: var(--bg-white-2);
                color: var(--color-white);
                border-color: var(--color-white);
            }
        }

        .filter-search-couriers__parcel {
            display: flex;
            flex-direction: row;
        }

        .icon-arrow {
            font-size: 1rem;
            color: var(--color-main-order);
            margin-left: 1.063rem;
            cursor: pointer;
        }
    }
}