<div class="card">
    <div class="card__body @@card-type" data-price="@@data-price" data-status="@@data-status" data-id="@@data-id">

        <div class="card__type">
            <div class="card__type-svg icon">
                @@card__type-svg
            </div>
            <div class="card__type-text">
                @@card__type-text
            </div>
        </div>

        <div class="card__content">

            <div class="card__order">
                <div class="card__num-order">
                    <span class="card__num-order-text">Заказ №@@num-order</span>
                </div>
                <div class="card__date">
                    <span class="card__date-text">@@date</span><span
                        class="card__date-text card__date-text--border">@@time</span>
                </div>
            </div>

            <div class="card__adress">
                <div class="card__adress-wrap">
                    <span class="icon icon-line-out card__adress-icon"></span><span
                        class="card__adress-text">@@adress1</span>
                </div>
                <div class="card__adress-wrap">
                    <span class="icon icon-ellipse card__adress-icon"></span><span
                        class="card__adress-text">@@adress2</span>
                </div>
            </div>
        </div>

        <div class="card__price">
            <div class="card__price-text">
                @@price <span class="icon icon-rub card__price-icon"></span>
            </div>
        </div>
        <div class="card__icon">
            <span class="icon @@icon"></span>
        </div>
    </div>

</div>