.card {
    margin-bottom: 2.43vh;
    position: relative;

    &__icon {
        display: none;

        .icon-express {
            position: absolute;
            top: -0.607vh;
            right: -0.607vh;
            color: var(--color-purpur);
            font-size: 4.252vh;
            background: radial-gradient(circle, rgba(255, 255, 255, 1) 50%, rgba(212, 124, 226, 0) 0%);
        }

        .icon-diamond {
            color: var(--bg-white-1);
            font-size: 2.308vh;
            background: var(--color-yellow);
            padding: 8px;
            border-radius: 50%;
            position: absolute;
            top: -0.364vh;
            right: -0.364vh;
        }
    }

    &__body {
        display: flex;
        padding: 1.458vh 0;
        align-items: stretch;
        min-height: 15.552vh;
        border-radius: 8px;
        width: 100%;
        margin-bottom: 2.43vh;
        page-break-inside: avoid;
        background: var(--color-blue-6);
        color: var(--color-main-order);

        &--express {
            background-color: var(--color-main-order);
            color: var(--color-white);

            .card__icon {
                display: block;
            }

            .card__date-text--border {
                background-color: var(--color-blue-7);
                border-color: var(--color-blue-7);
                color: var(--color-main-order);
            }
        }

        &--premium {
            background-color: var(--color-dark);
            color: var(--color-white);

            .card__icon {
                display: block;
            }

            .card__date-text--border {
                background-color: var(--color-blue-7);
                border-color: var(--color-blue-7);
                color: var(--color-dark);
            }
        }

        &[data-status=today] {
            border: 1px solid var(--color-main-order);
            background-color: transparent;
            color: var(--color-main-order);

            .card__date-text--border {
                background-color: transparent;
                border-color: var(--color-main-order);
                color: var(--color-main-order);
            }
        }

        &[data-status=tomorrow] {
            border: 1px solid var(--color-blue-6);
            background: var(--color-blue-6);
            color: var(--color-main-order);

            .card__date-text--border {
                background-color: transparent;
                border-color: var(--color-main-order);
                color: var(--color-main-order);
            }
        }

        &[data-price=true] {
            .card__type {
                width: 22%;
            }

            .card__num-order {
                display: none;
            }
        }

        &[data-price=false] {
            .card__type {
                width: 20%;
            }

            .card__price {
                display: none;
            }

            .card__order {
                justify-content: space-between;
            }

            .icon-express {
                top: 10.085vh;
                right: 1.215vh;
            }

            .icon-diamond {
                top: 10.085vh;
                right: 1.215vh;
            }
        }
    }

    &__type {
        border-right-width: 0.5px;
        border-right-style: solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__type-svg {
        font-size: 4.86vh;
        margin-bottom: 1.215vh;
    }

    &__type-text {
        font-size: 1.701vh;
    }

    &__type-svg,
    &__type-text {
        text-align: center;
    }

    &__content {
        padding: 0 2% 0 2%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    &__order {
        justify-content: center;
        display: flex;
        align-items: baseline;
        text-align: center;
        margin-bottom: 2.794vh;
    }

    &__date {
        &-text {
            font-size: 1.701vh;
            font-weight: 700;

            &--border {
                border: 1px solid var(--color-main-order);
                border-radius: 42px;
                padding: 0.486vh 1.701vh;
                text-align: center;
                display: inline-block;
                margin-left: 0.729vh;
            }
        }


    }

    &__adress {
        margin-bottom: 0.85vh;
        min-height: 5.346vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-wrap {
            display: flex;
            position: relative;

            .icon-line-out {
                font-size: 2.916vh;
            }

            .icon-ellipse {
                font-size: 1.822vh;
            }
        }

        &-icon {
            position: absolute;
            top: 0.243vh;
            left: 1.822vh;
        }

        &-text {
            font-size: 1.701vh;
            padding-left: 5.346vh;
        }
    }

    &__price {
        width: 22%;
        border-left-width: 0.5px;
        border-left-style: solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 0.972vh;

        &-text {
            text-align: center;
            font-size: 2.065vh;
            font-weight: 700;
            background-color: var(--color-blue-7);
            color: var(--color-main-order);
            border-radius: 42px;
            padding: 0.364vh 0;
        }

        &-icon {
            font-size: 1.701vh;
        }
    }
}