<div class="entry-input">
    <span class="icon @@icon entry-input__icon"></span>
    <input id="@@id" type="text" class="entry-input__input" placeholder="@@placeholder">
    <label for="@@id" class="entry-input__label">@@label</label>
</div>