.entry-input {
    position: relative;
    font-size: 1.25rem;
    border: 2px solid var(--color-input);
    border-radius: 8px;
    margin-bottom: 1.563rem;
    display: flex;
    align-items: center;

    .entry-input__icon {
        position: absolute;
        font-size: 1.375rem;
        left: 2.063rem;
    }

    .entry-input__input {
        border: none;
        width: calc(100% - 2.5rem);
        margin-left: 4.375rem;
        font-size: 1.313rem;
        font-weight: 700;
        color: var(--color-dark-input);
        padding: 1.125rem 0.85rem 1.125rem 0;
        border-radius: 8px;

        &::placeholder {
            color: var(--color-input);
            opacity: 1;
        }

        &:focus::placeholder {
            opacity: 0;
        }

        &:focus~label,
        &:not(:placeholder-shown)~label {
            opacity: .9;
        }
    }

    .entry-input__label {
        position: absolute;
        top: 0.2rem;
        left: 4.4rem;
        font-size: 0.625rem;
        opacity: 0;
        transition: opacity .5s;
    }
}