<div id="registration__notice" class="registration__notice">
    <div class="registration__allert-error">Вы ввели неверный код! Запросите код повторно</div>
    <div class="registration__new-code">Получить новый код можно через <span id="cooldown">00:00</span></div>
</div>