.registration__notice {
    text-align: center;
    div.registration__allert-error {
        font-size: 0.875rem;
        color: var(--color-pink);
    }
    div.registration__new-code {
        font-size: 0.875rem;
        display: inline-block;
        margin-top: 1.688rem;
    }
}