<div class="question-mark">
    <span class="question-mark__icon question-mark__icon--top"></span>

    @@if (text === "big") {
    <div class="question-mark__help">
        <i class="question-mark__help-i">
            <p class="question-mark__help-p"><b class="question-mark__help-b">Пеший</b> - это “вид доставки” при котором
                курьер прередвигается без помощи стредств требующих
                автомобильных прав любых категорий (Например: пешком, общественном транспорте, велосипеде,
                электросамокате)
                А так же при помощи транспортных средств, требующих категорию М и/или А</p>

            <p class="question-mark__help-p"><b class="question-mark__help-b">На легковом автомобиле</b> - это “вид
                доставки” при котором курьер прередвигается, в первую
                очередь, на личном автомобиле, а так же на любых транспортных средставах, требующих любого типа
                категорий прав управления транспортным средством (кроме М и А), для быстрой доставки малогаборитных
                грузов</p>

            <p class="question-mark__help-p"><b class="question-mark__help-b">На грузовом автомобиле</b> - это “вид
                доставки” при котором курьер прередвигается, в первую
                очередь, на транспортном средстве категории ВЕ, С, СЕ, а так же легковом автомобиле с закрытым
                кузовом (макс. габариты и массу груза, вы сможете в дальнейшем увидеть в “карточке заказа” от
                компании)</p>

            <p class="question-mark__help-p"><b class="question-mark__help-b">Легковой автомобиль премиум</b> - это “вид
                доставки” при котором курьер прередвигается на личном
                автомобиле (с кузовом седан) не старше 2012 года
                Рекомендованная цена автомобиля на момент покупки не должна быть ниже 3.5 млн руб.</p>
        </i>
    </div>
    }

    @@if (text === "small") {
    <div class="question-mark__help question-mark__help--padding">
        <i class="question-mark__help-i">
            <p class="question-mark__help-p"><b class="question-mark__help-b">@@text-b</b>@@text-p</p>
        </i>
    </div>
    }

</div>

<script>
    let parentHelper = document.querySelectorAll('.question-mark');
    console.log(parentHelper);
    parentHelper.forEach((el) => {

        let question_mark = el.querySelector('.question-mark__icon'),
            top_mark = question_mark.classList.contains('question-mark__icon--top'),
            help = el.querySelector('.question-mark__help');
        console.log(top_mark);
        question_mark.addEventListener('click', function () {
            let centerH, beforeH, afterH;
            el.classList.toggle("question-mark--active");
            if (top_mark) {
                centerH = 40,
                    beforeH = (centerH - 24) - 2,
                    afterH = help.offsetHeight - 48 - centerH - 4;
            } else {
                centerH = '-' + (help.offsetHeight - 24) / 2 + 'px',
                    beforeH = ((help.offsetHeight / 2) - 24) - 14,
                    afterH = beforeH - 2;
            }

            help.style.top = '-' + centerH + "px";
            help.style.setProperty('--before-x', beforeH + "px");
            help.style.setProperty('--after-x', afterH + "px");
        });
    });
</script>