.question-mark {
    height: 3.037vh;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.12));
    display: inline-block;
    position: relative;
    z-index: 999;

    &__icon {
        font-size: 2.916vh;
        color: var(--color-dark-grey);
        position: relative;
        vertical-align: middle;
        z-index: 9;
        font-weight: 500;

        &::after {
            content: "\e943";
            font-family: 'agropoisk' !important;
            position: relative;
        }
    }

    &__help {
        display: none;
    }

    &--active {
        .question-mark__help {
            background: #fff;
            opacity: 0.96;
            position: absolute;
            padding: 1.215vh 2.187vh;
            border-radius: 15px;
            left: -85vw;
            top: -40px;
            --before-x: 14px;
            --after-x: 499px;
            width: 83vw;
            display: block;

            &::before {
                content: '';
                display: block;
                height: 15px;
                width: 15px;
                border-radius: 50%;
                background: transparent;
                right: -15px;
                top: var(--before-x);
                position: absolute;
                box-shadow: 7.5px 7.5px #fff;
                transform: rotate(90deg);
            }

            &::after {
                content: '';
                display: block;
                height: 15px;
                width: 15px;
                border-radius: 50%;
                background: transparent;
                right: -15px;
                bottom: var(--after-x);
                position: absolute;
                box-shadow: 7.5px 7.5px #ffffff;
                transform: rotate(180deg);
            }

            &-i {
                font-family: 'Roboto Condensed', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 1.701vh;
                line-height: 1.944vh;
                width: 100%;
                display: inline-block;
            }

            &-p {
                margin: 1.215vh 0;
            }

            &-b {
                font-weight: 600;
                font-family: 'Roboto Condensed', sans-serif;
            }

            &--padding {
                padding: 2.795vh 4.86vh 2.795vh 2.795vh;
            }
        }

        .question-mark__icon {
            &--top {
                &::before {
                    content: '';
                    display: inline-block;
                    background: #FFFFFF;
                    border-radius: 0px 15px 15px 0px;
                    height: 48px;
                    width: 48px;
                    position: absolute;
                    top: -12px;
                    left: -12px;
                }
            }
        }
    }


}