.courier-navigation {
    margin-left: 60px;

    &__li-bold {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 15px;


    }

    &__ul {
        margin-top: 15px;

        li {
            line-height: 22px;
        }

        a {
            &:hover {
                color: var(--bg-white-2);
            }
        }
    }
    
    &__inwork {
        color: var(--color-red-dropdown);

    }
}