html {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: var(--color-noabsolut);
}

.mobile-wrap {
    height: 100%;
    width: calc(100vh / 1.6);
    background-color: var(--color-white);
    background-blend-mode: overlay;
    position: relative;
    color: var(--color-input);

    &--transporent {
        background-color: transparent;
    }

    &__content {
        position: relative;
        height: 100%;
        overflow-y: scroll;
        padding: 0 2.43vh;

        &--display-center {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &__buttons {
        margin-top: 30.5vh;

        .btn {
            margin-bottom: 3.645vh;
        }
    }

    &__footer-btn {
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: 0 2.43vh;
        margin-bottom: 6.075vh;

        &--margin {
            margin-bottom: 1.822vh;
        }
        
        &--margin-45 {
            margin-bottom: 5.467vh;
        }
    }

    &__cour-list-check {
        margin-bottom: 2.43vh;
        position: relative;
        display: flex;
        flex-direction: column;

        &--margin-20 {
            margin: 5.832vh 20% 4.496vh;
        }

        &--margin-25 {
            margin: 5.832vh 25% 4.496vh;
        }

        &--margin-30 {
            margin: 5.832vh 30% 4.496vh;
        }

        &--margin-10 {
            margin: 5.832vh 10% 4.496vh;
        }
    }

    &__text-link {
        font-size: 1.580vh;
        display: block;
        padding: 0px 5%;
        color: var(--color-dark-grey);
        text-align: center;
        text-decoration: underline;
        text-decoration-skip-ink: none;
    }

    &__inner {
        margin-top: 2.916vh;
        position: relative;

        &-parameters {
            margin-bottom: 3.645vh;

            .helper-text {
                margin-bottom: 1.823vh;
            }

            &-row {
                display: flex;
                justify-content: center;
                gap: 13px;
            }
        }

        &--border {
            margin-bottom: 6.075vh;

            &::after {
                content: "";
                background-color: var(--color-light-grey10);
                height: 0.5px;
                display: block;
                width: 33.414vh;
                margin: 6.075vh auto 0 auto;
            }
        }

        &--margin {
            margin-bottom: 3.645vh;
        }

        &--margin-50 {
            margin: 6.318vh 0 6.926vh 0;
        }

        &--margin-top {
            margin-top: -9.113vh;
        }

        &--padding {
            padding-left: 4%;
            padding-right: 0.486vh;
        }
    }

    &__delivery-auto {
        margin-top: 6.8vh;

        &-inner {
            margin-bottom: 3.645vh;
        }
    }
}