.button-file {
    border: 2px solid var(--bg-white-1);
    border-radius: 15px;
    background-color: var(--bg-white-1);
    padding: 1.25rem 0.938rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &[data-file_id="false"] {
        background-color: transparent;

        .button-file__button {
            background: transparent;
            border: 0px;
            border-left: 1px solid var(--bg-white-1);
            color: var(--color-main-order);

        }
    }

    &:last-child {
        margin-bottom: 2.5rem;
    }

    .button-file__text {
        font-weight: 400;
        font-size: 1.125rem;
        color: var(--color-main-order);
    }

    .button-file__button {
        background: transparent;
        border: 0px;
        color: var(--color-main-order);
        border-left: 1px solid var(--color-white);
        padding: 0.938rem 1.25rem;
        
        position: relative;
        right: -15px;
        margin: -15px 0;

        .icon-arrow_bg {
            font-size: 1.25rem;
        }
    }
}